<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <style>
        .cost_chosen , .cost_chosen_del,.cost_item_del,.class-rowspan{
            cursor: pointer;
        }
        .cost_chosen:hover,.class-rowspan:hover{
            color:#38677F;
        }
        .cost_chosen_del:hover,.cost_item_del:hover{
            color:#FF0000;
        }
        .tax-rate{
            width: 60px;
            height: 26px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }
    </style>
    <!-- <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"> -->
    <!-- daterange picker -->
    <!-- <link rel="stylesheet" href="__ADMINT__/bower_components/bootstrap-daterangepicker/daterangepicker.css"> -->
    <!-- <link rel="stylesheet" href="__ADMINT__/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"> -->
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">报价列表</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {:add_btn(get_defined_vars(),"新增报价")}
                    </div>
                    <div class="box-body search-body">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-outbox" style="z-index: 1;">
                <div style="font-size:0.95em;overflow: auto;">
                    <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;">
                    </div>
                    <table id="" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="is-frozen">项目名称</th>
                                <th >项目编号</th>
                                <th>报价批次</th>
                                <th>报价标识</th>
                                <th>报价者</th>
                                <th>报价时间</th>
                                <th>报价</th>
                                <th>增值税率</th>
                                <th>含税报价</th> 
                                <th>审批备注</th>         
                                <th>审批记录</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="{$controlName}-table">
                            {$tables}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12"><div class="dataTables_length" ><label>显示 <select name="pageSize"  class="form-control input-sm search-info">
                    <volist name="entries" id="item"><option value="{$item}">{$item}</option></volist>
                </select> 条</label></div></div>
                <div  class="{$controlName}-page row page-div col-md-10 col-sm-9 col-xs-12" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                    {$pages}
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg modal-full">
            <div class="modal-content"></div>
        </div>
    </div>
    <!-- date-range-picker -->
    <script src="__ADMINT__/dist/js/cost.js?={:time()}"></script>
    <script>
        var poPanel = "";
        var poItem = "";
        var poDel = [];
        var project_offer_initInfo = function(gettype,result) {
            //从后端获取poPanel 模板
            poPanel = result.panel;
            poItem = result.item;
            poDel = [];
            init_chosen("{$url}","getOptionList",".global-modal");
        }
        //搜索
        var project_offer_searchInfo = function (){
            datas['gettype'] = 'Edit'
            datas['id'] = $(tabId+" .global-modal").find(".modal-footer .modal-info[name='id']").val();
        }
        //设置数据
        var project_offer_setInfo = function(info){
            poPanel = info.panel;
            poItem = info.item;
            ['project_id','tax_rate','flag'].forEach(element => {
                $(tabId+" .global-modal").find(" .modal-info[name='"+element+"']").val(info[element])
                if(element == 'project_id'){
                    $(tabId+" .global-modal").find(" .modal-info[name='"+element+"']").prop("disabled",true)
                }
            });
            $(tabId+" .global-modal").find(".modal-footer .modal-info[name='id']").val(info['id'])
            $(tabId+" .global-modal").find(".all-count").text(info['total']);
            $(tabId+" .global-modal").find(".taxed-count").text(float_format((1+float(info['tax_rate']/100))*info['total']));

            if(info['status'] == 1){
                $(tabId+" .global-modal").find(".modal-footer .draft-btn").remove();
            }
            var cost_class = "";
            var item_count = {};
            info['list'].forEach(subElement => {
                // console.log(subElement['class_sort']+"-"+subElement['cost_class'])
                if(cost_class != subElement['class_sort']+"-"+subElement['cost_class']){
                    var poPanelObj = $(poPanel)
                    var idstr = poPanelObj.find(".cost-class-title").attr("href")
                    poPanelObj.find(".cost-class-title").attr("href",idstr+subElement['class_sort'])
                    poPanelObj.find(".cost-class-title").text(subElement['cost_class_name'])
                    poPanelObj.find(".cost-class-alpha").text(alpha(subElement['class_sort']))
                    poPanelObj.find(".cost_class_div").addClass('none')
                    poPanelObj.find(".add-costItem").removeClass('none')
                    poPanelObj.find(".modal-info[name='class_sort']").val(subElement['class_sort'])
                    poPanelObj.find(".modal-info[name='cost_class']").val(subElement['cost_class'])
                    poPanelObj.find(idstr).attr("id",poPanelObj.find(idstr).attr("id")+subElement['class_sort'])
    
                    $(tabId+" .global-modal .box-group ").append(poPanelObj);
                    cost_class = subElement['class_sort']+"-"+subElement['cost_class']
                }
                var poItemOjc = $(poItem);
                ['id','class_notes','classify','sort','item_content','num','unit','act_num','act_unit','price','total'].forEach(modalName => { 
                    if(modalName == 'sort'){
                        poItemOjc.find(".modal-info[name='"+modalName+"']").text(alpha(subElement['class_sort'])+subElement[modalName])
                    }else{
                        poItemOjc.find(".modal-info[name='"+modalName+"']").val(subElement[modalName])
                    }
                });
                if(item_count[subElement['class_sort']] !=undefined){
                    item_count[subElement['class_sort']] += float(subElement['total'])
                }else{
                    item_count[subElement['class_sort']] = float(subElement['total'])
                }
                
                if(subElement['class_sub']>1){
                    poItemOjc.find('td').eq(1).prop('rowspan',subElement['class_sub'])
                }else if(subElement['class_sub'] == 0){
                    poItemOjc.find('td').eq(1).remove();
                }
                $(tabId+" .global-modal .box-group ").find(".panel").eq(subElement['class_sort']).find(".table-items").append(poItemOjc);
                // $this.find(".table-items").append(poItemOjc);
            });
            // console.log(item_count)
            for (var key in item_count) {
                $(tabId+" .global-modal .box-group ").find(".panel").eq(key).find('.class-count').text(float_format(item_count[key]));
            }
            if((info['status'] > 0 && info['status'] !=3 && "{$nodeAuth}"<7 && info['status'] != 10)){    
                $(tabId+" .global-modal").find(".modal-footer .save-info").remove()
            }
            if(( (info['status'] > 0 && info['status'] != 10) || !in_array("{$Think.session.userId}",[info['user_id'],info['puser_id']]) ) && "{$nodeAuth}"<7 && info['status'] !=3){
                $(tabId+" .global-modal").find('.modal-info').prop("disabled",true)
                $(tabId+" .global-modal").find(".add-costClass").remove()
                $(tabId+" .global-modal").find(".box-title .cost_chosen_del").remove()
                $(tabId+" .global-modal").find(".box-title .add-costItem,tbody .class-rowspan").remove()
                $(tabId+" .global-modal").find("table .cost_item_del").remove()
                $(tabId+" .global-modal").find(".box-title .cost_chosen").remove()
            }

        }
        //计算总价
        var compute_count = function(){
            $allCount = 0
            $(tabId+" .global-modal").find(".class-count").each(function(){
                var count = $(this).text()
                if(count){
                    $allCount += float(count);
                }
            })
            // console.log($allCount)
            $(tabId+" .global-modal").find(".all-count").text(float_format($allCount));

            var taxRate = $(tabId+" .global-modal").find(".tax-rate").val(); 
            // console.log(taxRate)
            $(tabId+" .global-modal").find(".taxed-count").text(float_format((1+float(taxRate/100))*$allCount));
        }
        //获取数据
        var project_offer_getInfo = function($this){
            // datas["status"] = 2
            if($($this).data('savetype') && $($this).data('savetype') == "draft"){
                datas["status"] = 10;
            }
            var status = $(tabId+" .global-modal").find(".modal-info[name='status']").val()
            datas["status"] = status != "" ? status : 2
            datas["data"] = {};
            datas["data"]['project_id'] = $(tabId+" .global-modal").find(".modal-info[name='project_id']").val()
            if(datas["data"]['project_id']<=0){
                notice(110,"请选择项目","输入异常");
                throw "请选择项目";
            }
            datas["data"]['flag'] = $(tabId+" .global-modal").find(".modal-info[name='flag']").val()
            var flag_required = $(tabId+" .global-modal").find(".modal-info[name='flag']").attr("required");
            if(flag_required && (datas["data"]['flag']=="" || datas["data"]['flag'] ==0)){
                notice(110,"请输入成本唯一标识","输入异常");
                throw "请输入成本唯一标识";
            }
            datas["data"]['tax_rate'] = $(tabId+" .global-modal").find(".modal-info[name='tax_rate']").val();
            datas["data"]['total'] = $(tabId+" .global-modal").find(".all-count").text();
            datas["data"]['id'] = $(tabId+" .global-modal").find(".modal-footer .modal-info[name='id']").val();
            datas["data"]['list'] = []
            
            $(tabId+" .global-modal").find(".panel").each(function(){
                
                var class_sort = $(this).find(".modal-info[name='class_sort']").val();
                var cost_class = $(this).find(".modal-info[name='cost_class']").val();
                var class_notes = "";
                $(this).find("tbody tr").each(function(){
                    var temp = {class_sort:class_sort,cost_class:cost_class,class_sub:0,class_notes:class_notes};
                    $(this).find(".modal-info").each(function(){
                        var name =$(this).attr("name");
                        var required=$(this).attr("required");
                        var title=$(this).attr("title");
                        if($(this).attr("type")=='checkbox'){
                            if($(this).is(":checked")){
                                val = 1;
                            }else{
                                val = 0;
                            }
                        }else if(name == 'sort'){
                            var val =$(this).text().replace(/^[A-Z]*/,'');
                        }else{
                            var val =$(this).val();
                            if(name=="class_notes"){
                                class_notes = val
                            }
                        }
                        
                        if(name=="class_notes"){
                            var rowspan = $(this).parents("td").prop("rowspan");
                            if(rowspan>1){
                                temp['class_sub'] = rowspan;
                            }else{
                                temp['class_sub'] = 1;
                            }
                        }
                        if(required && (val=="" || val == "0")){
                            notice(110,title,"输入异常");
                            throw title
                        }else{
                            temp[name] = val;
                        }
                    })
                    datas["data"]['list'].push(temp)
                })
                
            })
            if(JSON.stringify(datas["data"]['list']) == "[]" && JSON.stringify(poDel) == "[]"){
                notice(110,"请认真添加数据","输入异常");
                throw "请认真添加数据";
            }
            if(poDel.length > 0){
                datas["dels"] = poDel
            }
            // console.log(datas)
        }
        $(function(){
            $(tabId+" .search-list").trigger("click");            
            //添加主分类按钮事件
            $(tabId+" .global-modal").on("click",".add-costClass",function(){
                var num = $(tabId+" .global-modal .box-group ").find(".panel").length;

                var poPanelObj = $(poPanel)
                var idstr = poPanelObj.find(".cost-class-title").attr("href")
                poPanelObj.find(".cost-class-title").attr("href",idstr+num)
                poPanelObj.find(".modal-info[name='class_sort']").val(num)
                poPanelObj.find(idstr).attr("id",poPanelObj.find(idstr).attr("id")+num)
  
                $(tabId+" .global-modal .box-group ").append(poPanelObj);
                init_chosen("{$url}","getOptionList",$(tabId+" .global-modal .box-group ").find(".panel").eq(num));
            })
            //当分类更改时触发事件
            $(tabId+" .global-modal").on("change",".modal-info[name='cost_class']",function(){
                if($(this).val()!="" || $(this).val()>0){
                    $(this).parents(".box-title").find(".cost-class-title").text($(this).find('option:selected').text());
                    $(this).parents(".cost_class_div").addClass("none")
                    $(this).parents(".box-title").find(".add-costItem ").removeClass("none");
                }
                cost_class_title()
            })
            //分类图标事件
            $(tabId+" .global-modal").on("click",".box-title .cost_chosen",function(){
                if($(this).parents(".box-title").find(".cost_class_div").hasClass("none")){
                    $(this).parents(".box-title").find(".cost_class_div").removeClass("none");
                    $(this).parents(".box-title").find(".add-costItem ").addClass("none");
                }else{
                    $(this).parents(".box-title").find(".cost_class_div").addClass("none");
                    $(this).parents(".box-title").find(".add-costItem ").removeClass("none");
                }
            })
            //分类删除
            $(tabId+" .global-modal").on("click",".box-title .cost_chosen_del",function(){
                $(this).parents(".panel").find(".modal-info[name='id']").each(function(){
                    poDel.push($(this).val())
                })
                $(this).parents(".panel").remove()
                $(tabId+" .global-modal").find(".panel").each(function(index,panel){
                    var alphas = alpha(Number(index))
                    $(panel).find('.cost-class-alpha').text(alphas);
                    $(panel).find(".modal-info[name='class_sort']").val(index);
                    $(panel).find("tbody tr").each(function(sort,tr){
                        $(tr).find("td:first-child").find(".modal-info[name='sort']").text(alphas+(Number(sort) + 1))
                    })
                })
                compute_count()
            })
            //添加子项事件
            $(tabId+" .global-modal").on("click",".box-title .add-costItem,tbody .class-rowspan",function(){
                // var sort = $(this).parents(".panel").find(".table-items tr").length
                // sort = Number(sort) + 1;
                if($(this).parents(".panel").find(".panel-collapse").css("display") == "none"){
                    $(this).parents(".panel").find(".panel-collapse").collapse('toggle')
                }
                var poItemOjc = $(poItem);
                init_chosen("{$url}","getOptionList",poItemOjc);
                if($(this).hasClass("class-rowspan")){
                    var rows = $(this).parents("td").prop("rowspan");
                    rows = Number(rows) + 1;
                    $(this).parents("td").prop("rowspan",rows)
                    poItemOjc.find("td:nth-child(2)").remove();
                    var index = $(this).parents("tbody").find("tr").index($(this).parents("tr"))
                    $(this).parents("tbody").find("tr").eq(Number(rows)+Number(index)-2).after(poItemOjc);
                }else{
                    $(this).parents(".panel").find(".table-items").append(poItemOjc);
                }
                $(this).parents(".panel").find("tbody tr").each(function(sort,tr){
                    var alpha = $(this).parents(".panel").find('.cost-class-alpha').text();
                    $(tr).find("td:first-child").find(".modal-info[name='sort']").text(alpha+(Number(sort) + 1))
                })
                
            })
            //删除子项
            $(tabId+" .global-modal").on("click","table .cost_item_del",function(){
                poDel.push($(this).parents("tr").find(".modal-info[name='id']").val())
                var $parents = $(this).parents(".panel");
                var $prevAll = $(this).parents("tr").prevAll()
                var $nextr = $(this).parents("tr").next()
                var tdNum = $(this).parents("tr").find('td').length
                
                var curRowspan = $(this).parents("tr").find('td').eq(1).attr('rowspan')
                var class_notes = $(this).parents("tr").find(".modal-info[name='class_notes']").val();
                $(this).parents("tr").remove()
                $parents.find("tbody tr").each(function(sort,tr){
                    var alpha = $(this).parents(".panel").find('.cost-class-alpha').text();
                    $(tr).find("td:first-child").find(".modal-info[name='sort']").text(alpha+(Number(sort) + 1))
                })
                if(tdNum > 0 && tdNum < 10){
                    $prevAll.each(function(){
                        var rowspan = $(this).find('td').eq(1).attr('rowspan')
                        if(rowspan){
                            if(rowspan==1){
                                $(this).find('td').eq(1).prop("rowspan",false)
                            }else{
                                $(this).find('td').eq(1).prop("rowspan",Number(rowspan)-1)
                            }
                            return false
                        }
                    })
                }else{
                    tdNum = $nextr.find('td').length
                    if(tdNum > 0 && tdNum < 10){
                        if(curRowspan > 1){
                            var poItemOjc = $(poItem);
                            $nextr.find('td').eq(0).after(poItemOjc.find('td').eq(1))
                        }
                        if(curRowspan > 2){
                            $nextr.find('td').eq(1).prop("rowspan",Number(curRowspan)-1)
                        }
                        $nextr.find(".modal-info[name='class_notes']").val(class_notes);
                    }
                }
                compute_count()
            })
            //合计金额计算
            $(tabId+" .global-modal").on("input",".modal-info[name='num'],.modal-info[name='act_num'],.modal-info[name='num'],.modal-info[name='act_num'],.modal-info[name='price']",function(){
                if($(this).val() < 0 || $(this).val().indexOf("-") >= 0){
                    notice(110,"请不要输入负数","输入异常");
                    $(this).val(1)
                    return
                }
                var $tr = $(this).parents("tr")
                var num = Number($tr.find(".modal-info[name='num']").val());
                var act_num = Number($tr.find(".modal-info[name='act_num']").val());
                var price = float($tr.find(".modal-info[name='price']").val());
                if(num > 0 &&  act_num > 0 && price > 0){
                    $tr.find(".modal-info[name='total']").val(float_format(num * act_num * price,2));
                }else{
                    $tr.find(".modal-info[name='total']").val(0);
                }
                var classCount = 0
                $(this).parents("tbody").find(".modal-info[name='total']").each(function(){
                    classCount += float($(this).val());
                })
                $(this).parents(".panel").find(".class-count").text(float_format(classCount));
                compute_count()
            })
            //更改税率
            $(tabId+" .global-modal").on("input",".modal-info[name='tax_rate']",function(){
                var tax_rate = $(this).val();
                if(tax_rate>0){
                    compute_count();
                }
            })
            // $(tabId+" .global-modal").on("click","tbody .class-rowspan",function(){
            //     var poItemOjc = $(poItem);
                
            //     $(this).parents(".panel").find(".table-items").append(poItemOjc);
            // })
            
            
        })
    </script>
</body>
</html>
