<volist name="list" id="item">
    <tr>
        <td>{$item['processName']}</td>
        <td>{:utf8_substr($item['processDepict'],100,true)}</td>
        <td>{$item['addTime']|date='Y-m-d H:i:s',###}</td>
        <td><gt name="item['updateTime']" value="0" >{$item['updateTime']|date='Y-m-d H:i:s',###}</gt></td>
        <td><span class="label bg-{$statusLabel[$item['status']]}">{$statusType[$item['status']]}</span></td>
        <td class="status-con" data-db="{$dbName}" data-con="{$controlName}" data-id="{$item['processId']}" data-url="{$url}" >
            <button type="button" data-gettype="Edit" data-toggle="modal"  data-url="{$url}" data-vtarget=".global-modal" data-con="{$controlName}" class="btn btn-primary btn-sm v-showmodal"><i class="fa fa-fw fa-eye "></i> 查看 </button>            
            <if condition="$nodeAuth egt 4 ">
                <button type="button" class="btn btn-danger btn-sm status-info" data-status="4" data-reqtype="Del"  >删除</button>
            </if>
        </td>
    </tr>
</volist>
