<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{$title}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label >登陆账号：</label>
                        <input  class="modal-info" title="userId" name="userId" type="hidden">
                        <input class="form-control modal-info" required="required" name="loginName" title="请输入登陆账号" placeholder="登陆账号" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >员工姓名：</label>
                        <input class="form-control modal-info" required="required" name="userName" title="请输入员工姓名" placeholder="员工姓名" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >头像：</label>
                        <div class="input-group">
                            <input class="form-control modal-info upload-file" name="avatar" type="text">
                            <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
                        </div>
                        <!-- <input class="form-control modal-info" name="avatar" title="头像" placeholder="头像" type="text">
                        <input  class="fileupdate" data-input="#info-avatar" type="file"> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label >登录密码：</label>
                        <input class="form-control modal-info" autocomplete="off" required="required" title="请输入登录密码" name="password" placeholder="登录密码" type="password">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >手机号码：</label>
                        <input class="form-control modal-info"  title="手机号码" name="phone" placeholder="手机号码" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">生日：</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-birthday-cake"></i>
                            </div>
                            <input class="form-control pull-right date-input modal-info" name="birthday" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label >性别：</label>
                        <select class="form-control modal-info" required="required" title="请选择性别" name="gender" >
                            <option value="1">男性</option>
                            <option value="2">女性</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >身份证：</label>
                        <input class="form-control modal-info" name="id_card" title="请输入身份证" placeholder="身份证号码" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >电子邮箱：</label>
                        <input class="form-control modal-info" name="email" title="请输入电子邮箱" placeholder="电子邮箱" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label >开户行名称：</label>
                        <input class="form-control modal-info" name="bank_name" title="请输入开户行名称" placeholder="开户行名称" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >银行卡号：</label>
                        <input class="form-control modal-info" name="bank_card" title="请输入银行卡号" placeholder="银行卡号" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >微信号：</label>
                        <input class="form-control modal-info" name="wechat" title="请输入微信号" placeholder="微信号" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label >支付宝账号：</label>
                        <input class="form-control modal-info" name="alipay" title="请输入支付宝账号" placeholder="支付宝账号" type="text">
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <label >用户类型：</label>
                        <select class="form-control modal-info" title="用户类型"  name="userType">
                            <option value="0">全部</option>
                            <volist name="userType" id="item">
                                <option value="{$key}">{$item}</option>
                            </volist>
                        </select>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label >角色：</label>
                        <select class="form-control modal-info chosen-select" required="required" title="请选择角色" name="roleId" >
                            <option value="0">全部</option>
                            <volist name="roleList" id="item">
                                <option value="{$item['roleId']}">{$item['roleName']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >企业微信ID：</label>
                        <input class="form-control modal-info" name="qiye_id" title="请输入企业微信ID" placeholder="企业微信ID" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="form-group">
                <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                    <input class="modal-info"  value="1" name="status" type="hidden">
                    <button type="button" name="0" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-default"></i> 未激活 </button>
                    <button type="button" name="1" class="btn btn-default btn-sm active status-btn"><i class="fa fa-check-square text-green"> 激活 </i>
                    </button>
                    <button type="button" name="2" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-info"></i> 冻结 </button>
                    <button type="button" name="3" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-red"></i> 删除 </button>
                </div>
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
    <if condition="$processAuth['level'] gt 0 or $nodeAuth egt 7">
        <button type="button" class="btn btn-primary save-info" data-con="{$controlName}" data-gettype="{$gettype}" data-url="{$url}" data-modal="true">{$btnTitle}</button>
    </if>
</div>
<script>
    $(function(){
        $(tabId+" .modal-info[name='roleId']").chosen({inherit_select_classes:true,search_contains:true,allow_single_deselect:true})
    })
</script>