<volist name="list" id="item">
    <tr>
        <td>{$item['userId']}</td>
        <td>{$item['qiye_id']}</td>
        <td>{$item['loginName']}</td>
        <td>{$item['userName']}</td>
        <td data-avatar="{$item['avatar']}" class="users-avatar-td"><if condition="$item['avatar'] neq ''"><img src="/{$item['avatar']|imge2thumb}"></if></td>
        <td>{$item['phone']}</td>
        <!-- <td>{:C('userType.'.$item['userType'])}</td> -->
        <td>{:C('regFrom.'.$item['regFrom'])}</td>
        <td>{$roleArr[$item['roleId']]}</td>
        <td>{$item['regTime']|date='Y-m-d H:i:s',###}</td>
        <td>{$item['lastIp']|long2Ip}</td>
        <td>{$item['lastTime']|date='Y-m-d H:i:s',###}</td>
        <td>{$item['loginNum']}</td>
        <td><span class="label bg-{$statusLabel[$item['status']]}">{$statusType[$item['status']]}</span></td>
        <td class="status-con" data-db="{$tableName}" data-con="{$controlName}" data-id="{$item['userId']}" data-url="{$url}" >
            <button type="button" data-gettype="Edit" data-toggle="modal"  data-url="{$url}" data-vtarget=".global-modal" data-con="{$controlName}" class="btn btn-primary btn-sm v-showmodal"><i class="fa fa-fw fa-eye "></i> 查看 </button>            
            <if condition="$nodeAuth egt 4 ">
                <button type="button" class="btn btn-danger btn-sm status-info" data-status="4" data-reqtype="Del"  >删除</button>
            </if>
        </td>
    </tr>
</volist>
