<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="__ADMINT__/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="__ADMINT__/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">项目列表</h4>
                        <button type="button" data-reqtype="Add" data-toggle="modal" data-title="添加项目" data-target="#modal-projectInfo" data-con="project" class="btn btn-info info-edit"><i class="fa fa-fw fa-user-plus "></i> 新增项目</button>
                    </div>
                    <div class="box-body search-body" id="project-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">项目名称：</label>
                                    <input class="form-control search-info input-sm" name="name" placeholder="项目名称" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">客户：</label>
                                    <input class="form-control search-info input-sm" name="followUp" placeholder="客户" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">营业：</label>
                                    <input class="form-control search-info input-sm" name="business" placeholder="营业" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目：</label>
                                    <input class="form-control search-info input-sm" name="leader" placeholder="项目" type="text">
                                </div>
                            </div>
                            <div class="form-inline">
                                
                                <div class="form-group">
                                    <label class="control-label">承接板块：</label>
                                    <input class="form-control search-info input-sm" name="responsible" placeholder="承接板块" type="text">
                                </div>
                                <div class="form-group">
                                    <label >时间类型：</label>
                                    <select class="form-control search-info input-sm" title="状态" name="status">
                                        <option value="">全部</option>
                                        <volist name="dateArr" id="item">
                                                <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                          <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="time" class="form-control search-info input-sm pull-right project-time" >
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <label class="control-label">签约公司：</label>
                                    <input class="form-control search-info input-sm" name="toCompany" placeholder="签约公司" type="text">
                                </div>

                                <div class="form-group">
                                    <label >状态：</label>
                                    <select class="form-control search-info input-sm" title="状态" name="status">
                                        <option value="">全部</option>
                                        <volist name="processArr" id="item">
                                                <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" id="project-search" data-reqtype="projectList" data-con="project" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="project"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:0.95em;overflow-x: auto;">
                <div class="count-div" id="projectCount" style="margin:10px;font-weight: 800;">
                </div>
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>品牌</th>
                            <th>项目编号</th>
                            <th>项目日期</th>
                            <th>项目名称</th>
                            <th>签约公司</th>
                            <th>客户</th>
                            <th>营业</th>
                            <th>项目</th>
                            <th>项目类型</th>
                            <th>场次</th>
                            <th>合同额</th>
                            <th>预付</th>
                            <th>未付</th>
                            <th>成本</th>
                            <th>纯利</th>
                            <th>纯利率</th>
                            <th>进度</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="projectTable">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div id="projectPage" class="row page-div" data-url="{$url}" data-reqtype="projectList" data-con="project">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-projectInfo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="info-title">立项代号：</label>
                            <input  class="modal-info" title="projectId" name="projectId" type="hidden">
                            <input class="form-control modal-info"  name="code" title="立项代号" <if condition="$project['manual'] eq 'true'" > readonly </if> placeholder="立项代号" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-title">项目名称：</label>
                            <input class="form-control modal-info" name="name" title="项目名称" placeholder="项目名称" type="text">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">项目日期：</label>
                                    <input class="form-control modal-info datetime" name="time" title="项目日期" placeholder="项目日期" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">签约公司：</label>
                                    <select class="form-control modal-info" title="签约公司" name="toCompany">
                                
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">客户：</label>
                                    <!-- <input class="form-control modal-info" name="followUp" title="客户" placeholder="客户" type="text"> -->
                                    <select class="form-control modal-info" multiple="multiple" title="客户" name="followUp">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">营业：</label>
                                    <!-- <input class="form-control modal-info" name="business" title="营业" placeholder="营业" type="text">
                                     -->
                                     <select class="form-control modal-info" multiple="multiple" title="营业" name="business">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">项目：</label>
                                    <!-- <input class="form-control modal-info" name="leader" title="项目" placeholder="项目" type="text"> -->
                                    <select class="form-control modal-info" multiple="multiple" title="项目" name="leader">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">项目类型：</label>
                                    <select class="form-control modal-info" multiple="multiple" title="项目类型" style="height: 50px;" name="responsible">
                                        <volist name="responList" id="item">
                                            <option value="{$item}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">场次：</label>
                                    <input class="form-control modal-info" name="num" title="场次" placeholder="场次" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">合同额：</label>
                                    <input class="form-control modal-info" name="amount" title="合同额" placeholder="合同额" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">发票信息：</label>
                                    <input class="form-control modal-info" name="invoice" title="发票信息" placeholder="发票信息" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">支付标记：</label>
                                    <input class="form-control modal-info" name="paySign" title="支付标记" placeholder="支付标记" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">预付日：</label>
                                    <input class="form-control modal-info datetime" name="advanceDate" title="预付日" placeholder="预付日" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">预付：</label>
                                    <input class="form-control modal-info" name="advance" title="预付" placeholder="预付" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">未付：</label>
                                    <input class="form-control modal-info" name="surplus" title="未付" placeholder="未付" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">成本：</label>
                                    <input class="form-control modal-info" name="cost" title="成本" placeholder="成本" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">纯利：</label>
                                    <input class="form-control modal-info" name="profit" title="纯利" placeholder="纯利" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info-title">纯利率%：</label>
                                    <input class="form-control modal-info" name="profitRate" title="纯利率" placeholder="纯利率" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group project-status status-group" data-toggle="btn-toggle">
                                <button type="button" name="0" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-light-blue"></i> 未中标 </button>
                                <button type="button" name="1" class="btn btn-default btn-sm active status-btn"><i class="fa fa-square text-green"> 已完成 </i>
                                </button>
                                <button type="button" name="2" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-yellow"></i> 洽谈中 </button>
                                <button type="button" name="3" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-warning"></i> 进行中 </button>
                                <button type="button" name="4" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-muted"> 清算期 </i>
                                </button>
                                <button type="button" name="5" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-info"></i> 结案 </button>
                                <button type="button" name="6" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-red"></i> 已删除 </button>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                    </div>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save-info" data-con="project" data-reqtype="Add" data-url="{$url}" data-modal="true">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <!-- date-range-picker -->
    <script src="__ADMINT__/bower_components/moment/min/moment.min.js"></script>
    <script src="__ADMINT__/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="__ADMINT__/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        // var E = window.wangEditor
        // var editor = new E(tabId+' .art-editor')
        //获取分类数据
        var prefix ="{$project['prefix']}";
        var tempCompany="";
        var followUpArr=[];
        var businessArr=[];
        var leaderArr=[];
        $(function(){
            getCompanyData()
            getUserData("followUp")
            getUserData("business")
            getUserData("leader")
            $(tabId+' .project-time').daterangepicker({
                "startDate":moment().year()+"-01-01",
                "endDate":moment().year()+"-"+(moment().month()+1)+"-"+moment().dates(),
                "locale": {
                    format: 'YYYY-MM-DD',
                    separator: ' ~ ',
                    applyLabel: "应用",
                    cancelLabel: "取消",
                    resetLabel: "重置",
                    daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                    monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
                },showDropdowns: true,
            })
            $(tabId+' .datetime').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                language:"cn",
                clearBtn:true,
            })
            //新增项目
            $(tabId+" .box-header button").on("click",function(){
                followUpArr=[]
                businessArr=[]
                leaderArr=[]
                $(tabId+" .modal-info").val("");
                $(tabId+" .status-btn").removeClass("active");
                $(tabId+" .status-btn[name='1']").addClass("active");
                $(tabId+" .modal-info[name='responsible']").prop("selected",false);
                getCompanyData()
                getUserData("followUp")
                getUserData("business")
                getUserData("leader")

                
            })
            //计算纯利
            $(tabId+" input[name='cost']").on("input",function(){
                var profit=$(tabId+" input[name='amount']").val()-$(tabId+" input[name='cost']").val()
                $(tabId+" input[name='profit']").val(profit)
            })
            //计算纯利率
            $(tabId+" input[name='cost']").on("input",function(){
                var profitRate=$(tabId+" input[name='profit']").val()/$(tabId+" input[name='amount']").val()
                $(tabId+" input[name='profitRate']").val(Math.round(profitRate * 100))
            })
            //客户列表
            $(tabId+" .modal-info[name='toCompany']").chosen({search_contains:true,width: '100%',allow_single_deselect:true}).on("chosen:results_single",function(evt, params){
                var key = $(this).nextAll().find(".chosen-search-input").val()
                if(tempCompany!=key){
                    getCompanyData(key)
                    $(this).nextAll().find(".chosen-search-input").val(key)
                }else if(key==""){
                    getCompanyData()
                    $(this).nextAll().find(".chosen-search-input").val(tempCompany)
                }
            });
            //followUp
            setMulSelect("followUp")
            setMulSelect("business")
            setMulSelect("leader")
            // $(tabId+" .modal-info[name='followUp']").chosen({search_contains:true,width: '100%'}).on("chosen:results_single",function(evt, params){
            //     var key = $(this).nextAll().find(".chosen-search-input").val()
            //     if(tempCompany!=key){
            //         getUserData("followUp",key)
            //         $(this).nextAll().find(".chosen-search-input").val(key)
            //     }else if(key==""){
            //         getUserData("followUp")
            //         $(this).nextAll().find(".chosen-search-input").val(tempCompany)
            //     }
            // }).on("chosen:no_results",function(evt, params){
            //     var key = $(this).nextAll().find(".chosen-search-input").val()
            //     if(tempCompany!=key){
            //         getUserData("followUp",key)
            //         // $(this).nextAll().find(".chosen-search-input").val(key)
            //     }else if(key==""){
            //         getUserData("followUp")
            //         $(this).nextAll().find(".chosen-search-input").val(tempCompany)
            //     }
            // }).on("change",function(selected,deselected){
            //     if(deselected.selected!=undefined){
            //         followUpArr.push(deselected.selected)
            //     }
                
            // });

        })
        //function projectResetFuns(){}
        function projectReFuns(){
            var year=(new Date()).getFullYear()
            var month=(new Date()).getMonth()
            var day=(new Date()).getDate()
            var hours=(new Date()).getHours()
            var minutes=(new Date()).getMinutes()
            $(tabId+" .modal-info[name='code']").val(prefix+year+formatMonth(month)+formatDate(day)+hours+minutes);
        }
        function projectSearchFuns(){
            datas['data']={}
            $(tabId+" .search-info").each(function(){
                var name=$(this).attr("name");
                var val=$(this).val();
                if(val!=""){
                    datas['data'][name]=val
                }
            })
        }
        function projectInfoFuns(){
            datas["data"]={}
            $(tabId+" .modal-info").each(function(){
                var name =$(this).attr("name");
                var val =$(this).val();
                if(name=="title" && val==""){
                    alert("标题不能为空");
                    throw "标题不能为空";
                }else if(name=="class" && val<=0){
                    alert("必须选择分类");
                    throw "必须选择分类";
                }else if(val!=""){
                    datas["data"][name]=val;
                }
            })
            datas["data"].status=$(tabId+" .status-group .active").attr("name")
        }
        /*设置编辑用户信息*/
        function projectShowFuns(info){
            $(tabId+" .modal-info[name='projectId']").val(info['projectId']);
            $(tabId+" .modal-info[name='code']").val(info['code']);
            $(tabId+" .modal-info[name='name']").val(info['name']);
            // $(tabId+" .modal-info[name='toCompany']").val(info['toCompany']);
            $(tabId+" .modal-info[name='toCompany']").html("<option value='"+info['toCompany']+"' selected>"+info['toCompanyStr']+"-"+info['toContactStr']+"</option>");
            $(tabId+" .modal-info[name='toCompany']").trigger('chosen:updated');
            // $(tabId+" .modal-info[name='toCompany']").find("option[value='"+info['toCompany']+"']").prop("selected",true);
            
            followUpArr=info['followUp'].split(",")
            var followUp=""
            followUpArr.forEach(function(ele){
                followUp+="<option value='"+ele+"' selected>"+ele+"</option>"
            })
            $(tabId+" .modal-info[name='followUp']").html(followUp);
            $(tabId+" .modal-info[name='followUp']").trigger('chosen:updated');

            $(tabId+" .modal-info[name='time']").val(info['time']);

            // $(tabId+" .modal-info[name='business']").val(info['business']);
            businessArr=info['business'].split(",")
            var business=""
            businessArr.forEach(function(ele){
                business+="<option value='"+ele+"' selected>"+ele+"</option>"
            })
            $(tabId+" .modal-info[name='business']").html(business);
            $(tabId+" .modal-info[name='business']").trigger('chosen:updated');

            // $(tabId+" .modal-info[name='leader']").val(info['leader']);
            leaderArr=info['leader'].split(",")
            var leader=""
            leaderArr.forEach(function(ele){
                leader+="<option value='"+ele+"' selected>"+ele+"</option>"
            })
            $(tabId+" .modal-info[name='leader']").html(leader);
            $(tabId+" .modal-info[name='leader']").trigger('chosen:updated');

            var responsibleArr=info['responsible'].split(",")
            // var responsible=""
            $(tabId+" .modal-info[name='responsible']").prop("selected",false);
            responsibleArr.forEach(function(ele){
                // responsible+="<option value='"+ele+"' selected>"+ele+"</option>"
                $(tabId+" .modal-info[name='responsible']").find("option[value='"+ele+"']").prop("selected",true)
            })
            // $(tabId+" .modal-info[name='responsible']").html(responsible);
            // $(tabId+" .modal-info[name='responsible']").val(info['responsible']);
            $(tabId+" .modal-info[name='num']").val(info['num']);
            $(tabId+" .modal-info[name='invoice']").val(info['invoice']);
            $(tabId+" .modal-info[name='paySign']").val(info['paySign']);
            if(info['advanceDate']>0){
                $(tabId+" .modal-info[name='advanceDate']").val(info['advanceDate']);
            }
            $(tabId+" .modal-info[name='amount']").val(info['amount']);
            $(tabId+" .modal-info[name='advance']").val(info['advance']);
            $(tabId+" .modal-info[name='surplus']").val(info['surplus']);
            $(tabId+" .modal-info[name='cost']").val(info['cost']);
            $(tabId+" .modal-info[name='profit']").val(info['profit']);
            $(tabId+" .modal-info[name='profitRate']").val(info['profitRate']);
            $(tabId+" .status-btn").removeClass("active");
            $(tabId+" .status-btn[name='"+info['status']+"']").addClass("active");
            // $(tabId+" .modal-info[name='class']").find("option[value='"+info['class']+"']").prop("selected",true);
        }
        //获取客户信息并且select数据
        function getCompanyData(thisCompany) {
            if(thisCompany){
                datas["data"]={company:thisCompany}
            }
            var tree=[]
            datas["reqType"]="customerList";
            get("{$url}",datas,function(result){
                if(result.list){
                    var option='<option value="">请选择签约公司</option>';
                    result.list.forEach(ele => {
                        option+="<option value="+ele.customerId+">"+ele.company+"-"+ele.contact+"</option>'"
                    });
                    $(tabId+" .modal-info[name='toCompany']").html(option);
                    $(tabId+" .modal-info[name='toCompany']").trigger('chosen:updated');
                }
            },false)
        }
        function getUserData(name,thisUser) {
            if(thisUser){
                datas["data"]={userName:thisUser}
            }
            var tree=[]
            datas["reqType"]="userList";
            get("{$url}",datas,function(result){
                if(result.list){
                    var option='<option value="">请选择用户</option>';
                    var followUpAll=$.unique(eval(name+"Arr").concat(result.list))
                    followUpAll.forEach(userName => {
                        if($.inArray(userName,eval(name+"Arr"))>=0){
                            // console.log(eval(name+"Arr"))
                            // console.log(userName)
                            option+="<option value="+userName+" selected>"+userName+"</option>'"
                        }else{
                            option+="<option value="+userName+">"+userName+"</option>'"
                        }
                        
                    });
                    $(tabId+" .modal-info[name='"+name+"']").html(option);
                    $(tabId+" .modal-info[name='"+name+"']").trigger('chosen:updated');
                }
            },false)
        }
        function setMulSelect(name){
            $(tabId+" .modal-info[name='"+name+"']").chosen({search_contains:true,width: '100%'}).on("chosen:results_single",function(evt, params){
                var key = $(this).nextAll().find(".chosen-search-input").val()
                if(tempCompany!=key){
                    getUserData(name,key)
                    $(this).nextAll().find(".chosen-search-input").val(key)
                }else if(key==""){
                    getUserData(name)
                    $(this).nextAll().find(".chosen-search-input").val(tempCompany)
                }
            }).on("chosen:no_results",function(evt, params){
                var key = $(this).nextAll().find(".chosen-search-input").val()
                if(tempCompany!=key){
                    getUserData(name,key)
                    // $(this).nextAll().find(".chosen-search-input").val(key)
                }else if(key==""){
                    getUserData(name)
                    $(this).nextAll().find(".chosen-search-input").val(tempCompany)
                }
            }).on("change",function(selected,deselected){
                if(deselected.selected!=undefined){
                    eval(name+"Arr").push(deselected.selected)
                }
                
            });
        }
    </script>
</body>
</html>
