<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">项目安排</h4>
                    </div>
                    <div class="box-body search-body company-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <input class="search-info" name="template" type="hidden" value="schedule" />
                                <div class="form-group">
                                    <label for="info-title">项目编号：</label>
                                    <input class="form-control search-info input-sm" name="code" title="项目编号" required="required" value="" placeholder="项目编号" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目日期：</label>
                                    <input class="form-control search-info date-input input-sm" name="project_time" placeholder="项目日期" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目名称：</label>
                                    <input class="form-control search-info input-sm" name="name" placeholder="项目名称" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">营业主担：</label>
                                    <input class="form-control search-info input-sm" name="business_name" placeholder="营业主担" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目主担：</label>
                                    <input class="form-control search-info input-sm" name="leader_name" placeholder="项目主担" type="text">
                                </div>
                                <div class="form-group">
                                    <label >状态：</label>
                                    <select class="form-control search-info input-sm" title="状态" name="status">
                                        <option value="">全部</option>
                                        <volist name="statusType" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:0.95em;overflow-x: auto;">
                <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;">
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="hidden-xs">项目编号</th>
                            <th class="hidden-xs">项目日期</th>
                            <th>项目名称</th>
                            <th class="hidden-xs">项目城市</th>
                            <th class="hidden-xs">签约公司</th>
                            <th class="hidden-xs">客户</th>
                            <th class="hidden-xs">项目类型</th>
                            <th class="hidden-xs">营业主担</th>
                            <th class="hidden-xs">项目主担</th>
                            <th class="hidden-xs">项目人员</th>
                            <th>项目阶段</th>
                            <th>方案/标书</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div  class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade files-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        var  project_file_initInfo = function(){
            upload({url:"{:U('Project/upload_filesAdd')}"})
            $(tabId+" .files-modal").offon("click",".add-filecom",function(){
                var fileCom = $(tabId+" .files-modal .demo").clone()
                $(fileCom).removeClass("none demo");
                $(fileCom).addClass("new-file");
                $(tabId+" .files-modal .files-table").append(fileCom);
            })
        };
        var project_file_getInfo = function(){
            datas["reqType"] = "project_fileAdd"
            datas["data"] = [];
            
            var project_id = $(tabId+" .files-modal .modal-info[name='project_id']").val()
            datas["project_id"] = project_id
            $(tabId+" .files-modal .files-table .new-file").each(function(){
                var temp = {}
                $(this).find(".modal-info").each(function(){
                    var name = $(this).attr("name");
                    var title = $(this).attr("title");
                    var val = $(this).val();
                    if(val != ""){
                        temp[name] = val
                    }
                })
                if(temp["file_path"]!=undefined){
                    datas["data"].push(temp);
                }
            })
            if(JSON.stringify(datas["data"])=="[]"){
                notice(110,"没有添加任何文件","输入异常");
                throw "没有添加任何文件";
            }
        };
        var project_file_searchInfo = function(){
            $(tabId+" .search-list").trigger("click");
        }
        $(function(){
            $(tabId+" .search-list").trigger("click");
            init_chosen("{$url}","getOptionList",".search-body");
            init_date({theme: '#3C8DBC',range: true});
            // $(tabId+" .chosen-select").each(function(){
            //     var type = $(this).attr('name')
            //     var value = $(this).data('value')
            //     var text = $(this).data('text')
            //     var option = {inherit_select_classes:true,search_contains:true,allow_single_deselect:true}
    
            //     if(text!=undefined && value!=undefined){
            //         var ajax_json = {url:"{$url}",data:{reqType:"getOptionList",type:type},value:value,text:text}
            //         var pname = $(this).data('pname')
            //         if(pname!=undefined){
            //             ajax_json["pelement"] = $(tabId+" .chosen-select[name='"+pname+"']")
            //         }
            //         var noupdate = $(this).data('noupdate')
            //         if(noupdate!=undefined){
            //             ajax_json["noupdate"] = true
            //         }
            //         option["ajax_load"] = ajax_json
            //     }
            //     var cname = $(this).data('cname')
            //     if(cname!=undefined){
            //         option["child"] = $(tabId+" .chosen-select[name='"+cname+"']")
            //     }
            //     var disSearch = $(this).data('dis-search')
            //     if(disSearch!=undefined){
            //         option["disable_search"] = true
            //     }
                
            //     $(this).chosen(option)
            // })
            // init_date();
        })
        function project_resetInfo(){
            $(tabId+" .search-info[name='template']").val("schedule")
        }
            
    </script>
</body>
</html>
