<volist name="list" id="item">
    <tr>
        <td>{$item.project_name|default='非项目'}</td>
        <td>{$item.happen_time}</td>
        <td>{$item.add_time}</td>
        <td>{$item.project_code|default='非项目'}</td>
        <td>{$capTypeArr[$item['log_type']]}</td> 
        <td>{$item.inner_detail}</td>
        <td>{$item.bank_detail}</td>
        <td>{$item.object}</td>
        <td>
            <if condition="$item['float_type'] eq 1">
                {$item.money}
            </if>
        </td>
        <td>
            <if condition="$item['float_type'] eq 2">
                {$item.money}
            </if>
        </td>
        <td>{$item.balance}</td>
        <td>{$item.user_name|default='自动'}</td>
        <td>
            <if condition=" $item.proof neq '' ">
                <input type="hidden" class="upload-file" value="<?php echo $item['proof']?>"> <span class="show-media-btn show-media"><i class="fa fa-eye"></i></span>
            </if>
        </td>
        <td>{$item.remark}</td>
        {:list_btn(get_defined_vars(),"id",[],false,false,false)}
    </tr>
</volist>