<volist name="list" id="item">
    <tr>
        <!-- <input type="hidden" class="modal-info" name="table_name" value="{$item['table_name']}">
        <input type="hidden" class="modal-info" name="id" value="{$item['id']}"> -->
        <td style="min-width:100px;" ><input type="checkbox" class="item-checked" data-table="{$item['table_name']}" data-id="{$item['id']}"></td>
        <td style="min-width:100px;" class="from_source">{$item.from_source}</td>
        <td style="min-width:100px;" class="project_name">{$item.project_name}</td>
        <td style="min-width:100px;" class="user_name">{$item.user_name}</td>
        <td style="min-width:100px;" class="add_time" >{$item.add_time|date="Y-m-d H:i:s",###}</td>
        <td style="min-width:100px;" class="money">{$item.money}</td>
        <td style="min-width: 100px;">
            <div class="input-group">
                <input class="form-control modal-info upload-file" readonly="readonly" name="invoice_file" title="查看发票" value="{$item.invoice}" type="text">
                <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
            </div>
        </td>
        <!-- {:list_btn(get_defined_vars(),"id",[],true,false,false,'验证')} -->
        <!-- <td>
            <button type="button" class="btn bg-olive btn-xs invoice-down" >下载</button>
        </td> -->
    </tr>
</volist>