<div class="modal-header">
    <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{$title}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="box-body">
            <input class="modal-info" value="0" name="id" type="hidden">
            <input class="modal-info" value="0" name="project_id" type="hidden">
            <div class="row">
                <div class="col-md-4 create-rece">
                    <div class="form-group">
                        <label >选择项目或者其他：</label>
                        <select class="form-control chosen-project chosen-select" title="立项或添加场次" data-value="projectId"  data-text="name" name="project_id">
                            <option value="0">其他</option>
                            <volist name="projectArr" id="item">
                                <option value="{$item['projectId']}">{$item['name']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 project-name">
                    <div class="form-group">
                        <label for="info-title">项目名称：</label>
                        <input class="form-control project-info" readonly="readonly" name="project-name" title="项目名称"  value="" placeholder="项目名称" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商名称：</label>
                        <select class="form-control chosen-select modal-info" title="立项或添加场次" data-value="companyId" data-extra="typename,province,city"  data-text="company" data-cname="supplier_cont" name="supplier_com">
                            <option value="" >供应商名称</option>
                            <volist name="supComArr" id="item">
                                <option data-typename="{$item['typename']}" data-province="{$item['province']}" data-city="{$item['city']}" value="{$item['companyId']}">{$item['company']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商类型：</label>
                        <input class="form-control project-info" readonly="readonly" name="supplier_type" title="供应商类型"  value="" placeholder="供应商类型" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商联系人：</label>
                        <select class="form-control chosen-select modal-info" title="立项或添加场次" data-value="contactId" data-extra="typename"  data-text="contact" data-pname="supplier_com" name="supplier_cont">
                            <option value="">供应商联系人</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商所在地：</label>
                        <input class="form-control project-info" readonly="readonly" name="region" title="供应商所在地" value="" placeholder="供应商所在地" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">签署日期：</label>
                        <input class="form-control modal-info date-input" readonly="readonly" name="sign_date" title="项目日期" required="required" value="" placeholder="项目日期" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">合同支付总额：</label>
                        <input class="form-control modal-info"  name="contract_amount" title="合同支付总额" required="required" value="" placeholder="合同支付总额" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">合同：</label>
                        <input class="form-control modal-info"  name="contract" title="合同" value="" placeholder="合同" type="text">
                    </div>
                </div>
            </div>
            <eq name="{gettype}" value="Edit">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">付款次数：</label>
                        <input class="form-control purcha-info"  name="paid" title="付款次数" required="required" value="" placeholder="付款次数" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">预付款：</label>
                        <input class="form-control purcha-info"  name="paid" title="预付款" required="required" value="" placeholder="预付款" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">预付款日期：</label>
                        <input class="form-control project-info date-input" readonly="readonly" name="advance_date" title="预付款日期" required="required" value="" placeholder="预付款日期" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">预付款比例：</label>
                        <input class="form-control purcha-info"  name="paid" title="预付款比例" required="required" value="" placeholder="预付款比例" readonly="readonly" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">已付款：</label>
                        <input class="form-control purcha-info"  name="paid" title="已付款" required="required" value="" placeholder="已付款" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">已付款比例：</label>
                        <input class="form-control purcha-info"  name="paid" title="已付款比例" required="required" value="" placeholder="已付款比例" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">未付付款：</label>
                        <input class="form-control purcha-info"  name="paid" title="未付付款" required="required" value="" placeholder="未付付款" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">未付款比例：</label>
                        <input class="form-control purcha-info"  name="paid" title="未付款比例" required="required" value="" placeholder="未付款比例" readonly="readonly" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="info-title">付款金额：</label>
                        <input class="form-control purcha-info"  name="paid" title="付款金额" required="required" value="" placeholder="付款金额" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="info-title">付款比例：</label>
                        <input class="form-control purcha-info"  name="paid" title="付款比例" required="required" value="" placeholder="付款比例" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="info-title">付款日期：</label>
                        <input class="form-control purcha-info"  name="paid" title="付款日期" required="required" value="" placeholder="付款日期" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="info-title">付款方式：</label>
                        <input class="form-control purcha-info"  name="paid" title="付款方式" required="required" value="" placeholder="付款方式" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="info-title">发票类型：</label>
                        <input class="form-control purcha-info"  name="paid" title="发票类型" required="required" value="" placeholder="发票类型" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="info-title">付款备注：</label>
                        <input class="form-control purcha-info"  name="paid" title="付款备注" required="required" value="" placeholder="付款备注" readonly="readonly" type="text">
                    </div>
                </div>
            </div>
            </eq>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="info-title">采购内容详细说明：</label>
                        <textarea  class="form-control modal-info" name="remark" ></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                    <input class="modal-info" value="0" name="status" type="hidden">
                    {:modal_btn(get_defined_vars())}
                </div>
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
    {:save_btn(get_defined_vars())}
</div>