<volist name="list" id="item">
    <tr>
        <!-- <td>{$item['brand_name']}</td> -->
        <td class="hidden-xs">{$item['code']|pcode_format}</td>
        <td>{$item['project_time']}</td>
        <td title="{$item['name']}">{$item['name']}</td>
        <td>{$item['customer_com_name']}</td>
        <td>{$item['business_name']}</td>
        <td>{$item['type_name']}</td>
        <td>{$item['session_all']}</td>
        <td>{$item['amount']|number_format}</td>
        <td>{$item['contract_date']|time_format}</td>
        <td>{$item['f_money']|number_format}</td>
        <td>{$item['happen_time']}</td>
        <!-- <td>{$item['advance']|number_format}</td>
        <td>{$item['advance_date']|date="Y-m-d",###|time_format}</td> -->
        <td>{:number_format(round($item['amount']-$item['f_money'],2))}</td>
        <!-- <td>{$item['surplus_date']|date="Y-m-d",###|time_format}</td> -->
        <!-- <td>{$item['next_date']|date="Y-m-d",###|time_format}</td> -->
        <td>{$item['remark']}</td>
        {:list_btn(get_defined_vars(),"id",[],false,false,false)}
    </tr>
</volist>