<volist name="list" id="item">
    <tr>
        <td>{$item['brand_name']}</td>
        <td>{$item['code']}</td>
        <td>{$item['project_time']|date="Y-m-d",###}</td>
        <td title="{$item['name']}">{$item['name']}</td>
        <td>{$item['customer_com_name']}</td>
        <td>{$item['business_name']}</td>
        <td>{$item['type_name']}</td>
        <td>{$item['session_all']}</td>
        <td>{$item['amount']|number_format}</td>
        <td>{$item['contract_date']|date="Y-m-d",###}</td>
        <td>{$item['pay_amount']|number_format}</td>
        <td>{$item['pay_date']|date="Y-m-d",###}</td>
        <td>{$item['advance_amount']|number_format}</td>
        <td>{$item['advance_date']|date="Y-m-d",###}</td>
        <td>{$item['surplus_amount']|number_format}</td>
        <td>{$item['surplus_date']|date="Y-m-d",###}</td>
        <td>{$item['next_date']|date="Y-m-d",###}</td>
        <td>{$item['remark']}</td>
        {:list_btn(get_defined_vars(),"id")}
    </tr>
</volist>