<volist name="list" id="item">
    <tr>
        <td>{$item['brand_name']}</td>
        <td>{$item['code']}</td>
        <td>{$item['project_time']|date="Y-m-d",###}</td>
        <td title="{$item['name']}">{$item['name']}</td>
        <td>{$item['end_date']}</td>
        <td>{$item['leader_name']}</td>
        <td>{$item['finance_name']}</td>
        <td>{$item['supplier_com_name']}</td>
        <td>{$item['type_name']}</td>
        <td>暂无</td>
        <td>{$item['supplier_cont_name']}</td>
        <td>{$payType[$item['pay_type']]}</td>
        <td>{$item['contract_amount']}</td>
        <td>{$item['late_pay_date']}</td>
        <td>{$item['advance']}</td>
        <td>{$item['advance_ratio']}</td>
        <td>{$item['advance_date']}</td>
        <td>{$item['surplus']}</td>
        <td>{$item['next_date']}</td>
        <td>{$item['surplus_ratio']}</td>
        <td>{$payGradeType[$item['pay_grade']]}</td>
        <td>{$invoiceType[$item['invoice_type']]}</td>
        {:list_btn(get_defined_vars(),"id")}
    </tr>
</volist>