<volist name="list" id="item">
    <tr>
        <td>{$item['articleId']}</td>
        <td>{$item['title']}</td>
        <td>{$item['cover']}</td>
        <td>{$item['author']}</td>
        <td>{$item['class']}</td>
        <td>{$item['content']|utf8_substr=100}</td>
        <td>{$item['addTime']|date="Y-m-d H:i:s",###}</td>
        <td>
            <if condition="$item['updateTime'] gt 0">
                {$item['updateTime']|date="Y-m-d H:i:s",###}
            </if>
            
        </td>
        {:list_btn(get_defined_vars(),"articleId")}
    </tr>
</volist>