<link rel="stylesheet" href="__ADMINT__/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="__ADMINT__/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__ADMINT__/dist/css/AdminLTE.min.css">
<script src="__ADMINT__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__ADMINT__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__ADMINT__/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ADMINT__/bower_components/fastclick/lib/fastclick.js"></script>
<script src="__ADMINT__/dist/js/adminlte.min.js"></script>