<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{:C('admintitle')}</title>
        <eq name="load" value="true">
            <include file="Index/Heads" /> 
        </eq>       
    </head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title">待审批列表</h3>
                      <div class="box-tools">
                        <button type="button" name="getAppList" class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i>
						</button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <table class="table table-bordered">
						<thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>提交人</th>
                          <th>模块名称</th>
                          <th>项目名称</th>
                          <th style="max-width: 120px;">提交时间</th>
                          <th>审批进度</th>
                          <th style="width: 60px">百分比</th>
						</tr>
					</thead>
						<tbody class="getApp-table"></tbody>
					</table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
						<div class="">
							<div  class="getApp-page row page-div" data-url="{$url}" data-reqtype="getAppList" data-con="getApp">
								
							</div>
						</div>
                      <!-- <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                      </ul> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
				
            </div>
        </div>
    </section>
    <script>
        $(function(){
            updateList("getAppList")
            $(tabId+" .refresh").on("click",function(){
				updateList($(this).attr("name"))
            })
        })
        var updateList = function(req){
			var self =  $(tabId+" .box-header").find(".refresh[name='"+req+"']").parents(".box");
			// console.log(self);return;
            get("{$url}",{reqType:req},function(result){
				self.find("tbody").html(result.table);
				self.find(".page-div").html(result.page);
                // console.log(result);
            })
        }
    </script>
</body>
</html>