<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{:C('admintitle')}</title>
        <eq name="load" value="true">
            <include file="Index/Heads" /> 
        </eq>       
    </head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-5">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title">待审批列表</h3>
                      <div class="box-tools">
                        <button type="button" name="getAppList" class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i>
						</button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow: auto;z-index: 1;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                <th style="min-width: 40px">#</th>
                                <th>提交人</th>
                                <th>模块名称</th>
                                <th>项目名称</th>
                                <th style="max-width: 120px;">提交时间</th>
                                <th>审批进度</th>
                                <th style="width: 60px">百分比</th>
                                </tr>
                                </thead>
                                <tbody class="getApp-table"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
						<div class="">
							<div  class="getApp-page row page-div" data-url="{$url}" data-reqtype="getAppList" data-con="getApp">
								
							</div>
						</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">与我有关的项目</h3>
                        <div class="box-tools">
                        <button type="button" name="relItemList" class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i>
                        </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>项目阶段</th>
                            <th>负责职务</th>
                        </tr>
                    </thead>
                        <tbody class="relItem-table"></tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="">
                            <div  class="relItem-page row page-div" data-url="{$url}" data-reqtype="relItemList" data-con="relItem">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">最新登录 TOP100</h3>
                        <div class="box-tools">
                        <button type="button" name="lastLoginList" class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i>
                        </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>员工姓名</th>
                            <th>登录时间</th>
                        </tr>
                    </thead>
                        <tbody class="lastLogin-table"></tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="">
                            <div  class="lastLogin-page row page-div" data-url="{$url}" data-reqtype="lastLoginList" data-con="lastLogin">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">费用【借支/报销】饼图 目前数据仅模拟</h3>
                        <div class="box-tools">
                        <button type="button" name="" class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i>
                        </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="container" style="width: 100%;height:300px;" ></div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="">
                            <div  class="-page row page-div" data-url="{$url}" data-reqtype="" data-con="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">项目概况</h3>
                        <span class="text-navy">&nbsp;&nbsp;项目总数：<span class="project_num"></span></span>
                        <div class="box-tools">
                        <button type="button" name="projectDescList" class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i>
                        </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>所处阶段</th>
                            <th>数量</th>
                        </tr>
                    </thead>
                        <tbody class="-table"></tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="">
                            <div  class="-page row page-div" data-url="{$url}" data-reqtype="" data-con="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">虚位以待</h3>
                        <div class="box-tools">
                        <button type="button" name="" class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i>
                        </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>更多功能开发中</th>
                        </tr>
                    </thead>
                        <tbody class="-table"></tbody>
                    </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="">
                            <div  class="-page row page-div" data-url="{$url}" data-reqtype="" data-con="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(function(){
            updateList("getAppList")
            updateList("relItemList")
            updateList("lastLoginList")
            updateList("projectDescList")
            $(tabId+" .refresh").offon("click",function(){
				updateList($(this).attr("name"))
            })
            var myChart = echarts.init(document.getElementById("container"));
        
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data:['借支成功','借支等待','报销成功','报销等待']
                },
                series: [
                    {
                        name:'借支/报销 比例',
                        type:'pie',
                        radius: ['50%', '80%'],
                        avoidLabelOverlap: true,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: true
                            }
                        },
                        data:[
                            {value:335, name:'借支成功'},
                            {value:310, name:'借支等待'},
                            {value:234, name:'报销成功'},
                            {value:135, name:'报销等待'},
                        ]
                    }
                ]
            };
            myChart.setOption(option);

        })
        var updateList = function(req){
			var self =  $(tabId+" .box-header").find(".refresh[name='"+req+"']").parents(".box");
			// console.log(self);return;
            get("{$url}",{reqType:req},function(result){
				self.find("tbody").html(result.table);
				self.find(".page-div").html(result.page);
                if(req=="projectDescList"){
                    $(tabId+" .refresh[name='projectDescList']").parents('.box-header').find(".project_num").text(result.count)
                }
                // console.log(result);
            },false)
        }
    </script>
</body>
</html>