<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="__ADMINT__/plugins/iCheck/flat/blue.css">

    <!-- <link rel="stylesheet" href="__ADMINT__/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"> -->
</head>
    <body>
        <section class="content">
            <div class="row message-box">
                <div class="col-md-3">
                    <a href="" class="btn btn-primary btn-block margin-bottom message-compose">发送信息</a>
            
                    <div class="box box-solid mes-folder">
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#" data-type="1" ><i class="fa fa-inbox"></i><span class="foler-name"> 收件箱 </span> <span class="label label-primary pull-right message-no-read">{$no_read}</span></a></li>
                                <li class="send-box"><a href="#" data-type="2" ><i class="fa fa-envelope-o"></i><span class="foler-name"> 发送箱 </span></a></li>
                                <!-- <li><a href="#" data-type="3" ><i class="fa fa-file-text-o"></i><span class="foler-name"> 草稿箱 </span></a></li> -->
                                <!-- <li><a href="#" data-type="4" ><i class="fa fa-trash-o"></i><span class="foler-name"> 废纸篓 </span></a></li> -->
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary message-list-box ">
                        <div class="box-header with-border">
                            <h3 class="box-title message-folder-name">收件箱</h3>
                
                            <div class="box-tools pull-right">
                                <!-- <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Search Mail">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div> -->
                            </div>
                        <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody class="message-table">
                                    
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                            <!-- /.mail-box-messages -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                
                                <!-- <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                </div> -->
                                <!-- /.btn-group -->
                                <!-- <div  class="relItem-page row page-div" data-url="{$url}" data-reqtype="relItemList" data-con="relItem">
                                
                                </div> -->
                                <div class="pull-right message-page page-div" data-url="{$url}" data-param='type:1' data-call="mes_cache" data-reqtype="getMessageList" data-con="message" style="width: 60%;display: inline-block;height: 30px;line-height: 30px;">

                                    <!-- 1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div> -->
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /. box -->
                    <div class="box box-primary message-read-box none">
                        <!-- <div class="box-header with-border">
                            <h3 class="box-title">Read Mail</h3>
            
                            <div class="box-tools pull-right">
                            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Previous"><i class="fa fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Next"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div> -->
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="mailbox-read-info">
                            <h3 class="message-title">Message Subject Is Placed Here</h3>
                            <h5><span class="user-type">发送者</span>: <span class="message-user_name"></span>
                                <span class="mailbox-read-time pull-right message-date_time">15 Feb. 2016 11:03 PM</span></h5>
                            </div>
                            <!-- /.mailbox-read-info -->
    
                            <!-- /.mailbox-controls -->
                            <div class="mailbox-read-message message-content">
                            </div>
                            <!-- /.mailbox-read-message -->
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box-footer -->
                        <div class="box-footer">
                            <!-- <div class="pull-right">
                            <button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                            <button type="button" class="btn btn-default"><i class="fa fa-share"></i> Forward</button>
                            </div> -->
                            <button class="btn btn-primary reply-message" data-id=""><i class="fa fa-reply"></i> 回复 </button>
                            <!-- <button type="button" class="btn btn-default message-trash"><i class="fa fa-trash-o"></i> 删除 </button> -->
                            <!-- <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Print</button> -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <div class="box box-primary message-compose-box none">
                        <div class="box-header with-border">
                            <h3 class="box-title">撰写新想信息</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                            <select class="form-control modal-info chosen-select" required="required" title="请选择收件人" placeholder="收件人：" multiple="multiple" title="员工姓名" name="to_user" data-value="userId"  data-text="userName">
                                <option value="员工姓名"></option>
                                <volist name="userArr" id="item">
                                    <option value="{$item['userId']}">{$item['userName']}</option>
                                </volist>
                            </select>
                            </div>
                            <div class="form-group">
                            <input class="form-control modal-info" name="title" title="请输入信息标题" required="required" placeholder="标题:">
                            </div>
                            <div class="form-group">
                                <textarea id="compose-textarea" class="form-control modal-info" name="content" style="height: 300px">
                                </textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="pull-right">
                            <!-- <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> 保存草稿</button> -->
                            <button type="submit" class="btn btn-primary send-message" data-status="0" ><i class="fa fa-envelope-o"></i> 发送</button>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- <script src="__ADMINT__/bower_components/jquery/dist/jquery.min.js"></script> -->
        <!-- Bootstrap 3.3.7 -->
        <!-- <script src="__ADMINT__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
        <!-- Slimscroll -->
        <!-- <script src="__ADMINT__/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script> -->
        <!-- FastClick -->
        <!-- <script src="__ADMINT__/bower_components/fastclick/lib/fastclick.js"></script> -->
        <!-- AdminLTE App -->
        <!-- <script src="__ADMINT__/dist/js/adminlte.min.js"></script> -->
        <!-- iCheck -->
        <script src="__ADMINT__/plugins/iCheck/icheck.min.js"></script>
        <!-- <script src="__ADMINT__/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script> -->

        <script src="__ADMINT__/bower_components/ckeditor/ckeditor.js"></script>
        <script>
            var mesList = {};

            var mes_cache = function(result){
                var type = $(tabId+" .message-box .nav-stacked .active a").data("type");
                mesList[type] = result
            };
            
            var getMessageList = function(type){
                datas={reqType:"getMessageList",type:type}
                get("{$url}",datas,function(result){
                    if(result.table==""){
                        result.table = '<tr><td colspan="7">暂无信息</td></tr>'
                    }else{
                        mesList[type] = result.data
                    }
                    $(tabId+" .message-box .message-table").html(result.table)
                    $(tabId+" .message-box .message-page").html(result.page)
                    $('.mailbox-messages input[type="checkbox"]').iCheck({
                        checkboxClass: 'icheckbox_flat-blue',
                        radioClass: 'iradio_flat-blue'
                    });
                },false)
            }
            $(function () {
                getMessageList(1);
                // $("#compose-textarea").wysihtml5();
                CKEDITOR.replace('compose-textarea',{filebrowserImageUploadUrl : "{:U('Public/upload_filesAdd')}"})
                init_chosen("{$url}","getOptionList",".message-compose-box");
                //Enable iCheck plugin for checkboxes
                //Enable check and uncheck all functionality
                $(".checkbox-toggle").click(function () {
                    var clicks = $(this).data('clicks');
                    if (clicks) {
                        //Uncheck all checkboxes
                        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                    } else {
                        //Check all checkboxes
                        $(".mailbox-messages input[type='checkbox']").iCheck("check");
                        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                    }
                    $(this).data("clicks", !clicks);
                });
            
                $(tabId+" .message-box .mes-folder ul li a").on("click",function(e){
                    e.preventDefault()
                    $(tabId+" .message-box .mes-folder ul li").removeClass("active");
                    $(this).parent("li").addClass("active")
                    $(tabId+" .message-box .message-folder-name").text($(this).find(".foler-name").text())
                    var type = $(this).data("type");
                    $(tabId+" .message-box .box-primary").removeClass("none");
                    $(tabId+" .message-box .message-list-box").siblings().addClass("none");
                    $(tabId+" .message-box .message-list-box .page-div").data('param','type:'+type)
            
                    getMessageList(type)
                    if(type==2){

                    }
                })
                /** 
                 * @Author: vition 
                 * @Date: 2018-09-25 13:50:10 
                 * @Desc: 查看信息 
                 */                
                $(tabId+" .message-box .message-list-box").on("click",".read-message",function(e){
                    e.preventDefault();
                    var id = $(this).data("id");
                    var type = $(tabId+" .message-box .mes-folder ul").find("li.active a").data("type");
                                        // console.log(type);return;
                    mesList[type].forEach(message => {
                        if(message["id"] == id){
                            // box-primary message-read-box
                            $(tabId+" .message-box .box-primary").removeClass("none");
                            $(tabId+" .message-box .message-read-box").siblings().addClass("none");
                            // console.log(message)
                            if(message["from_user"]=="{$Think.session.userId}"){
                                $(tabId+" .message-box .message-read-box").find(".user-type").text("收件人");
                            }else{
                                $(tabId+" .message-box .message-read-box").find(".user-type").text("发件人");
                            }
                            ["title","user_name","date_time","content"].forEach(key=>{
                                // console.log($(tabId+" .message-box .message-read-box").find(".message-"+key))
                                if(key=="user_name" && message["relation_uname"]){
                                    $(tabId+" .message-box .message-read-box").find(".message-"+key).html(message["relation_uname"])
                                }else{
                                    $(tabId+" .message-box .message-read-box").find(".message-"+key).html(message[key])
                                }
                            })
                            $(tabId+" .message-box .message-read-box .box-footer").find(".reply-message").data("id",message["id"])
                            // console.log($(tabId+" .message-box .message-read-box .box-footer").find(".reply-message").data(message["id"]))
                            if(message["status"]==0 && type == 1){
                                datas["reqType"] = "statusEdit";
                                datas["id"] = id;
                                datas["status"] = 1;
                                post("{$url}",datas,function(result){
                                    if(result.errCode==0 ){
                                        var noRead = Number($(tabId+" .mes-folder .message-no-read").text())
                                        noRead--;
                                        // $(tabId+" .mes-folder .message-no-read").text(noRead)
                                        $(".message-no-read").text(noRead)
                                        if(noRead<=0){
                                            $(".messages-menu .message-no-read").remove();
                                        }
                                        $(".menu-top-message").html(result.data)
                                    }
                                })
                            }
                            return;
                        }
                    });
                    // console.log(type)
                })
                $(tabId+" .message-box .message-list-box,"+tabId+" .message-box .message-read-box .box-footer").on("click",".reply-message",function(){
                    var id = Number($(this).data("id"));
                    // CKEDITOR.instances['compose-textarea'].setData('')
                    mesList[1].forEach(message => {
                        if(message["id"] == id){
                            $(tabId+" .message-box .message-compose").trigger("click");
                            $(tabId+" .message-box .message-compose-box").find(".modal-info[name='to_user']").val(message['']);
                            if($(tabId+" .message-box .message-compose-box").find(".modal-info[name='to_user']").find("option[value='"+message['userId']+"']").length==0){
                                var user_optoin = '<option value="'+message['userId']+'">'+message['user_name']+'</option>'
                                $(tabId+" .message-box .message-compose-box").find(".modal-info[name='to_user']").append(user_optoin);
                            }
                            $(tabId+" .message-box .message-compose-box").find(".modal-info[name='to_user']").find("option[value='"+message['userId']+"']").prop("selected",true);
                            $(tabId+" .message-box .message-compose-box").find(".modal-info[name='title']").val('回复：'+message['title']);
                            $(tabId+" .message-box .message-compose-box").find(".modal-info[name='to_user']").trigger("chosen:updated");
                            var html = '<br/><br/><div style="color:red;" >-------- 以下是原信息内容 --------</div><br/><div style="background:#eeeeee;border:1px solid #cccccc;padding:5px 10px;"><strong>原标题</strong>：'+message['title']+'<br><strong>发送者</strong>：'+message['user_name']+'<br><strong>发送时间</strong>：'+message['date_time']+'<br></div><br/>';
                            CKEDITOR.instances['compose-textarea'].setData(html+message['content'])
                            // CKEDITOR.instances['compose-textarea'].trigger('focus');
                            
                        }
                    })
                })
                
                $(tabId+" .message-box .message-compose").on("click",function(e){
                    e.preventDefault();
                    $(tabId+" .message-box .message-compose-box .modal-info").val("")
                    $(tabId+" .message-box .box-primary").removeClass("none");
                    $(tabId+" .message-box .message-compose-box").siblings().addClass("none");
                })
                $(tabId+" .message-box .message-compose-box .send-message").on("click",function(){
                    datas["data"]={}
                    $(tabId+" .message-box .message-compose-box .modal-info").each(function(){
                        var name =$(this).attr("name");
                        var val =$(this).val();
                        var required=$(this).attr("required");
                        var title=$(this).attr("title");
                        if(required=="required" && (val=="" || val == "0")){
                            notice(110,title,"输入异常");
                            throw title
                        }else{
                            if(name=="content"){
                                datas["data"][name]=encodeURI(CKEDITOR.instances['compose-textarea'].getData(''));
                                
                            }else{
                                datas["data"][name]=val;
                            }
                            
                        }
                    })
                    datas["reqType"] = "messageAdd";
                    post("{$url}",datas,function(result){
                        notice(result.errCode,result.error);
                        if(result.errCode==0){
                            $(tabId+" .message-box .message-compose-box").find(".modal-info[name='to_user']").val("");
                            $(tabId+" .message-box .message-compose-box").find(".modal-info[name='title']").val("");
                            $(tabId+" .message-box .message-compose-box").find(".modal-info[name='to_user']").trigger("chosen:updated");
                            CKEDITOR.instances['compose-textarea'].setData('')
                            $(tabId+" .message-box .mes-folder ul").find("li.send-box a").click()
                        }else{

                        }
                    });
                })
                //Handle starring for glyphicon and font awesome
                // $(".mailbox-star").click(function (e) {
                //     e.preventDefault();
                //     //detect type
                //     var $this = $(this).find("a > i");
                //     var glyph = $this.hasClass("glyphicon");
                //     var fa = $this.hasClass("fa");
                
                //     //Switch states
                //     if (glyph) {
                //         $this.toggleClass("glyphicon-star");
                //         $this.toggleClass("glyphicon-star-empty");
                //     }
                
                //     if (fa) {
                //         $this.toggleClass("fa-star");
                //         $this.toggleClass("fa-star-o");
                //     }
                // });
            });
        </script>
    </body>
</html>