<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">个人报销</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {:add_btn(get_defined_vars(),"新增报销")}
                        
                    </div>
                    <div class="box-body search-body company-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label >项目名称：</label>
                                    <input class="form-control search-info input-sm"  name="project_name" placeholder="项目名称" type="text">
                                </div>
                                <div class="form-group">
                                    <label >清算状态：</label>
                                    <select class="form-control search-info input-sm" name="clear_status">
                                        <option value="">所有状态</option>
                                        <option value="0">未清算</option>
                                        <option value="1">已清算</option>
                                        <option value="2">清算中</option>
                                    </select>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label">提交报销：</label>
                                    <input class="form-control search-info input-sm" readonly="readonly" name="company" placeholder="提交报销" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">报销金额：</label>
                                    <input class="form-control search-info input-sm" readonly="readonly" name="company" placeholder="报销金额" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">已报销：</label>
                                    <input class="form-control search-info input-sm" readonly="readonly" name="company" placeholder="已报销" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">未报销：</label>
                                    <input class="form-control search-info input-sm" readonly="readonly" name="company" placeholder="未报销" type="text">
                                </div> -->
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-outbox" style="z-index: 1;">
                <div style="font-size:0.95em;overflow: auto;">
                    <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;"></div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <!-- <th>序号</th> -->
                                <th class="hidden-xs is-frozen">项目编号</th>
                                <th class="is-frozen">项目名称</th>
                                <th>项目日期</th>
                                <th>营业主担</th>
                                <th>项目主担</th>
                                <th>报销提交日期</th>
                                <th>报销总项</th>
                                <th>报销金额</th>
                                <!-- <th>收款账户类别</th> -->
                                <!-- <th>发票或凭证</th> -->
                                <!-- <th>审批记录</th> -->
                                <!-- <th>备注</th> -->
                                <th>审批备注</th>
                                <th>审批记录</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="{$controlName}-table">
                            {$tables}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12"><div class="dataTables_length" ><label>显示 <select name="pageSize"  class="form-control input-sm search-info">
                    <volist name="entries" id="item"><option value="{$item}">{$item}</option></volist>
                </select> 条</label></div></div>
                <div  class="{$controlName}-page row page-div col-md-10 col-sm-9 col-xs-12" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                    {$pages}
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg  modal-full">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        function expense_initInfo(gettype){
            if(gettype == "Add"){
                init_chosen("{$url}","getOptionList",".global-modal");
            }
            init_date();
            upload({url:"{:U('Cost/upload_filesAdd')}"})
        }
        function expense_setInfo(info){
            var gettype = $(tabId+" .global-modal .modal-footer").find(".save-info").data("gettype");
            ["project_id","code","project_name","project_date","business_name","leader_name",'leader',"money","city",'account','invoice_money'].forEach(element=>{
                if(element == "project_id" && info[element] > 0 ){
                    var projectChosen= $(tabId+" .global-modal .project-info[name='project_id']");
                    var project_id = info["project_id"];
                    if(projectChosen.find("option[value='"+info["project_id"]+"']").length==0){
                        projectChosen.append("<option value='"+info["project_id"]+"'>"+info["project_name"]+"</option>")
                    }
                    projectChosen.val(info[element]);
                    
                    projectChosen.trigger("chosen:updated");
                    var sectionChosen = $(tabId+" .global-modal").find(".common-info[name='section']");
                    if(info['section'] > 0 && sectionChosen.val() <=0){
                        projectChosen.trigger("change");
                        sectionChosen.val(info['section']);
                        sectionChosen.trigger("chosen:updated");
                    }
                }else if(info[element]){
                    $(tabId+" .global-modal .project-info[name='"+element+"']").val(info[element]);
                }
                
            });
            // ["id","debit_money","fee_type","require_date","account_type","account","invoice_money","debit_cause","leader"].forEach(element=>{
            //     if(info[element]!="" || info[element]!="0"){
            //         $(tabId+" .global-modal .modal-info[name='"+element+"']").val(info[element]);
            //     }
            // });
            if(gettype!="Add"){
                set_table_data(["expense-list"],info["tableData"],JSON.parse('{$statusTypeJ}'),function($current,listData,statusType){
                    for (var key in listData) {
                        if(key == "city"){
                            $current.find(".chosen-select[name='province']").find("option[value='"+listData["cpid"]+"']").prop("selected",true)
    
                            var city_optoin = '<option value="">城市</option>'
                            listData["citys"].forEach(city => {
                                city_optoin+='<option value="'+city["cid"]+'">'+city["city"]+'</option>'
                            });
                            $current.find(".chosen-select[name='city']").html(city_optoin);
                            $current.find(".chosen-select[name='city']").find("option[value='"+listData['city']+"']").prop("selected",true);
                        }else if(key == "aremark" ){
                            if(listData[key]){
                                $current.find("td[name='"+key+"']").text(listData["approve_name"]+"："+listData["aremark"]);
                            }else{
                                $current.find("td[name='"+key+"']").text(listData["approve_name"]);
                            }
                        }else{
                            $current.find(".modal-info[name='"+key+"']").val(listData[key]);
                        }
                        
                    }
                    init_date(false,$current);
                    init_chosen("{$url}","getOptionList",$current);
                });
                $(tabId+" .global-modal .common-info").each(function(){
                    if($(this).hasClass("chosen-select")){
                        init_chosen("{$url}","getOptionList",$(this).parent());
                    }
                })
            }
            
            if(( (info['status'] != 10 && info['status'] > 0) || info['user_id'] != "{$Think.session.userId}") && "{$nodeAuth}" < 7 && info['status'] !=3 && gettype !="Add"){
                $(tabId+" .global-modal").find(".modal-info").prop("disabled",true)
                $(tabId+" .global-modal").find(".common-info").prop("disabled",true)
                $(tabId+" .global-modal").find(".chosen-select").prop("disabled",true)
                $(tabId+" .global-modal").find(".supr-remove").remove();
                $(tabId+" .global-modal").find(".clear-media").remove();
                
                $(tabId+" .global-modal").find(".chosen-select").trigger("chosen:updated");
            }
            // var gettype = $(tabId+" .global-modal .modal-footer").find(".save-info").data("gettype");
            // if(( info['status'] > 0 || info['user_id'] != "{$Think.session.userId}") && "{$nodeAuth}"<7 && info['status'] !=3 && gettype !="Add"){
            //     $(tabId+" .modal-info").prop("disabled",true);
            // }
            // ["expense-list"].forEach(element => {
            //     if(info["tableData"] !=undefined && info["tableData"][element]["list"]){
            //         var list = info["tableData"][element]["list"];
            //         var template = info["tableData"][element]["template"];
            //         var statusType = JSON.parse('{$statusTypeJ}');
            //         var allMoney = 0;
            //         list.forEach(function(listData,rows){
            //             $(tabId+" .global-modal ."+element+" tbody").append(template);
            //             var $current = $(tabId+" .global-modal ."+element+" tbody tr").eq(rows);
            //             $current.find(".serial").text(Number(rows+1));
            //             for (var key in listData) {
            //                 if(key == "status"){
            //                     $current.find("td[name='"+key+"']").text(statusType[listData[key]]);
            //                 }else{
            //                     $current.find(".modal-info[name='"+key+"']").val(listData[key]);
            //                     if(listData["status"] == 1){
            //                         $current.find(".modal-info[name='"+key+"']").prop("disabled",true);
            //                     }
                                
            //                 }
            //             }
            //             init_date(false,$current);
            //         });
            //     }
            // });
        }
        var expense_getInfo = function (){
            datas["data"] = {};
            var gettype = $(tabId+" .global-modal .modal-footer .save-info").data("gettype");
            ['id','project_id','section','money','account_type','leader','account','invoice_money'].forEach(key => {
                var required = $(tabId+" .global-modal").find(".common-info[name='"+key+"']").attr("required");
                var title = $(tabId+" .global-modal").find(".common-info[name='"+key+"']").attr("title");
                var val = $(tabId+" .global-modal").find(".common-info[name='"+key+"']").val()
                if(required && (val== "" || val== 0) && in_array(key,['section','account_type'])){
                    notice(110,title,"输入异常");
                    throw title;
                }else{
                    datas["data"][key] = val;
                }
                

                if(key == "section" && datas["data"]['section'] <= 0 && datas["data"]['project_id'] > 0){
                    notice(110,'项目报销请选择成本标识',"输入异常");
                    throw '项目报销请选择成本标识';
                }
            });
            datas["data"]['list'] = [];
            $(tabId+" .global-modal").find(".modal-expense-table tr").each(function(){
                var temp ={};
                ['id','happen_date','expense_type','province','city','fee_type','cost_desc','expen_vouch_type','money','remark','vouch_file','invoice_money'].forEach(key=>{
                    var name = $(this).find(".modal-info[name='"+key+"']").attr("name");
                    var val = $(this).find(".modal-info[name='"+key+"']").val();
                    var required = $(this).find(".modal-info[name='"+key+"']").attr("required");
                    var title = $(this).find(".modal-info[name='"+key+"']").attr("title");
             
                    if(required && (val== "" || val== 0)){
                        notice(110,title,"输入异常");
                        throw title;
                    }else{
                        temp[name]=val;
                    }
                // if(gettype=="Add" || (gettype=="Edit" && in_array(temp["status"],[0,3])) ){
                //     temp["status"] = temp["status"] == 3 ? 0 : temp["status"];
                //     datas["data"][element].push(temp);
                // }
                //     temp[key] = $(this).find(".modal-info[name='"+key+"']").val();
                // });
                // if(float(temp['debit_money'])>0){
                //     datas["data"]['list'].push(temp);
                // }
                });
                if(float(temp['money'])>0){
                    datas["data"]['list'].push(temp);
                }
            });
            
            if(gettype=="Add" && JSON.stringify(datas["data"]['list']) == "[]"){
                notice(110,"没有数据啊！","输入异常");
                throw "没有数据啊！";
            }
            // console.log(datas);
            // var expense_id = $(tabId+" .expense-id[name='id']").val();
            // var status = $(tabId+" .modal-info[name='status']").val();
            // var project_id = $(tabId+" .modal-info[name='project_id']").val();
            // var leader = $(tabId+" .modal-info[name='leader']").val();
            // datas["expense_id"] = expense_id;
            // datas["project_id"] = project_id;
            // datas["leader"] = leader;

            // var gettype = $(tabId+" .global-modal .modal-footer .save-info").data("gettype");
            // ["expense-list"].forEach(element => {
            //     datas["data"][element] = [];
            //     $(tabId+" .global-modal ."+element+" tbody tr").each(function(){
            //         tempSupr = {}
                    
            //         $(this).find(".modal-info").each(function(){
                        
            //             var name = $(this).attr("name");
            //             var val = $(this).val();
            //             var required=$(this).attr("required");
            //             var title=$(this).attr("title");
            //             if(required=="required" && val==""){
            //                 notice(110,title,"输入异常");
            //                 throw title;
            //             }else{
            //                 tempSupr[name]=val;
            //             }
            //         })
            //         if(gettype=="Add" || (gettype=="Edit" && in_array(tempSupr["status"],[0,3])) ){
            //             tempSupr["status"] = tempSupr["status"] == 3 ? 0 : tempSupr["status"];
            //             datas["data"][element].push(tempSupr);
            //         }
            //     })
            
        };
        var feeLimit = function(self) {
            var city = self.find(".modal-info[name='city']").val()
            var feeType = self.find(".modal-info[name='fee_type']").val()
            var money = self.find(".modal-info[name='money']").val()
            datas["data"] = {city:city,feeType:feeType,money:money};
            datas["reqType"] = "feeLimitOne";
            get("{$url}",datas,function(result){
                if(result.errCode!=0){
                    notice(result.errCode,result.error,"输入异常");
                    self.find(".modal-info[name='money']").val(float_format(result.data.limit_money))
                }
                sum_expense_money();
                sum_invoice_money();
            })
        }
        var sum_expense_money = function(){
            var all_money = 0;
            $(tabId+" .global-modal").find(".modal-info[name='money']").each(function(){
                all_money += float($(this).val());
            })
            $(tabId+" .global-modal").find(".common-info[name='money']").val(float_format(all_money));
        }
        var sum_invoice_money = function(){
            var all_invoice_money = 0;
            $(tabId+" .global-modal").find(".modal-info[name='invoice_money']").each(function(){
                var money = $(this).parents("tr").find(".modal-info[name='money']").val();
                var invoice_money = $(this).val();
                if(float(invoice_money) > 0 && float(invoice_money) > float(money)){
                    $(this).val(money)
                    invoice_money = money
                }
                
                all_invoice_money += float(invoice_money);
            })
            $(tabId+" .global-modal").find(".common-info[name='invoice_money']").val(float_format(all_invoice_money));
        }
        $(function(){
            $(tabId+" .search-list").trigger("click");
            $(tabId).offon("change"," .project-info[name='project_id']",function(){
                var project_id = $(this).val()
                var flags = $(tabId+" .global-modal").find(".modal-info[name='section']");
                $(tabId+" .global-modal").find(".project-info[name='no_debit']").val("0.00");
                if(Number(project_id)>0){
                    datas["reqType"]='getProjectOne';
                    datas["onlydata"]='true';
                    datas["gettype"]='Edit';
                    datas["id"]=project_id;
                    get("{$url}",datas,function(result){
                        if(result.data){
                            var option = '<option></option>'
                            result.data.flags.forEach(element => {
                                option += '<option value="'+element.section+'">'+element.flag+'</option>'
                            });
                            flags.html(option);
                            flags.trigger("chosen:updated")
                            flags_data = result.data.flags

                            result.data['project_id'] = result.data['projectId'];
                            var gettype = $(tabId+" .global-modal .modal-footer").find(".save-info").data("gettype");
                            if(gettype=="Add"){
                                expense_setInfo(result.data)
                            }
                            // expense_setInfo(result.data)
                        }
                    },false)
                }else{
                    ["project_id","code","project_name","project_date","business_name","leader_name","leader"].forEach(element=>{
                        $(tabId+" .global-modal .project-info[name='"+element+"']").val("");
                    });
                }
            });

            [["add-expense","getExpenseLiOne","expense-list"]].forEach(element => {
                $(tabId).offon("click","."+element[0],function(){
                    datas["reqType"]=element[1];
                    datas["rows"]=$(tabId+" .global-modal ."+element[2]+" tr").length;
                    var rows = datas["rows"];
                    get("{$url}",datas,function(result){
                        $(tabId+" .global-modal ."+element[2]+"").append(result.html);
                        $(tabId+" .global-modal ."+element[2]+" tr").eq(rows).find(".approve-group").remove()
                        init_chosen("{$url}","getProjectOne",$(tabId+" .global-modal ."+element[2]+" tr").eq(rows));
                        init_date(false,$(tabId+" .global-modal ."+element[2]+" tr").eq(rows));
                    })
                })
                $(tabId).offon("click",".global-modal ."+element[2]+" .supr-remove",function(){
                    $(this).parents("tr").remove();
                })
            });

            $(tabId+" .global-modal").offon("input",".modal-info[name='money']",function(){
                sum_expense_money();
            })
            $(tabId+" .global-modal").offon("input",".modal-info[name='invoice_money']",function(){
                sum_invoice_money();
            })
            $(tabId+" .global-modal").offon("change",".modal-info[name='city'],.modal-info[name='fee_type'],.modal-info[name='money']",function(){
                feeLimit($(this).parents("tr"))
            })
            $(tabId+" .global-modal").offon("change",".modal-info[name='account_type']",function(){
                var accKey = $(this).val();
                var accounts = JSON.parse('{$accounts}')
            
                $(tabId+" .global-modal").find(".common-info[name='account']").val(accounts[accKey]);
            })
            $(tabId+" .global-modal").offon("change",".modal-info[name='section']",function(){
                var section = $(this).val()
                var project_id = $(tabId+" .global-modal").find(".project-info[name='project_id']").val();
                $(tabId+" .global-modal").find(".project-info[name='no_debit']").val("0.00");
                if(section > 0 && project_id > 0){
                    datas["reqType"] = 'getNoDebitOne';
                    datas["section"] = section;
                    datas["project_id"] = project_id;
                    get("{$url}",datas,function(result){
                        if(result.data){
                            $(tabId+" .global-modal").find(".project-info[name='no_debit']").val(result.data);
                        }
                    })
                }
            })
        })
    </script>
</body>
</html>