<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">报销管理</h4>
                        
                    </div>
                    <div class="box-body search-body search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                
                                    <div class="form-group">
                                        <label class="control-label">选择项目：</label>
                                        <select class="form-control search-info  chosen-select" title="选择项目" data-value="projectId"  data-text="name" name="project_id">
                                            <option value="">项目与非项目</option>
                                            <option value="0">非项目报销</option>
                                            <volist name="projectArr" id="item">
                                                <option value="{$item['projectId']}">{$item['name']}</option>
                                            </volist>
                                        </select>
                                    </div>
            
                                
                                    <div class="form-group">
                                        <label class="control-label">选择员工：</label>
                                        <select class="form-control search-info  chosen-select" title="选择员工" data-value="projectId"  data-text="name" name="project_id">
                                            <option value="0">选择员工</option>
                                            <volist name="userArr" id="item">
                                                <option value="{$item['userId']}">【{$item['roleName']}】{$item['userName']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                
                                
                                <div class="form-group">
                                    <label class="control-label">项目编号：</label>
                                    <input class="form-control search-info input-sm chosen-fcopy" name="company" placeholder="项目编号" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目名称：</label>
                                    <input class="form-control search-info input-sm" name="company" placeholder="项目名称" type="text">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">项目日期：</label>
                                    <input class="form-control search-info input-sm" name="company" placeholder="项目日期" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">营业主担：</label>
                                    <input class="form-control search-info input-sm" name="company" placeholder="营业主担" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目主担：</label>
                                    <input class="form-control search-info input-sm" name="company" placeholder="项目主担" type="text">
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-outbox" style="z-index: 1;">
                <div style="font-size:0.95em;overflow: auto;">
                    <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;"></div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <!-- <th>序号</th> -->
                                <th class="hidden-xs is-frozen">员工姓名</th>
                                <th class="hidden-xs is-frozen">项目编号</th>
                                <th class="is-frozen">项目名称</th>
                                <th>项目日期</th>
                                <th>营业主担</th>
                                <th>项目主担</th>
                                <th>报销日期</th>
                                <th>报销项</th>
                                <th>费用金额</th>
                                <th>财务备注</th>
                                <th>审批备注</th>
                                <th>审批记录</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="{$controlName}-table">
                            {$tables}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12"><div class="dataTables_length" ><label>显示 <select name="pageSize"  class="form-control input-sm search-info">
                    <volist name="entries" id="item"><option value="{$item}">{$item}</option></volist>
                </select> 条</label></div></div>
                <div  class="{$controlName}-page row page-div col-md-10 col-sm-9 col-xs-12" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                    {$pages}
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg modal-full">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        function fin_expense_initInfo(gettype){
            if(gettype == "Add"){
                init_chosen("{$url}","getOptionList",".global-modal");
            }
            init_date();
            upload({url:"{:U('Cost/upload_filesAdd')}"})
        }
        function fin_expense_setInfo(info){
            // console.log(info);throw 'a';
            var gettype = $(tabId+" .global-modal .modal-footer").find(".save-info").data("gettype");
            ["project_id","code","project_name","project_date","business_name","leader_name",'leader',"money","city",'account','invoice_money'].forEach(element=>{
                if(element == "project_id" && info[element] > 0 ){
                    var projectChosen= $(tabId+" .global-modal .project-info[name='project_id']");
                    var project_id = info["project_id"];
                    if(projectChosen.find("option[value='"+info["project_id"]+"']").length==0){
                        projectChosen.append("<option value='"+info["project_id"]+"'>"+info["project_name"]+"</option>")
                    }
                    projectChosen.val(info[element]);
                    
                    projectChosen.trigger("chosen:updated");
                    var sectionChosen = $(tabId+" .global-modal").find(".common-info[name='section']");
                    if(info['section'] > 0 && sectionChosen.val() <=0){
                        sectionChosen.append("<option value='"+info["section"]+"'>"+info["flag"]+"</option>")
                        sectionChosen.val(info['section']);
                        sectionChosen.trigger("chosen:updated");
                    }
                }else if(info[element]){
                    $(tabId+" .global-modal .project-info[name='"+element+"']").val(info[element]);
                }
                
            });
            // ["id","debit_money","fee_type","require_date","account_type","account","invoice_money","debit_cause","leader"].forEach(element=>{
            //     if(info[element]!="" || info[element]!="0"){
            //         $(tabId+" .global-modal .modal-info[name='"+element+"']").val(info[element]);
            //     }
            // });
            if(gettype!="Add"){
                set_table_data(["expense-list"],info["tableData"],JSON.parse('{$statusTypeJ}'),function($current,listData,statusType){
                    for (var key in listData) {
                        if(key == "city"){
                            $current.find(".chosen-select[name='province']").find("option[value='"+listData["cpid"]+"']").prop("selected",true)
    
                            var city_optoin = '<option value="">城市</option>'
                            listData["citys"].forEach(city => {
                                city_optoin+='<option value="'+city["cid"]+'">'+city["city"]+'</option>'
                            });
                            $current.find(".chosen-select[name='city']").html(city_optoin);
                            $current.find(".chosen-select[name='city']").find("option[value='"+listData['city']+"']").prop("selected",true);
                        }else if(key == "aremark" ){
                            if(listData[key]){
                                $current.find("td[name='"+key+"']").text(listData["approve_name"]+"："+listData["aremark"]);
                            }else{
                                $current.find("td[name='"+key+"']").text(listData["approve_name"]);
                            }
                        }else{
                            $current.find(".modal-info[name='"+key+"']").val(listData[key]);
                        }
                        
                    }
                    init_date(false,$current);
                    init_chosen("{$url}","getOptionList",$current);
                });
                $(tabId+" .global-modal .common-info").each(function(){
                    if($(this).hasClass("chosen-select")){
                        init_chosen("{$url}","getOptionList",$(this).parent());
                    }
                })
            }
            
            if(( info['status'] > 0 || info['user_id'] != "{$Think.session.userId}") && "{$nodeAuth}"<7 && info['status'] !=3 && gettype !="Add"){
                $(tabId+" .global-modal").find(".modal-info").prop("disabled",true)
                $(tabId+" .global-modal").find(".common-info").prop("disabled",true)
                $(tabId+" .global-modal").find(".chosen-select").prop("disabled",true)
                $(tabId+" .global-modal").find(".supr-remove").remove();
                $(tabId+" .global-modal").find(".clear-media").remove();
                
                $(tabId+" .global-modal").find(".chosen-select").trigger("chosen:updated");
            }
            // $(tabId+" .global-modal").find(".approve-group").data("id",info['id'])
            if(info['process_level'] > info['place'] || info['status'] == 3){
                if(info["user_id"] == "{$Think.session.userId}"){
                    $(tabId+" .global-modal").find(".approve-group .approve-con").remove();
                }else{
                    $(tabId+" .global-modal").find(".approve-group .approve-con").addClass("disabled");
                    $(tabId+" .global-modal").find(".approve-group .approve-con").prop("disabled",true);
                }
            }
        }
        $(function(){
            init_chosen("{$url}","getOptionList",".search-box");
            $(tabId+" .search-list").trigger("click");
        })
    </script>
</body>
</html>
