<volist name="list" id="item">
    <tr>
        <td>{$item['company']}</td>
        <td>{$item['alias']}</td>
        <td>{$item['province']}</td>
        <td>{$item['city']}</td>
        <td>{$item['address']}</td>
        <td>{$item['remarks']}</td>
        <td><span class="label bg-{$statusLabel[$item['status']]}">{$statusType[$item['status']]}</span></td>
        <td class="status-con" data-db="{$dbName}" data-con="{$controlName}" data-id="{$item['contactId']}" data-url="{$url}" >
            <button type="button" data-gettype="Edit" data-toggle="modal" data-vtarget=".global-modal" class="btn btn-sm btn-primary v-showmodal">编辑</button>
            <if condition="in_array($userId,explode(',',$item['examine'])) eq true and $item['status'] eq 2" >

            <else/>
                <if condition="$processAuth['level'] gt 1 and ($item['status'] eq 0 or  $item['status'] eq 2 )  ">
                    <button type="button" class="btn btn-success submit-status btn-sm" data-status="1" name="approve" >批准</button>  
                    <button type="button" class="btn btn-warning submit-status btn-sm" data-status="3" name="refuse">拒绝</button>
                </if>
            </if>
            <if condition="$nodeAuth egt 4 ">
                <button type="button" class="btn btn-danger btn-sm status-info" data-status="4" data-reqtype="Del"  >删除</button>
            </if>
        </td>
        </td>
    </tr>
</volist>