<volist name="list" id="item">
        <tr>
            <td>{$item['company']}</td>
            <td>{$item['alias']}</td>
            <td>{$item['province']}</td>
            <td>{$item['city']}</td>
            <td>{$item['address']}</td>
            <td>{$item['remarks']}</td>
            <if condition="$item['status'] eq 0">
                <td><span class="label bg-black">{$statusType[$item['status']]}</span></td>
            <elseif condition="$item['status'] eq 1"/>
                <td><span class="label label-success">{$statusType[$item['status']]}</span></td>
            </if>
            <td><button type="button" data-show="One" data-reqtype="Edit"  data-id="{$item['companyId']}" data-url="{$url}" data-con="company" data-toggle="modal" data-target="#modal-companyInfo" data-title="编辑供应商" class="btn btn-sm btn-primary info-edit">编辑</button></td>
        </tr>
    </volist>