<div class="modal-header">
    <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{$title}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="box-body">
            <input class="modal-info" value="0" name="contactId" type="hidden">
            <div class="form-group"> 
                <label class="control-label">客户名称：</label>
                <select class="form-control modal-info chosen-cusCompany chosen-select" title="公司名称" name="companyId">
                    <option value="">个人</option>
                    <volist name="cusCompanyList" id="item">
                        <option value="{$item.companyId}">{$item.company}</option>
                    </volist>
                </select>
            </div>
            <div class="form-group">
                <label for="info-title">联系人：</label>
                <input class="form-control modal-info" required="required" name="contact" title="联系人" placeholder="联系人" type="text">
            </div>
            <div class="form-group">
                <label for="info-title">联系通讯：</label>
                <input class="form-control modal-info datetime" required="required" name="phone" title="联系通讯" placeholder="联系通讯" type="text">
            </div>
            <div class="form-group">
                <label for="info-title">E-mail：</label>
                <input class="form-control modal-info" name="email" title="E-mail" placeholder="E-mail" type="text">
            </div>
            <div class="form-group">
                <label for="info-title">联系地址：</label>
                <input class="form-control modal-info" name="address" title="联系地址" placeholder="联系地址" type="text">
            </div>
            <div class="form-group">
                <label for="info-title">备注：</label>
                <input class="form-control modal-info" name="remarks" title="备注" placeholder="备注" type="text">
            </div>
            <div class="form-group">
                <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                    <input class="modal-info" value="0" name="status" type="hidden">
                    {:modal_btn(get_defined_vars(),true)}
                </div>
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
    {:save_btn(get_defined_vars())}
</div>