<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-plus-square"></i>
                    <h4 class="box-title">执行类型列表</h4>
                    <if condition="$processAuth['level'] gt 0 or $nodeAuth egt 2">
                        <!-- <div class="form-group"> -->
                            <button type="button" data-gettype="Add" data-toggle="modal" data-url="{$url}"  data-vtarget=".global-modal" data-con="{$controlName}" class="btn margin  btn-info v-showmodal"><i class="fa fa-fw fa-user-plus"></i> 新建执行类型</button>
                        <!-- </div> -->
                    </if>
                </div>
                <div class='box-body'>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input class="form-control input-expand-execute" placeholder="搜索执行类型" value="" type="input">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="tree-plus handle" data-id="#executetree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#executetree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="executetree"></div>
                        </div>
                    </div>
                    <!-- <div class="box-footer">
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        var basic_execute_initInfo = function(){
            init_chosen("{$url}","",$(tabId+" .global-modal .modal-info[name='pId']").parent());
        }
        var basic_execute_searchInfo = function(){
            createExecuteTree()
        }
        /** 
         * @Author: vition 
         * @Date: 2018-09-25 09:57:42 
         * @Desc: ajax获取数据 
         */        
        var  getExecuteTree = function() {
            var tree=[]
            datas["reqType"]="{$controlName}List";
            get("{$url}",datas,function(result){
                tree=result.tree
            },false)
            return tree;
        }
        /** 
         * @Author: vition 
         * @Date: 2018-09-25 09:59:36 
         * @Desc: 成成树形节点 
         */        
        function createExecuteTree(){
            $(tabId+' #executetree').treeview({showButton: true,highlightSelected:false,data: getExecuteTree(),levels:1,color: "#428bca",});
            //费用类别编辑
            $(tabId+' #executetree').offon("click",'li button',function(){
                datas={}
                var feeTypeData= $(tabId+' #executetree').treeview('getNode', $(this).parent(".node-executetree").data("nodeid"));
                datas.id = feeTypeData.id;
                var gettype = "Edit"
                datas.gettype = gettype
                var con = "{$controlName}"
                datas.con = con
                datas.reqType = datas.con+"_modalOne"
                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        $(tabId+" .global-modal .modal-content").html(result.html);
                        $(tabId+" .global-modal").modal('toggle');
                        ['name','alias','remark','pId','basicId',"level",'sort'].forEach(element => {
                            $(tabId+" .global-modal .modal-info[name='"+element+"']").val(result.data[element]);
                        });
                        $(tabId+" .modal-info[name='pId']").trigger('chosen:updated');
                        init_chosen("{$url}","",$(tabId+" .global-modal .modal-info[name='pId']").parent());
                        set_status_btn($(tabId+" .modal-status .status-btn[name='"+result.data['status']+"']"))
                    }
                })
            })
            var node_sort = 0;
            $(tabId+' #executetree').offon("focus",'li .node-input',function(){
                node_sort = $(this).val()
            })
            $(tabId+' #executetree').offon("blur",'li .node-input',function(){
                var new_sort = $(this).val()
                if(node_sort !== new_sort){
                    var nodeData= $(tabId+' #executetree').treeview('getNode', $(this).parents(".node-executetree").data("nodeid"));
                    datas={}
                    datas["reqType"] = 'basic_executeEdit';
                    datas["data"] = {basicId:nodeData.id,sort:new_sort};
                    post("{$url}",datas,function(result){
                        if(result.errCode==0){
                            createExecuteTree()
                        }
                    })
                }
            })
        }
        $(function(){
            createExecuteTree()
            $(tabId+' .input-expand-execute').on("input",function(){
                $(tabId+' #executetree').treeview('collapseAll', { silent: true });
                var prveNode=$('#executetree').treeview('search', [$(tabId+' .input-expand-execute').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching nodes
                }]);
            })
            // $(tabId+" .search-list").trigger("click");
        })
        /*设置编辑信息*/
        // function basic_execute_setInfo(info){
        //     $(tabId+" .modal-info[name='basicId']").val(info['basicId']);
        //     $(tabId+" .modal-info[name='pId']").find("option[value='"+info['pId']+"']").prop("selected",true);
        //     $(tabId+" .modal-info[name='name']").val(info['name']);
        //     $(tabId+" .modal-info[name='alias']").val(info['alias']);
        //     $(tabId+" .modal-info[name='remark']").val(info['remark']);
        //     set_status_btn($(tabId+" .modal-status .status-btn[name='"+info['status']+"']"))
        // }
    </script>
</body>
</html>
