<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__ADMINT__/bower_components/chosen/css/chosen.min.css">
    <style>
        #modal-icon .modal-dialog {position: absolute;top: 0;bottom: 0;left: 0;right: 0;} 
        #modal-icon .modal-content {position: absolute;top: 0;bottom: 0;width: 100%;} 
        #modal-icon .modal-body {overflow-y: scroll;position: absolute;top: 55px;bottom: 65px;width: 100%;} 
    </style>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-plus-square"></i>
                    <h4 class="box-title">费用类别列表</h4>
                    <if condition="$processAuth['level'] gt 0 or $nodeAuth egt 2">
                        <!-- <div class="form-group"> -->
                            <button type="button" data-gettype="Add" data-toggle="modal" data-url="{$url}"  data-vtarget=".global-modal" data-con="{$controlName}" class="btn margin  btn-info v-showmodal"><i class="fa fa-fw fa-user-plus"></i> 新建费用类别</button>
                        <!-- </div> -->
                    </if>
                </div>
                <div class='box-body'>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input class="form-control input-expand-feeType" placeholder="搜索费用类别" value="" type="input">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="tree-plus handle" data-id="#feeTypetree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#feeTypetree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="feeTypetree"></div>
                        </div>
                    </div>
                    <!-- <div class="box-footer">
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        //获取费用类别数据
        function getfeeTypeTree() {
            var tree=[]
            datas["reqType"]="{$controlName}List";
            get("{$url}",datas,function(result){
                // console.log(result);
                tree=result.tree
            },false)
            // intPfeeTypeSelect(tree);
            return tree;
        }
        function basic_feeType_initInfo(){
            // init_chosen("{$url}","",".global-modal");
            init_chosen("{$url}","",$(tabId+" .global-modal .modal-info[name='pId']").parent());
        }
         //生成费用类别树和费用类别树选中的事件
        function createfeeTypeTree(){
            $(tabId+' #feeTypetree').treeview({showButton: true,highlightSelected:false,data: getfeeTypeTree(),levels:1,color: "#428bca",});
            //费用类别编辑
            $(tabId+' #feeTypetree').offon("click",'li button',function(){
                datas={}
                var feeTypeData= $(tabId+' #feeTypetree').treeview('getNode', $(this).parent(".node-feeTypetree").data("nodeid"));
                datas.id = feeTypeData.id;
                var gettype = "Edit"
                datas.gettype = gettype
                var con = "{$controlName}"
                datas.con = con
                datas.reqType = datas.con+"_modalOne"
                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        $(tabId+" .global-modal .modal-content").html(result.html);
                        $(tabId+" .global-modal").modal('toggle');
                        ['name','alias','remark','pId','basicId',"level"].forEach(element => {
                            $(tabId+" .global-modal .modal-info[name='"+element+"']").val(result.data[element]);
                        });
                        $(tabId+" .modal-info[name='pId']").trigger('chosen:updated');
                        if(result.data["limits"]){
                            result.data["limits"].forEach(ele =>{
                                var regionLimit = $(tabId+" .regLimit-table .demo").clone()
                                $(regionLimit).removeClass("none demo");
                                var option = ""
                                JSON.parse(ele.alias).forEach(opt => {
                                    option += "<option value='"+opt[0]+"' selected>"+opt[1]+"</option>"
                                });
                                
                                regionLimit.find(".chosen-select[name='province']").data("cname","city"+ele.basicId)
                                regionLimit.find(".chosen-select[name='province']").attr("name","province"+ele.basicId)

                                regionLimit.find(".chosen-select[name='city']").data("pname","province"+ele.basicId)
                                regionLimit.find(".chosen-select[name='city']").attr("name","city"+ele.basicId)

                                regionLimit.find(".modal-info[name='regions']").append(option);
                                regionLimit.find(".modal-info[name='limitId']").val(ele.basicId);
                                regionLimit.find(".modal-info[name='limit_money']").val(ele.remark)
                                $(tabId+" .global-modal .regLimit-table").append(regionLimit);
                            })
                        }
                        init_chosen("{$url}","",$(tabId+" .regLimit-table .demo").siblings());
                        init_chosen("{$url}","",$(tabId+" .global-modal .modal-info[name='pId']").parent());
                    }

                })
                // $(tabId+" #modal-feeTypeInfo h4").text("费用类别编辑");
                // $(tabId+" #modal-feeTypeInfo .save-info").data("reqtype","Edit");
                // $(tabId+" #modal-feeTypeInfo .save-info").text("费用类别编辑");
                // var feeTypeData= $(tabId+' #feeTypetree').treeview('getNode', $(this).parent(".node-feeTypetree").data("nodeid"));
                // datas["basicId"]=feeTypeData.id;
                // datas["reqType"]='feeTypeOne';
                // get("{$url}",datas,function(result){
                //     if(result.errCode==0){
                //         $(tabId+" .modal-info[name='name']").val(result.info['name']);
                //         $(tabId+" .modal-info[name='alias']").val(result.info['alias']);
                //         $(tabId+" .modal-info[name='basicId']").val(result.info['basicId']);
                //         $(tabId+" .modal-info[name='remark']").val(result.info['remark']);
                //         $(tabId+" #feeTypePid").find("option[value='"+result.info['pId']+"']").prop("selected",true);
                //         $(tabId+" #feeTypePid").trigger('chosen:updated');
                //     }
                // })
                // $(tabId+" #modal-feeTypeInfo").modal('show')
                
            })
        }
        var basic_feeType_getInfo = function(){
            datas["data"] = {};
            ['name','alias','remark','pId','basicId'].forEach(element => {
                datas["data"][element] = $(tabId+" .global-modal .modal-info[name='"+element+"']").val();
            });
            datas["data"]["region"] = [];
            $(tabId+" .global-modal .regLimit-table .demo").siblings().each(function(){
                var temp ={};
                $(this).find(".modal-info").each(function(){
                    var name = $(this).attr("name");
                    var val = $(this).val();
                    temp[name] = val
                });
                if(temp.regions !=""){
                    temp["regionStr"] = [];
                    $(this).find(".modal-info[name='regions']").find("option:selected").each(function(){
                        temp["regionStr"].push([$(this).val(),$(this).text()]);
                    })
                    // var regionStr = $(this).find(".modal-info[name='regions']").find("option:selected").text();
                    // console.log(regionStr)
                    // temp["regionStr"]
                }
                if(temp.regions !=""  && temp.limit_money != "" && temp.limit_money > 0){
                    datas["data"]["region"].push(temp);
                    temp = {}
                }
            });
        }

        $(function(){
            createfeeTypeTree()
            $(tabId+" .search-list").trigger("click");
            //搜索费用类别
            $(tabId+' .input-expand-feeType').offon("input",function(){
                $(tabId+' #feeTypetree').treeview('collapseAll', { silent: true });
                var prvefeeType=$('#feeTypetree').treeview('search', [$(tabId+' .input-expand-feeType').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching feeTypes
                }]);
            })
            //上级费用类别chosen
            //新增费用类别
            $(tabId+" .box-header button").offon("click",function(){
                $(tabId+" .modal-info").val("");
                $(tabId+" #modal-feeTypeInfo h4").text("新增费用类别");
                $(tabId+" #modal-feeTypeInfo .save-info").data("reqtype","Add");
                $(tabId+" #modal-feeTypeInfo .save-info").text("新增费用类别");
                $(tabId+" #feeTypePid").find("option[value='0']").prop("selected",true);
                $(tabId+" #feeTypePid").trigger('chosen:updated');
                $(tabId+" .status-btn").removeClass("active");
                $(tabId+" .status-btn[name='1']").addClass("active");
            });

            $(tabId).offon("click",".add-region",function(){
                var rows=$(tabId+" .global-modal .regLimit-table tr").length;
                var regionLimit = $(tabId+" .regLimit-table .demo").clone()
                $(regionLimit).removeClass("none demo");
                $(regionLimit).addClass("new-region");
                $(tabId+" .global-modal .regLimit-table").append(regionLimit);
                init_chosen("{$url}","getProjectOne",$(tabId+" .global-modal .regLimit-table tr").eq(rows));
            });

            $(tabId+" .global-modal").offon("change",".chosen-select[name^='city']",function(){
                var cityId = $(this).val();
                var cityName = $(this).find("option:selected").text();
                if(cityId>0 && cityId!=""){
                    var region = $(this).parents("tr").find(".chosen-select[name='regions']");
                    if(region.find("option[value='"+cityId+"']").length==0){
                        var option = "<option value='"+cityId+"' selected>"+cityName+"</option>"
                        region.append(option);
                        region.trigger("chosen:updated");
                    }
                }
            });
        })
        //初始化父费用类别的select数据
        // function intPfeeTypeSelect(data){
        //     var option='<option value="0">根Root</option>';
        //     data.forEach(ele => {
        //         option+=getfeeType(ele,0);
        //     });
        //     $(tabId+" #feeTypePid").html(option);
        // }
        //递归获取费用类别
        // function getfeeType(element,level){
        //     var option=""
        //     var strs="";
        //     for (let index = 0; index < level; index++) {
        //         strs+="——";
        //     }
        //     if(typeof(element.nodes)=='object'){
        //         level++
        //         element.nodes.forEach(elementSub => {
        //             option+=getfeeType(elementSub,level);
        //         });
        //     }
        //     return '<option value="'+element.id+'">'+strs+element.text+'</option>'+option;
        // }
        //费用类别信息
        function feeTypeInfoFuns(){
            datas["data"]={}
            $(tabId+" .modal-info").each(function(){
                var name =$(this).attr("name");
                var val =$(this).val();
                if(name=="feeTypeTitle" && val==""){
                    alert("费用类别标题不能为空");
                    throw "费用类别标题不能为空";
                }else if(val!=""){
                    datas["data"][name]=val;
                }
                
            })
            datas["data"].status=$(tabId+" .status-group .active").attr("name")
        }
        /** 
         * @Author: vition 
         * @Date: 2018-02-23 10:08:52 
         * @Desc: 刷新费用类别 
         */        
        function basic_feeType_searchInfo(){
            createfeeTypeTree()
        }
    </script>
</body>
</html>