<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">供应商列表</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <if condition="$processAuth['level'] gt 0 or $nodeAuth egt 2">
                            <button type="button" data-gettype="Add" data-toggle="modal" data-url="{$url}"  data-vtarget=".global-modal" data-con="{$controlName}" class="btn btn-info v-showmodal"><i class="fa fa-fw fa-user-plus"></i> 添加场地</button>
                        </if>
                        {:import_btn(get_defined_vars())}
                        {:export_btn(get_defined_vars())}              
                    </div>
                    <div class="box-body search-body">
                        <div class="col-md-12">
                            <div class="form-inline">                              
                                <div class="form-group">
                                    <label class="control-label">场地名称：</label>
                                    <input class="form-control search-info chosen-fcopy input-sm" name="name" placeholder="场地名称" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="info-title">项目省份：</label>
                                    <select class="form-control search-info chosen-project chosen-select" title="项目省份" name="province" data-cname="city">
                                        <option value="">省份</option>
                                        <volist name="provinceArr" id="item">
                                            <option value="{$item['pid']}">{$item['province']}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="info-title">项目城市：</label>
                                    <select class="form-control search-info chosen-project chosen-select" data-req="getCityList" data-value="cid"  data-text="city" data-noupdate="true" data-pname="province" title="城市" name="city">
                                        <option value="">城市</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">场地别名：</label>
                                    <input class="form-control search-info input-sm" name="alias" placeholder="场地别名" type="text">
                                </div>
                                <div class="form-group">
                                    <label >状态：</label>
                                    <select class="form-control search-info input-sm" title="状态" name="status">
                                        <option value="">全部</option>
                                        <volist name="statusType" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="overflow: auto;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>场地名称</th>
                            <th>场地所在省份</th>
                            <th>场地所在城市</th>
                            <th>场地别名</th>
                            <th>场地备注</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div class="row">
                <div class="col-sm-2"><div class="dataTables_length" ><label>显示 <select name="pageSize"  class="form-control input-sm search-info">
                    <volist name="entries" id="item"><option value="{$item}">{$item}</option></volist>
                </select> 条</label></div></div>
                <div  class="{$controlName}-page row page-div col-sm-10" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                    {$pages}
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        $(function(){
            excel_import({url:"{:U('Basic/excel_import')}"})
            init_chosen("{$url}","",".search-body");
            $(tabId+" .search-list").trigger("click");
        })
        function basic_field_initInfo(){
            init_chosen("{$url}","",".global-modal");
        }
        /*查询列表函数*/
        // function fieldSearchFuns(){
        //     datas['data']={}
        //     $(tabId+" .search-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(val!=""){
        //             datas['data'][name]=val
        //         }
        //     })
        // }
        /*设置编辑信息*/
        function basic_field_setInfo(info){
            $(tabId+" .modal-info[name='id']").val(info['id']);
            $(tabId+" .modal-info[name='name']").val(info['name']);
            $(tabId+" .modal-info[name='alias']").val(info['alias']);
            $(tabId+" .modal-info[name='remark']").val(info['remark']);
            ["id","name","alias","remark"].forEach(element => {
                if(info[element]!=null){
                    $(tabId+" .modal-info[name='"+element+"']").val(info[element]);
                }
            });
            ["province","city"].forEach(element => {
                var select= $(tabId+" .modal-info[name='"+element+"']")
                if(info[element]>0){
                    if(select.find("option[value='"+info[element]+"']").length==0){
                        if(element=="city"){
                            var city_optoin = '<option value="">城市</option>'
                            info["citys"].forEach(city => {
                                city_optoin+='<option value="'+city["cid"]+'">'+city["city"]+'</option>'
                            });
                            select.html(city_optoin);
                        }else{
                            select.append("<option value='"+info[element]+"'>"+info[element+"_name"]+"</option>")
                        }
                    }
                    select.find("option[value='"+info[element]+"']").prop("selected",true);
                    if(select.hasClass("chosen-select")){
                        select.trigger("chosen:updated");
                    }
                }
            });
            set_status_btn($(tabId+" .modal-status .status-btn[name='"+info['status']+"']"))
        }
        /*用户信息*/
        // function fieldInfoFuns(){
        //     datas.data={}
        //     $(tabId+" .modal-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(name=="name" && val==""){
        //             alert($(this).attr("title")+"不能为空")
        //             throw "字段不能为空"
        //         }
        //         datas.data[name]=val
        //     })
        // }
    </script>
</body>
</html>
