<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vition的编程年轮</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" href="__ADMINT__/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="__ADMINT__/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__ADMINT__/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="__ADMINT__/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__ADMINT__/vition/css/vition.css">
  	<link rel="stylesheet" href="__ADMINT__/dist/css/skins/_all-skins.min.css">
  	<link rel="stylesheet" href="__TEMPLATE__/vitionsys/css/index.css">
  	<style>
  	</style>
</head>
<body>
	<header>
		<div class="nav">
			<div class="container">
			<div class="nav-base">
				<div class="nav-left"><i class="fa fa-gears"></i> <small>Vition的编程年轮</small></div>
				<div class="nav-right hidden-xs">
					<ul>
						<li><i class="fa  fa-link"> </i> <a href="">首页</a> </li>
						<li><i class="fa  fa-link"> </i> <a href="">项目</a> </li>
						<li><i class="fa  fa-link"> </i> <a href="">年轮 </a></li>
						<li><i class="fa  fa-link"> </i> <a href="">联系我 </a></li>
					</ul>
				</div>
			</div>
			<button id="show-navmin" class="navbtn visible-xs">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<div class="nav-min"></div>
			</div>
		</div>
	</header>
	<div class="main-container">
		<div class="main-background">
		  <img src="__ADMINT__/dist/img/home-bg2.jpg"/>
		  <div class="container">
		  	<div class="text-center">
				<h2 class="light-green">Welcome to My page</h2>
				<h2 class="white">编写 Web ! 编织 Dream !</h2>
				<h3 class="orange">时间的<span class="light-blue bigger-110"> 年轮</span> 在代码里不停地向前，我用有限的生命<span class="light-blue">编</span>写无限的<span class="light-blue">程</span>序！</h3>
				<br>
				<br>
				<br>
				<br>
				<br>
				<a class="btn bg-purple margin btn-lg" href="#" role="button">&nbsp; Coming soon &nbsp;</a>
			</div>
		  </div>
		</div>
	</div>
	<section class="services" >
		<div class="container">
			<div class="col-sm-4">
				<span>
					<i class="fa fa-circle i-out" aria-hidden="true"></i>
					<i class="fa fa-laptop i-in"></i>
				</span>
				<h4 class="text-info">Web应用</h4>
				<p class="text-muted">开发多个内容管理系统，2017年开始开发OA系统，主要运用的技术有PHP、thinkphp、bootstrap、Jquery……</p>
			</div>
			<div class="col-sm-4">
				<span>
					<i class="fa fa-circle i-out" aria-hidden="true"></i>
					<i class="fa fa-puzzle-piece i-in"></i>
				</span>
				<h4 class="text-info">插件</h4>
				<p class="text-muted">目前开发有企业微信接口、工作日（根据国务院节假日修正）获取接口，主要使用的技术有php和Python</p>
			</div>
			<div class="col-sm-4">
				<span>
					<i class="fa fa-circle i-out" aria-hidden="true"></i>
					<i class="fa fa-magic i-in"></i>
				</span>
				<h4 class="text-info">其他</h4>
				<p class="text-muted">利用Python做爬虫获取某些网站的数据</p>
			</div>
		</div>
	</section>
	<section class="aboutme">
		<div class="container">
			<div class="col-sm-6">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="box box-widget widget-user">
						<div class="widget-user-header bg-black" style="background: url('__ADMINT__/dist/img/photo5.jpg') center center;">
							<h3 class="widget-user-username">Vition Kuo</h3>
							<h5 class="widget-user-desc">网站开发工程师,php,python</h5>
						</div>
						<div class="widget-user-image" style="top: 70px;">
							<img class="img-circle" src="__ADMINT__/dist/img/vition.jpg" alt="User Avatar">
						</div>
						<div class="box-footer">
							<div class="row">
								<div class="col-sm-4 border-right">
									<div class="description-block">
										<h5 class="description-header">5年</h5>
									<span class="description-text">工作经验</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-4 border-right">
									<div class="description-block">
										<h5 class="description-header">广州</h5>
										<span class="description-text">生活城市</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-4">
									<div class="description-block">
										<h5 class="description-header">大专</h5>
										<span class="description-text">学历</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
					</div>
				</div>
			</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<h2 class="text-primary"><i class="ace-icon fa fa-address-card orange"></i>&nbsp; Vition 的个人简介</h2>	
			<div class="hr"></div>
			<p>
				热爱web开发，且一直从事相关行业，力求成为一个全栈工程师，熟悉html、css和jquery和bootstrap等前端技术；熟悉php后台开发，本网站就是通过Thinkphp+Bootstrap+Mysql开发的。目前也在尝试用python+django开发网站。
			</p><p>
				拥有自己的百度云主机，使用Ubuntu系统，利用Apache搭建虚拟主机，配置了有Python环境，同时可以运行Python web。
			</p>
		</div>
	</div>
	</section>
	<section class="aboutopus">
		<div class="container">
			<div class="col-sm-6">
				<h2 class="text-primary"><i class="ace-icon fa fa-code green"></i>&nbsp; OA系统（主要项目）</h2>
				<div class="hr"></div>
					<h4>技术：php、thinkphp、mysql、bootstrap……</h4>
					<p>主要致力于解决日常工作繁琐重复问题，实现智能化办公</p>
					<p>目前已完成开发的功能：人事模块、权限管理和考勤模块。</p>
					<p><b>人事模块：</b>对全公司人员分组、职位、角色进行管理，同时可以管理员工的个人档案以及信息。</p>
					<p><b>权限管理：</b>结合人事模块对不同角色进行权限管理，以确保每个人员在系统中不同配置。</p>
					<p><b>考勤模块：</b>请假、补休等考勤的申请，结合企业微信进行定位打卡和拍照打卡；后台根据部门进行考勤审核，最终生成考勤月历，自动计算员工每个月的考勤时间。</p>
			</div>
			<div class="col-sm-6" style="text-align: center;">
				<img alt="Section Image" width="250" src="__ADMINT__/dist/img/oa.png" class="img-responsive inline">
			</div>
		</div>
	</section>
	<!-- <section class="journals">
		<div class="container">
			<div class="col-md-6 text-left journal-imgs">
				<div class="row">
					<div class="col-md-4 journal-cover"><img src="__ADMINT__/dist/img/photo1.png" /></div>
					<div class="col-md-4 journal-cover"><img src="__ADMINT__/dist/img/photo2.png" /></div>
					<div class="col-md-4 journal-cover"><img src="__ADMINT__/dist/img/photo3.jpg" /></div>
				</div>
				<div class="row">
					<div class="col-md-4 journal-cover"><img src="__ADMINT__/dist/img/photo4.jpg" /></div>
					<div class="col-md-4 journal-cover"><img src="__ADMINT__/dist/img/photo5.jpg" /></div>
					<div class="col-md-4 journal-cover"><img src="__ADMINT__/dist/img/photo1.png" /></div>
				</div>
			</div>
			<div class="col-md-6 text-left journal-list">
				<ul>
					<li>
						<table class="table-list-3">
							<tr>
								<td><i class="fa fa-cog lime-green" style="font-size:4em"></i></td>
								<td>
									<div class="text-right gray">2017-10-06 16:24:33</div>
									<div class="steel-blue">这里是标题啊</div>
									<div class="gray">这里是第一个日志的简介，所以写多一点吧，那么久来几句废话，然后我要去买菜了</div>
								</td>
								<td><span><i class="fa fa-eye sea-green">12</i></span><span><i class="fa fa-heart red">12</i></span></td>
							</tr>
						</table>
					</li>
					<li>
						<table class="table-list-3">
							<tr>
								<td><i class="fa fa-cog lime-green" style="font-size:4em"></i></td>
								<td>
									<div class="text-right gray">2017-10-06 16:24:33</div>
									<div class="steel-blue">这里是标题啊</div>
									<div class="gray">这里是第一个日志的简介，所以写多一点吧，那么久来几句废话，然后我要去买菜了</div>
								</td>
								<td><span><i class="fa fa-eye">12</i></span><span><i class="fa fa-heart">12</i></span></td>
							</tr>
						</table>
					</li>
					<li>
						<table class="table-list-3">
							<tr>
								<td><i class="fa fa-cog lime-green" style="font-size:4em"></i></td>
								<td>
									<div class="text-right gray">2017-10-06 16:24:33</div>
									<div class="steel-blue">这里是标题啊</div>
									<div class="gray">这里是第一个日志的简介，所以写多一点吧，那么久来几句废话，然后我要去买菜了</div>
								</td>
								<td><span><i class="fa fa-eye">12</i></span><span><i class="fa fa-heart">12</i></span></td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
		</div>
	</section> -->
	<section class="contactme">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="white">Contact Me</h2>
					<h4 class="light-grey" style="color: #EDF2F6;">如果您有更好的意见或建议，请联系我！</h4>
				</div>
			</div>
			<div class="hr"></div>
			<div class="row">
				<div class="col-xs-12">
					<form>
						<div class="row">
							<div class="col-md-5 col-md-offset-2">
								<div class="form-group">
									<input type="text" name="contact_name" placeholder="您的名字" class="form-control input-lg input-transparent contact-info">
								</div>
								<div class="form-group">
									<input type="email" name="contact_email" placeholder="您的邮箱" class="form-control input-lg input-transparent contact-info">
								</div>
								<div class="form-group">
									<input type="tel" name="contact_phone" placeholder="您的电话号码" class="form-control input-lg input-transparent contact-info">
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<textarea name="contact_content" placeholder="您的意见或建议" class="form-control input-transparent contact-info" style="min-height: 150px;"></textarea>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="space-12"></div>
							
							<div class="col-md-offset-2 text-center">
								<button class="btn btn-primary no-border btn-lg" type="button" id="sendmes">发送消息</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left">
					<span class="bigger-150 text-muted"><span class="light-green">Vition</span> vitionst.com © 2016-2018</span>
				</div>
				<div class="col-md-6 text-center">
				</div>
			</div>
		</div>
	</footer>
	<script src="__ADMINT__/bower_components/jquery/dist/jquery.js"></script>
	<script src="__ADMINT__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="__ADMINT__/dist/js/adminlte.min.js"></script>
	<script>
		$(function(){
			resize()
			$(window).resize(function(){
				resize()
			})
			//按钮菜单变化
			$("#show-navmin").on("click",function(){
				if($(".nav-right").hasClass("navmin")){
					$(".nav-right").removeClass("navmin")
					$(this).removeClass("btn-active")
				}else{
					$(".nav-right").addClass("navmin")
					$(this).addClass("btn-active")
				}
			})

			//发送信息
			$("#sendmes").on("click",function(){
				var datas={}
				datas["data"]={}
				$(".contact-info").each(function(){
					var name=$(this).attr("name")
					var val=$(this).val();
					if(val==""){
						alert($(this).attr("placeholder")+",不能留空")
						throw $(this).attr("placeholder")+"不能留空"
					}
					datas["data"][name]=val
					
				})
				var email=datas["data"]['contact_email']
				var emailPatt=new RegExp("^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+");
				if(emailPatt.test(email)==false){
					alert("请输入正确的邮箱格式")
					throw "email格式出错"
				}
				var phone=datas["data"]['contact_phone']
				var phonePatt=new RegExp("[0-9]{11}")
				if(phonePatt.test(phone)==false || phone.length>11){
					alert("请输入正确的手机号码")
					throw "phone格式出错"
				}
				$.ajax({
					url:"{:Url('sendMessage')}",
					type:"post",
					data:datas,
					dataType:"html",
					success:function(data){
						alert(data)
					}
				})
			})

			function resize(){
				$(".journal-cover img").width(($(".journal-cover").width()-2)+"px")
				$(".journal-cover img").height(($(".journal-cover").width()*0.7)+"px")
				if($(window).width()<=768){
					$(".main-background").addClass("has-backgroud")
				}else{
					$(".main-background").removeClass("has-backgroud")
				}
			}
		})
	</script>
</body>
</html>
