<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="__ADMINT__/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="__ADMINT__/bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="__ADMINT__/bower_components/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="__ADMINT__/dist/css/AdminLTE.min.css">
  
    <link rel="stylesheet" href="__ADMINT__/dist/css/vwms.css">

    <link rel="stylesheet" href="__TEMPLATE__/shangge/css/home.css">
    <title>深圳市尚格行装饰材料有限公司</title>
</head>
<body>
    <header class="">
        <div class="row sheader">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="fourpoint">
                            <ul>
                                <li><div><i class="fa fa-fw fa-houzz"></i></div><div>上门测量</div></li>
                                <li><div><i class="fa fa-fw fa-scissors"></i></div><div>高端定制</div></li>
                                <li><div><i class="fa fa-fw fa-truck"></i></div><div>快速发货</div></li>
                                <li><div><i class="fa fa-fw fa-star"></i></div><div>无忧售后</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"> 
            </div>
        </div>
        <nav class="navs row hidden-xs">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a>首页</a></li>
                    <li><a>产品</a></li>
                    <li><a>高端定制</a></li>
                    <li><a>预约测量</a></li>
                    <li><a>关于尚格</a></li>
                </ul>
            </div>
            <div class="col-md-3">
            </div>
        </nav>
        <section class="banner">
            <div class="col-md-3">
                <div class="vertical-nav hidden-xs">
                    <div><img class="logo" src="__TEMPLATE__/shangge/imgs/logo.jpg" /></div>
                    <div>
                        <ul>
                            <li><a>窗帘</a></li>
                            <li><a>布艺</a></li>
                            <li><a>墙纸</a></li>
                            <li><a>家具</a></li>
                            <li><a>地毯</a></li>
                            <li><a>灯具</a></li>
                            <li><a>饰品</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="__TEMPLATE__/shangge/imgs/banner/1.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="__TEMPLATE__/shangge/imgs/banner/2.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="__TEMPLATE__/shangge/imgs/banner/3.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
    </header>
    <section class="content">
        <div class="measure">
            <div class="col-md-2"></div>
            <div class="col-md-8 measure2">
                <img src="__TEMPLATE__/shangge/imgs/measure.png" class="img-responsive measunder" alt="...">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="product">
            <div class="row">
                <h2>产品展示</h2>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/1.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/2.jpg" class="img-responsive" alt="..."><p>展示标题2</p><p>展示说明2</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/3.jpg" class="img-responsive" alt="..."><p>展示标题3</p><p>展示说明3</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/4.jpg" class="img-responsive" alt="..."><p>展示标题4</p><p>展示说明4</p></div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/5.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/6.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/7.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/8.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/9.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/10.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/11.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                    <div class="col-md-3"><img src="__TEMPLATE__/shangge/imgs/product/12.jpg" class="img-responsive" alt="..."><p>展示标题1</p><p>展示说明1</p></div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <footer class="footer">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <hr/>
                    <div class="col-md-2">
                        <ul>
                            <li><h4>关于我们</h4></li>
                            <li><a href="">公司简介</a></li>
                            <li><a href="">合作品牌</a></li>
                            <li><a href="">新闻动态</a></li>
                            <li><a href="">商务合作</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul>
                            <li><h4>产品中心</h4></li>
                            <li><a href="">保养手册</a></li>
                            <li><a href="">售后服务</a></li>
                            <li><a href="">大咖定制秀</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul>
                            <li><h4>联系我们</h4></li>
                            <li><a href="">中心地址</a></li>
                            <li><a href="">预约测量</a></li>
                            <li><a href="">客户展示</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><h4>预约热线</h4></li>
                            <li><a href="">400-991-6979</a></li>
                            <li><a href="">(北京时间9：00-21：30)</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ewm">
                        <img class="twocode" src="__TEMPLATE__/shangge/imgs/twocode.png" />
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <hr/>
                    <p>
                        尚格自2007年成立以来，一直致力于高端生活方式的研究，活跃于全球家居市场。于细微处着手，从布艺产品出发，专业设计师一对一为客户提供选材、配色、造型、尺寸定制等服务。为中国客户带来高端的家居体验和卓越的产品服务。
                    </p>
                    <p>
                        以多元化的产品优势，尚格立于行业前端，代理了20多个全球顶级家居品牌，旗下品牌有：意大利Decobei,Rubelli,Lorisn Zanca；英国AndrewMartin，Colefax And Flower,DesignersGuild,Jane Churchill,ManuelCanovas,Romo,Villanova,Zinc;法国的Casamance,CamenGo;西班牙的Alhambra,Lizzo;荷兰Kobe;德国的Drapliux,JAB;美国的Kravet,Larsen;希腊的IFI等。
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
    </footer>
    <section class="foot_yuyue hidden-xs">
        <div class="col-md-2"></div>
        <div class="col-md-8 yyinfo">
            <div class="col-md-6">
                姓名：<input type="text" />
                电话：<input type="text" />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button class="submityy">立即预约>></button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </section>
    <script src="__ADMINT__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__ADMINT__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__ADMINT__/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__ADMINT__/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="__ADMINT__/dist/js/adminlte.min.js"></script>
    <script src="__ADMINT__/dist/js/vwms.js"></script>
    <script>
        $(function(){
            resetImg()
            $(window).resize(resetImg())
        })
        function resetImg(){
        }
    </script>
</body>
</html>