<div class="modal-header">
    <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{$title}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="box-body">
            <!-- <input class="modal-info" value="0" name="id" type="hidden"> -->
            <!-- <input class="modal-info" value="0" name="project_id" type="hidden"> -->
            <div class="row">
                <div class="col-md-3 create-rece">
                    <div class="form-group">
                        <label >选择项目：</label>
                        <select class="form-control modal-info chosen-select" title="选择项目" data-value="projectId"  data-text="name" name="project_id">
                            <option value="0">其他</option>
                            <volist name="projectArr" id="item">
                                <option value="{$item['projectId']}">{$item['name']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">项目编号：</label>
                        <input class="form-control project-info" required="required" readonly="readonly" name="code" title="项目编号"  value="" placeholder="项目编号" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">项目主担：</label>
                        <input class="form-control project-info" required="required" readonly="readonly" name="leader_name" title="项目主担"  value="" placeholder="项目主担" type="text">
                        <input class="project-info modal-info" value="0" name="leader" type="hidden">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">营业主担：</label>
                        <input class="form-control project-info" required="required" readonly="readonly" name="business_name" title="营业主担"  value="" placeholder="营业主担" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"> <h5 class="box-title">点击右边"+"添加供应商<i class="fa fa-fw fa-plus-square text-aqua add-suprcompany" title="新增供应商" data-target=".bankstock-tab" style="cursor: pointer;"></i></h5></div>
            </div>
            <div class="row">
                <table class="table table-bordered table-hover supr-list">
                    <colgroup>
                        <col style>
                        <col style="min-width: 142px;">
                        <col style="min-width: 142px;">
                        <col style>
                        <col style>
                        <col style="min-width: 142px;">
                        <col style>
                        <col style>
                        <col style>
                        <col style>
                        <col style>
                        <col style>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>供应商类别</th>
                            <th>承接类型</th>
                            <th>供应商名称</th>
                            <th>供应商联系人</th>
                            <th>所在地</th>
                            <th>合同总额</th>
                            <th>最迟签署日期</th>
                            <th>预付款日期</th>
                            <th>报价文件</th>
                            <th>合同文件</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="close supr-remove"><span>×</span></button>1</td>
                            <td>
                                <select class="form-control modal-info chosen-select" required="required" title="供应商类型" data-value="basicId"  data-text="name" name="type" data-req="getSuprtype" data-cname="module">
                                    <option value="">选择供应商类型</option>
                                    <volist name="supplierArr" id="item">
                                        <option value="{$item['basicId']}">{$item['name']}</option>
                                    </volist>
                                </select>
                            </td>
                            <td>
                                <select class="form-control modal-info chosen-select" title="承接模块" data-value="basicId" data-req="getModuleList" data-text="name" name="module" data-cname="supplier_com" data-pname="type">
                                    <option value="">选择承接模块</option>
                                    <volist name="moduleArr" id="item">
                                        <option value="{$item['basicId']}">{$item['name']}</option>
                                    </volist>
                                </select>
                            </td>
                            <td>
                                <select class="form-control modal-info chosen-select" required="required" title="供应商名称" data-value="companyId" data-pname="module" data-text="company" name="supplier_com" data-req="getSuprComList" data-extra="province_name,city_name" data-cname="supplier_cont">
                                    <option value="">选择供应商名称</option>
                                    <!-- <volist name="companyArr" id="item">
                                        <option value="{$item['companyId']}">{$item['company']}</option>
                                    </volist> -->
                                </select>
                            </td>
                            <td>
                                <select class="form-control modal-info chosen-select" title="供应商联系人" data-value="contactId" data-req="getSuprContList" data-pname="supplier_com" data-text="contact" name="supplier_cont">
                                    <option value="">选择供应商联系人</option>
                                    <volist name="suprcontArr" id="item">
                                        <option value="{$item['contactId']}">{$item['contact']}</option>
                                    </volist>
                                </select>
                            </td>
                            <td ><input class="form-control modal-info" name="region" readonly="readonly" type="text"></td>
                            <td>
                                <input class="form-control modal-info" required="required"  name="contract_amount" title="合同金额"  value="" placeholder="合同金额" type="text">
                            </td>
                            <td>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control pull-right date-input modal-info" name="sign_date" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control pull-right date-input modal-info" name="advance_date" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input class="form-control modal-info upload-file" name="offer_file" type="text">
                                    <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input class="form-control modal-info upload-file" name="contract_file" type="text">
                                    <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
                                </div>
                            </td>
                            <td>
                                <input class="form-control modal-info"  name="remark" title="备注"  value="" placeholder="备注" type="text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="row">
                <div class="col-md-4 create-rece">
                    <div class="form-group">
                        <label >选择项目或者其他：</label>
                        <select class="form-control chosen-project chosen-select" title="立项或添加场次" data-value="projectId"  data-text="name" name="project_id">
                            <option value="0">其他</option>
                            <volist name="projectArr" id="item">
                                <option value="{$item['projectId']}">{$item['name']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 project-name">
                    <div class="form-group">
                        <label for="info-title">项目名称：</label>
                        <input class="form-control project-info" readonly="readonly" name="project_name" title="项目名称"  value="" placeholder="项目名称" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商名称：</label>
                        <select class="form-control chosen-select modal-info" title="立项或添加场次" data-value="companyId" data-extra="typename,province,city"  data-text="company" data-cname="supplier_cont" name="supplier_com">
                            <option value="" >供应商名称</option>
                            <volist name="supComArr" id="item">
                                <option data-typename="{$item['typename']}" data-province="{$item['province']}" data-city="{$item['city']}" value="{$item['companyId']}">{$item['company']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商类型：</label>
                        <input class="form-control project-info" readonly="readonly" name="supplier_type" title="供应商类型"  value="" placeholder="供应商类型" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商联系人：</label>
                        <select class="form-control chosen-select modal-info" title="立项或添加场次" data-value="contactId" data-extra="typename"  data-text="contact" data-pname="supplier_com" name="supplier_cont">
                            <option value="">供应商联系人</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">供应商所在地：</label>
                        <input class="form-control project-info" readonly="readonly" name="region" title="供应商所在地" value="" placeholder="供应商所在地" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">签署日期：</label>
                        <input class="form-control modal-info date-input" readonly="readonly" name="sign_date" title="项目日期" required="required" value="" placeholder="项目日期" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">合同支付总额：</label>
                        <input class="form-control modal-info"  name="contract_amount" title="合同支付总额" required="required" value="" placeholder="合同支付总额" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">合同最后支付日期：</label>
                        <input class="form-control modal-info date-input" readonly="readonly"  name="late_pay_date" title="合同最后支付日期" value="" placeholder="合同最后支付日期" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="info-title">合同：</label>
                        <input class="form-control modal-info"  name="contract" title="合同" value="" placeholder="合同" type="text">
                    </div>
                </div>
            </div>
            <eq name="{gettype}" value="Edit">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">付款次数：</label>
                        <input class="form-control project-info"  name="pay_num" title="付款次数" required="required" value="" placeholder="付款次数" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">预付款：</label>
                        <input class="form-control project-info"  name="advance" title="预付款" required="required" value="" placeholder="预付款" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">预付款日期：</label>
                        <input class="form-control project-info date-input" readonly="readonly" name="advance_date" title="预付款日期" required="required" value="" placeholder="预付款日期" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">预付款比例：</label>
                        <input class="form-control project-info"  name="advance_ratio" title="预付款比例" required="required" value="" placeholder="预付款比例" readonly="readonly" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">已付款：</label>
                        <input class="form-control project-info"  name="paid_amount" title="已付款" required="required" value="" placeholder="已付款" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">已付款比例：</label>
                        <input class="form-control project-info"  name="paid_ratio" title="已付款比例" required="required" value="" placeholder="已付款比例" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">未付付款：</label>
                        <input class="form-control project-info"  name="surplus_amount" title="未付付款" required="required" value="" placeholder="未付付款" readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="info-title">未付款比例：</label>
                        <input class="form-control project-info"  name="surplus_ratio" title="未付款比例" required="required" value="" placeholder="未付款比例" readonly="readonly" type="text">
                    </div>
                </div>
            </div>
            <div class="paid-list none">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">付款金额：</label>
                            <input class="form-control paid-info"  name="pay_amount" title="付款金额" required="required" value="" placeholder="付款金额" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">付款比例：</label>
                            <input class="form-control paid-info"  name="pay_ratio" title="付款比例" required="required" value="" placeholder="付款比例" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">付款日期：</label>
                            <input class="form-control paid-info"  name="pay_date" title="付款日期" required="required" value="" placeholder="付款日期" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">付款方式：</label>
                            <input class="form-control paid-info"  name="pay_type" title="付款方式" required="required" value="" placeholder="付款方式" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">发票类型：</label>
                            <input class="form-control paid-info"  name="invoice_type" title="发票类型" required="required" value="" placeholder="发票类型" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">付款备注：</label>
                            <input class="form-control paid-info"  name="paid_remark" title="付款备注" required="required" value="" placeholder="付款备注" readonly="readonly" type="text">
                        </div>
                    </div>
                </div>
            </div>
            
            </eq>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="info-title">采购内容详细说明：</label>
                        <textarea  class="form-control modal-info" name="remark" ></textarea>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                    <input class="modal-info" value="0" name="status" type="hidden">
                    {:modal_btn(get_defined_vars())}
                </div>
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
    {:save_btn(get_defined_vars())}
</div>