<tr>
    <td>
        <button type="button" class="close supr-remove"><span>×</span></button><span class="serial">{$rows}</span>
        <input type="hidden" class="modal-info" name="id" value="0">
    </td>
    <td>
        <div class="input-group">
            <input class="form-control modal-info upload-file" name="invoice_file" title="上传/查看发票"  type="text">
            <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
        </div>
    </td>
    <td>
        <input class="form-control modal-info"  name="invoice_money" title="支付金额"  value="" placeholder="支付金额" type="text">
    </td>
    <td>
        <div class="input-group date">
            <input class="form-control pull-right date-input modal-info" name="invoice_date" type="text">
        </div>
    </td>
    <td>
        <select class="form-control modal-info" required="required" title="发票类型" name="invoice_type" style="min-width:120px;">
            <option value="">发票类型</option>
            <volist name="invoiceType" id="item">
                <option value="{$key}">{$item}</option>
            </volist>
        </select>
    </td>
    <td>
        <input class="form-control modal-info"  name="invoice_ratio" title="发票税率"  value="" placeholder="发票税率" type="text">
    </td>
    <td>
        <input class="form-control modal-info"  name="remark" title="备注"  value="" placeholder="备注" type="text">
    </td>
</tr>