<volist name="list" id="item">
    <tr>
        <td>{$item['user_name']}</td>
        <td>{$item['project_name']}</td>
        <td>{$item['code']}</td>
        <td>{$item['leader_name']}</td>
        <td>{$item['business_name']}</td>
        <td>{$item['supplier_com_name']}</td>
        <td>{$item['type_name']}</td>
        <td>{$item['supplier_cont_name']}</td>
        <td>{$item['contract_amount']}</td>
        <td>
            <if condition="$item['sign_date'] gt 0">
                {$item['sign_date']|date="Y-m-d",###|time_format}
            </if>
        </td>
        <td>
            <if condition="$item['advance_date'] gt 0">
                {$item['advance_date']|date="Y-m-d",###|time_format}
            </if>
        </td>
        <td>{$item['remark']}</td>
        <td>
            {:approve_btn($tableName,$item['id'],$item['place'],$item['process_level'],$item['status'])}
            <!-- {:approve_btn($tableName,$item['id'])} -->
            <!-- <div class="approve-group" data-table="{$tableName}" data-id="{$item['id']}" >
                <button type="button" data-url="{:U('Tools/getApproveList')}" class="btn btn-sm bg-purple approve-log">记录</button>
            </div> -->
        </td>
        <td>
            {$item.approve_name}<if condition="$item['aremark']"> ：{$item.aremark} </if>
        </td>
        {:list_btn(get_defined_vars(),"id")}
    </tr>
</volist>