<volist name="list" id="item">
    <tr>
        <td>{$item['project_name']}</td>
        <td>{$item['project_code']|pcode_format}</td>
        <td>{$item['section']}</td>
        <td>{$item['suprtype']}</td>
        <td>{$item['item_num']}</td>
        <td>{$item['ouser_name']}</td>
        <td>{$item['add_time']}</td>
        <td>{$item['total']}</td>
        <if condition="$listType eq 'cost' or $listType eq 'contrast'">
            <td>{$item['cost_total']|default=0}</td>
        </if>
        <if condition="$listType eq 'contrast'">
            <td>{$item['profit']|default=0}</td>
            <td>{$item['profit_ratio']|default=0}</td>
        </if>
        <!-- {:list_btn(get_defined_vars(),"id",[],true)} -->
    </tr>
</volist>