<div class="modal-header">
        <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{$title}</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="box-body">
                <input class="modal-info" value="0" name="id" type="hidden">
                <input class="modal-info" value="0" name="project_id" type="hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="callout callout-info">
                        项目基本信息
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">品牌：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="品牌"  value="" placeholder="品牌" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">项目编号：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="项目编号"  value="" placeholder="项目编号" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">项目日期：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="项目日期"  value="" placeholder="项目日期" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">项目名称：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="项目名称"  value="" placeholder="项目名称" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">结束日期：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="结束日期"  value="" placeholder="结束日期" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">项目主担：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="项目主担"  value="" placeholder="项目主担" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="callout callout-danger">
                        供应商信息【付】
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">供应商全称：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="供应商全称"  value="" placeholder="供应商全称" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">供应商类型：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="供应商类型"  value="" placeholder="供应商类型" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">供应商联系人：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="供应商联系人"  value="" placeholder="供应商联系人" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">联系人电话：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="联系人电话"  value="" placeholder="联系人电话" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">联系人邮箱：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="联系人邮箱"  value="" placeholder="联系人邮箱" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">付款优先级排序：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="付款优先级排序"  value="" placeholder="付款优先级排序" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">承接类别：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="承接类别"  value="" placeholder="承接类别" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">供应商所在地：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="供应商所在地"  value="" placeholder="供应商所在地" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="callout callout-warning">
                        供应商合同相关【应付】
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">合同上传/查看：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="合同上传/查看"  value="" placeholder="合同上传/查看" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">合同总额：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="合同总额"  value="" placeholder="合同总额" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">签约日期：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="签约日期"  value="" placeholder="签约日期" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">签约公司：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="签约公司"  value="" placeholder="签约公司" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">付款优先级：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="付款优先级"  value="" placeholder="付款优先级" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">采购部备注：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="采购部备注"  value="" placeholder="采购部备注" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <h5 class="box-title">点击右边"+"添加支付信息<i class="fa fa-fw fa-plus-square text-aqua add-subcompany" title="新增供应商" data-target=".bankstock-tab" style="cursor: pointer;"></i></h5></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <div>合同付款次数 </div>
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>支付金额</th>
                                    <th>支付比例</th>
                                    <th>支付日期</th>
                                    <th>付款方式</th>
                                    <th>财务计划付款日期</th>
                                    <th>实际付款金额</th>
                                    <th>实际付款比例</th>
                                    <th>实际付款日期</th>
                                    <th>付款状态</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody class="{$controlName}-table">
                                {$tables}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">已付款 统计：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="已付款 统计"  value="" placeholder="已付款 统计" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">未付款 统计：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="未付款 统计"  value="" placeholder="未付款 统计" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <h5 class="box-title">点击右边"+"添加发票信息<i class="fa fa-fw fa-plus-square text-aqua add-subcompany" title="添加发票信息" data-target=".bankstock-tab" style="cursor: pointer;"></i></h5></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>上传查看发票</th>
                                    <th>发票开具日期</th>
                                    <th>发票类别</th>
                                    <th>发票税率</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody class="{$controlName}-table">
                                {$tables}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">需要提交发票总额：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="需要提交发票总额"  value="" placeholder="需要提交发票总额" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">已提交发票总额：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="已提交发票总额"  value="" placeholder="已提交发票总额" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="info-title">未提交发票总额：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="未提交发票总额"  value="" placeholder="未提交发票总额" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                        <input class="modal-info" value="0" name="status" type="hidden">
                        {:modal_btn(get_defined_vars())}
                    </div>
                </div>
            </div>
        </form>            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        {:save_btn(get_defined_vars())}
    </div>