<tr>
    <td>
        <button type="button" class="close supr-remove"><span>×</span></button><span class="serial">{$rows}</span>
        <input type="hidden" class="modal-info" name="id" value="0">
    </td>
    <td>
        <select class="form-control modal-info chosen-select" required="required" title="供应商类型" data-value="basicId"  data-text="name" name="type" data-cname="supplier_com" data-req="getSuprtype">
            <option value="">选择供应商类型</option>
            <volist name="supplierArr" id="item">
                <option value="{$item['basicId']}">{$item['name']}</option>
            </volist>
        </select>
    </td>
    <td>
        <select class="form-control modal-info chosen-select" required="required" title="供应商名称" data-value="companyId" data-pname="type" data-text="company" name="supplier_com" data-req="getSuprComList" data-extra="province_name,city_name" data-cname="supplier_cont">
            <option value="">选择供应商名称</option>
            <!-- <volist name="companyArr" id="item">
                <option value="{$item['companyId']}">{$item['company']}</option>
            </volist> -->
        </select>
    </td>
    <td>
        <select class="form-control modal-info chosen-select" required="required" title="供应商联系人" data-value="contactId" data-req="getSuprContList" data-pname="supplier_com" data-text="contact" name="supplier_cont">
            <option value="">选择供应商联系人</option>
            <volist name="suprcontArr" id="item">
                <option value="{$item['contactId']}">{$item['contact']}</option>
            </volist>
        </select>
    </td>
    <td ><input class="form-control modal-info"  readonly="readonly" name="region" type="text"></td>
    <td>
        <select class="form-control modal-info chosen-select" required="required" title="承接模块" data-value="basicId" data-req="getModuleList" data-pname="supplier_com" data-text="name" name="module">
            <option value="">选择承接模块</option>
            <volist name="moduleArr" id="item">
                <option value="{$item['basicId']}">{$item['name']}</option>
            </volist>
        </select>
    </td>
    <td>
        <input class="form-control modal-info" required="required"  name="contract_amount" title="合同金额"  value="" placeholder="合同金额" type="text">
    </td>
    <td>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input class="form-control pull-right date-input modal-info" name="sign_date" type="text">
        </div>
    </td>
    <td>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input class="form-control pull-right date-input modal-info" name="advance_date" type="text">
        </div>
    </td>
    <td>
        <div class="input-group">
            <input class="form-control modal-info upload-file" name="offer_file" type="text">
            <span class="input-group-addon"><i class="fa fa-eye"></i></span>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input class="form-control modal-info upload-file" name="contract_file" type="text">
            <span class="input-group-addon"><i class="fa fa-eye"></i></span>
        </div>
    </td>
    <td>
        <input class="form-control modal-info"  name="remark" title="备注"  value="" placeholder="备注" type="text">
    </td>
</tr>