<tr>
    <td>
        <button type="button" class="close supr-remove"><span>×</span></button><span class="serial">{$rows}</span>
        <input type="hidden" class="modal-info" name="id" value="0">
    </td>
    <td>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input class="form-control pull-right date-input modal-info" name="pay_date" type="text">
        </div>
    </td>
    <td>
        <input class="form-control modal-info"  name="pay_money" title="支付金额"  value="" placeholder="支付金额" type="text">
    </td>
    <td>
        <input class="form-control modal-info"  name="pay_ratio" title="支付比例"  value="" placeholder="支付比例" type="text">
    </td>
    <td>
        <input class="form-control modal-info"  readonly="readonly" name="pay_ratio" title="实际付款日期"  value="" placeholder="实际付款日期" type="text">
    </td>
    <td>
        付款状态
    </td>
    <td>
        <input class="form-control modal-info"  name="pay_ratio" title="备注"  value="" placeholder="备注" type="text">
    </td>
</tr>