<volist name="list" id="item">
    <tr>
        <td class="hidden-xs">{$item['code']}</td>
        <td class="hidden-xs">{$item['project_time']|date='Y-m-d',###}</td>
        <td title="{$item['name']}">{$item['name']}</td>
        <td class="hidden-xs">{$item['customer_com_name']}</td>
        <td class="hidden-xs">{$item['customer_cont_name']}</td>
        <td >{$item['leader_name']}</td>
        <td >{$item['business_name']}</td>
        <td class="hidden-xs">{$item['type_name']}</td>
        <td class="hidden-xs">{$item['session_all']}</td>
        <!-- <td class="hidden-xs">{$item['session_cur']}</td> -->
        <td >{$item['amount']}</td>
        <td class="hidden-xs">{$item['radvance']}</td>
        <td class="hidden-xs">{$item['rsurplus']}</td>
        <td class="hidden-xs">{$cost = ($item['pcontract_amount']+$item['ddebit_money']+$item['emoney']) > 0 ? ($item['pcontract_amount']+$item['ddebit_money']+$item['emoney']) : $item['cost_budget']}</td>
        <td class="hidden-xs">{$profit=$item['amount']-$cost}</td>
        <td class="hidden-xs">{:round($profit/$item['amount']*100,2)}%</td>
        <td class="hidden-xs">{$item['stage_name']}</td>
        {:list_btn(get_defined_vars(),"projectId",[],true)}
    </tr>
</volist>