<volist name="list" id="item">
    <tr>
        <td>
            <input class="form-control input-sm" readonly="readonly" name="file_type" title="{$fileType[$item['file_type']]}" value="{$fileType[$item['file_type']]}" placeholder="文件类型" type="text">
        </td>
        <td>
            <input class="form-control modal-info input-sm" readonly="readonly" name="file_name" title="{$item.file_name}" value="{$item.file_name}" placeholder="不填写默认文件名" type="text">
        </td>
        <td>
            <input class="form-control input-sm" readonly="readonly" name="user_name" title="{$item.user_name}" value="{$item.user_name}" placeholder="当前者" type="text">
        </td>
        <td>
            <input class="form-control input-sm" readonly="readonly" name="add_name" title="{$item.add_time}" value="{$item.add_time}" placeholder="上传时间" type="text">
        </td>
        <td>
            <div class="input-group">
                <input class="form-control modal-info upload-file input-sm" onlyread="onlyread" readonly="readonly" value="<?php echo $item['file_path']?>" title="请选择上传文件" name="file_path" type="text">
                <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
            </div>
        </td>
    </tr>
</volist>