<div class="modal-header">
    <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{$title}</h4>
</div>
<div class="modal-body">
    <!-- {$nodeAuth} -->
    <if condition="$hasEdit OR $nodeAuth egt 7">
        <div class="row">
            <div class="col-md-12"> <h5 class="box-title">点击右边"+"添加文件<i class="fa fa-fw fa-plus-square text-aqua add-filecom" title="添加文件" style="cursor: pointer;"></i></h5></div>
        </div>
    </if>
    <input type="hidden" value="{$project_id}" class="modal-info" name="project_id">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>文件类型</th>
                <th>文件名称</th>
                <th>上传者</th>
                <th>上传时间</th>
                <th>上传或查看</th>
            </tr>
        </thead>
        <tbody class="files-table">
            <tr class="demo none">
                <td>
                    <select class="form-control modal-info input-sm" required="required" title="文件类型"  name="file_type">
                        <volist name="fileType" id="item">
                            <option value="{$key}">{$item}</option>
                        </volist>
                    </select>
                </td>
                <td>
                    <input class="form-control modal-info input-sm" name="file_name" title="不填写默认文件名" value="" placeholder="不填写默认文件名" type="text">
                </td>
                <td>
                    <input class="form-control input-sm" readonly="readonly" name="user_name" title="上传者" value="当前者" placeholder="当前者" type="text">
                </td>
                <td>
                    <input class="form-control input-sm" readonly="readonly" name="add_name" title="上传时间" value="当前时间" placeholder="上传时间" type="text">
                </td>
                <td>
                    <div class="input-group">
                        <input class="form-control modal-info upload-file input-sm"  readonly="readonly" title="请选择上传文件" name="file_path" type="text">
                        <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
                    </div>
                </td>
            </tr>
            <volist name="list" id="item">
                <tr>
                    <td>
                        <input class="form-control input-sm" readonly="readonly" name="file_type" title="文件类型" value="{$fileType[$item['file_type']]}" placeholder="文件类型" type="text">
                    </td>
                    <td>
                        <input class="form-control modal-info input-sm" readonly="readonly" name="file_name" title="不填写默认文件名" value="{$item.file_name}" placeholder="不填写默认文件名" type="text">
                    </td>
                    <td>
                        <input class="form-control input-sm" readonly="readonly" name="user_name" title="上传者" value="{$item.user_name}" placeholder="当前者" type="text">
                    </td>
                    <td>
                        <input class="form-control input-sm" readonly="readonly" name="add_name" title="上传时间" value="{$item.add_time}" placeholder="上传时间" type="text">
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control modal-info upload-file input-sm" onlyread="onlyread" readonly="readonly" value="{$item.file_path}" title="请选择上传文件" name="file_path" type="text">
                            <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
                        </div>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>       
</div>
<div class="modal-footer">
        
    <input class="modal-info" name="projectId" value="0" type="hidden">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
    <if condition="$hasEdit OR $nodeAuth egt 7">
        {:save_btn(get_defined_vars(),true)}
    </if>
</div>