<volist name="list" id="item">
    <tr>
        <td class="hidden-xs hidden-sm">{$item['code']}</td>
        <td class="hidden-xs hidden-sm">{$item['project_time']|date='Y-m-d',###}</td>
        <td title="{$item['name']}">{$item['name']}</td>
        <td class="hidden-xs hidden-sm">{$item['customer_com_name']}</td>
        <td class="hidden-xs">{$item['customer_cont_name']}</td>
        <td class="hidden-xs">{$item['business_name']}</td>
        <td class="hidden-xs">{$item['leader_name']}</td>
        <td class="hidden-xs">{$item['type_name']}</td>
        <td class="hidden-xs">{$item['session_all']}</td>
        <td class="hidden-xs">{$item['amount']|number_format}</td>
        <td class="hidden-xs">
            <if condition="$item.business eq $Think.session.userId  or $nodeAuth egt 7">
                {$cost = ($item['pcontract_amount']+$item['ddebit_money']+$item['emoney']) > 0 ? ($item['pcontract_amount']+$item['ddebit_money']+$item['emoney']) : $item['cost_budget']}
            <else/>
                ****
            </if>
        </td>
        <td >
            <if condition="$item.business eq $Think.session.userId  or $nodeAuth egt 7">
                {$profit=$item['amount']-$cost}
            <else/>
                ****
            </if>
        </td>
        <td class="hidden-xs">
            <if condition="$item.business eq $Think.session.userId  or $nodeAuth egt 7">
                {:round($profit/$item['amount']*100,2)}%
            <else/>
                ****
            </if>
        </td>
        <td class="hidden-xs">{$item['stage_name']}</td>
        <td  class="status-con"  data-con="project_file" data-id="{$item['projectId']}" data-url="{$url}" style="min-width: 80px;">
            <button type="button" data-gettype="business"" data-toggle="modal" data-vtarget=".files-modal" class="btn btn-xs btn-info v-showmodal">查看</button><if condition="$item['file_num'] gt 0"><span class="label label-success files-num-label">{$item.file_num|default=0}</span><else/><span class="label bg-gray files-num-label">0</span></if>
        </td>
        <td>
            {:approve_btn($tableName,$item['projectId'],$item['place'],$item['process_level'],$item['status'])}
        </td>
        {:list_btn(get_defined_vars(),"projectId")}
    </tr>
</volist>