<volist name="list" id="item">
    <tr>
        <td>{$item['code']}</td>
        <td>{$item['project_time']|date='Y-m-d',###}</td>
        <td title="{$item['name']}">{$item['name']}</td>
        <td>{$item['customer_com_name']}</td>
        <td>{$item['customer_cont_name']}</td>
        <td>{$item['business_name']}</td>
        <td>{$item['leader_name']}</td>
        <td>{$item['type_name']}</td>
        <td>{$item['session_all']}</td>
        <td>{$item['amount']|number_format}</td>
        <td>{$item['cost']|number_format}</td>
        <td>{$item['profit']|number_format}</td>
        <td>{$item['profitRate']|number_format}</td>
        <td>{$item['stage_name']}</td>
        <td  class="status-con"  data-con="project_file" data-id="{$item['projectId']}" data-url="{$url}">
            <button type="button" data-gettype="business"" data-toggle="modal" data-vtarget=".files-modal" class="btn btn-xs btn-info v-showmodal">查看</button>
        </td>
        <td>
            {:approve_btn($tableName,$item['projectId'],$item['place'],$item['process_level'],$item['status'])}
        </td>
        {:list_btn(get_defined_vars(),"projectId")}
    </tr>
</volist>