<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">公司列表</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {:add_btn(get_defined_vars(),"新增客户公司")}
                        
                    </div>
                    <div class="box-body search-body company-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                
                                <div class="form-group">
                                    <label class="control-label">公司名称：</label>
                                    <input class="form-control search-info input-sm" name="company" placeholder="公司名称" type="text">
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label">公司别名：</label>
                                    <input class="form-control search-info input-sm" name="alias" placeholder="公司别名" type="text">
                                </div>
                                <div class="form-group">
                                    <label >省份：</label>
                                    <select class="form-control search-info input-sm" data-city="search-info" title="省份" name="provinceId">
                                        <option value="">省份</option>
                                        <volist name="province" id="item">
                                            <option value="{$item.pid}">{$item.province}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >城市：</label>
                                    <select class="form-control search-info input-sm" title="省份" name="cityId">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >状态：</label>
                                    <select class="form-control search-info input-sm" title="状态" name="status">
                                        <option value="">全部</option>
                                        <volist name="statusType" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:0.95em;overflow-x: auto;">
                <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;">
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>公司名称</th>
                            <th>公司别名</th>
                            <th>省份</th>
                            <th>城市</th>
                            <th>地址</th>
                            <th>备注</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div  class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        // var E = window.wangEditor
        // var editor = new E(tabId+' .art-editor')
        //获取分类数据
        var prefix ="{$company['prefix']}";

        $(function(){
            $(tabId+" .search-list").trigger("click");

            //新增公司
            // $(tabId+" .box-header button").on("click",function(){
            //     $(tabId+" .modal-info").val("");
            //     $(tabId+" .status-btn").removeClass("active");
            //     $(tabId+" .status-btn[name='0']").addClass("active");
            //     $(tabId+" .modal-info").prop("disabled",false)
            // })
            $(tabId).on("change","select[name='provinceId']",function(){
                var provinceId=$(this).val()
                var whereCity=$(this).data("city")
                if(provinceId>0){
                    setCityOption(provinceId,whereCity)
                }else{
                    $(tabId+" ."+whereCity+"[name='cityId']").html("")
                }
            })
        })
        function setCityOption(pid,whereCity,cityId){
                datas["reqType"]="getCityList";
                datas["pid"]=pid
                $(tabId+" ."+whereCity+"[name='cityId']").html("")
                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        var cityOption='<option value="">全部</option>';
                        
                        result.citys.forEach(ele => {
                            cityOption+='<option value="'+ele.cid+'">'+ele.city+'</option>'
                        })
                        $(tabId+" ."+whereCity+"[name='cityId']").html(cityOption)
                        if(cityId>0){
                            $(tabId+" ."+whereCity+"[name='cityId']").find("option[value='"+cityId+"']").prop("selected",true);
                        }
                        
                    }
                },false)
        }
        //function companyResetFuns(){}
        // function companyReFuns(){
        //     var year=(new Date()).getFullYear()
        //     var month=(new Date()).getMonth()
        //     var day=(new Date()).getDate()
        //     var hours=(new Date()).getHours()
        //     var minutes=(new Date()).getMinutes()
        //     $(tabId+" .modal-info[name='code']").val(prefix+year+formatMonth(month)+formatDate(day)+hours+minutes);
        // }
        // function companySearchFuns(){
        //     datas['data']={}
        //     $(tabId+" .search-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(val!=""){
        //             datas['data'][name]=val
        //         }
        //     })
        // }
        // function cust_company_getInfo(){
        //     datas["data"]={}
        //     $(tabId+" .modal-info").each(function(){
        //         var name =$(this).attr("name");
        //         var val =$(this).val();
        //         var required=$(this).attr("required");
        //         var title=$(this).attr("title");
        //         if(required=="required" && val==""){
        //             alert(title+"不能为空");
        //             throw title+"不能为空";
        //         }else{
        //             datas["data"][name]=val;
        //         }
        //     })
        // }
        /*设置需要编辑的信息*/
        function cust_company_setInfo(info){
            $(tabId+" .modal-info[name='companyId']").val(info['companyId']);
            $(tabId+" .modal-info[name='company']").val(info['company']);
            $(tabId+" .modal-info[name='alias']").val(info['alias']);
            $(tabId+" .modal-info[name='address']").val(info['address']);
            $(tabId+" .modal-info[name='remarks']").val(info['remarks']);
            set_status_btn($(tabId+" .modal-status .status-btn[name='"+info['status']+"']"),info,"{$Think.session.userId}","{$nodeAuth}")

            if(info['author'] == "{$Think.session.userId}"){
                $(tabId+" .status-btn[name='3']").addClass("none")
            }else{
                $(tabId+" .status-btn[name='3']").removeClass("none")
            }
            $(tabId+" .modal-info[name='provinceId']").find("option[value='"+info['provinceId']+"']").prop("selected",true);
            setCityOption(info['provinceId'],"modal-info",info['cityId'])
        }
        //初始分类的select数据
        function intPClsSelect(data){
            var option='<option value="0">根Root</option>';
            data.forEach(ele => {
                option+=getArtClsNode(ele,0);
            });
            // $(tabId+" .artclass").html(option);
        }
    </script>
</body>
</html>
