<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">联系人列表</h4>
                    </div>
                    <div class="box-body search-body" id="contact-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group"> 
                                    <label class="control-label">供应商名称：</label>
                                    <select class="form-control search-info chosen-cusCompany chosen-select" title="公司名称" name="companyId">
                                        <option value="">全部</option>
                                        <volist name="cusCompanyList" id="item">
                                            <option value="{$item.companyId}">{$item.company}</option>
                                        </volist>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label">联系人：</label>
                                    <input class="form-control search-info input-sm" name="contact" placeholder="联系人" type="text">
                                </div>
                                <div class="form-group">
                                    <label >状态：</label>
                                    <select class="form-control search-info input-sm" title="状态" name="status">
                                        <option value="">全部</option>
                                        <volist name="statusType" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                <if condition="$processAuth['level'] gt 0">
                                    <div class="form-group">
                                        <button type="button" data-gettype="Add" data-toggle="modal"  data-url="{$url}" data-vtarget=".global-modal" data-con="{$controlName}" class="btn btn-info info-edit v-showmodal"><i class="fa fa-fw fa-user-plus "></i> 新增联系人 </button>
                                    </div>
                                </if>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:1em;overflow-x: auto;">
                <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;">
                </div>
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>公司名称</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>邮箱</th>
                            <th>地址</th>
                            <th>备注</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div  class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        // var E = window.wangEditor
        // var editor = new E(tabId+' .art-editor')
        //获取分类数据
        // var prefix ="{$contact['prefix']}";

        $(function(){
            //新增联系人
            $(tabId+" .box-header button").on("click",function(){
                $(tabId+" .modal-info").val("");
                $(tabId+" .status-btn").removeClass("active");
                $(tabId+" .status-btn[name='0']").addClass("active");
                $(tabId+" .modal-info").prop("disabled",false)
            })
            //供应商列表
            $(tabId+" .chosen-cusCompany").chosen({inherit_select_classes:true,search_contains:true,allow_single_deselect:true,ajax_load:{url:"{$url}",data:{reqType:"getCusCompanyList"},value:"companyId",text:"company"}})
        })
        // function contactSearchFuns(){
        //     datas['data']={}
        //     $(tabId+" .search-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(val!=""){
        //             datas['data'][name]=val
        //         }
        //     })
        // }
        // function contactInfoFuns(){
        //     datas["data"]={}
        //     $(tabId+" .modal-info").each(function(){
        //         var name =$(this).attr("name");
        //         var val =$(this).val();
        //         var required=$(this).attr("required");
        //         var title=$(this).attr("title");
        //         if(required=="required" && val==""){
        //             alert(title+"不能为空");
        //             throw title+"不能为空";
        //         }else{
        //             datas["data"][name]=val;
        //         }
        //     })
        // }
        /*设置需要编辑的信息*/
        function cust_contact_setInfo(info){

            $(tabId+" .modal-info[name='contactId']").val(info['contactId']);

            $(tabId+" .modal-info[name='companyId']").html('<option value="'+info['companyId']+'">'+info['company']+'</option>');
            $(tabId+" .modal-info[name='companyId']").trigger("chosen:updated");

            $(tabId+" .modal-status .status-btn").removeClass("active");
            $(tabId+" .modal-status .status-btn[name='"+info['status']+"']").addClass("active");
            $(tabId+" .modal-info[name='status']").val(info['status']);
            if((info['processLevel'] > 0 || info['status'] == 1) && "{$nodeAuth}"<7){
                $(tabId+" .modal-info").prop("disabled",true)
            }
            $(tabId+" .modal-info[name='contact']").val(info['contact']);
            $(tabId+" .modal-info[name='phone']").val(info['phone']);
            $(tabId+" .modal-info[name='email']").val(info['email']);
            $(tabId+" .modal-info[name='address']").val(info['address']);
            $(tabId+" .modal-info[name='remarks']").val(info['remarks']);
            
        }
    </script>
</body>
</html>
