<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__ADMINT__/bower_components/selectator/fm.selectator.jquery.css"/>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">联系人列表</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" data-reqtype="Add" data-toggle="modal" data-title="添加联系人" data-target="#modal-contactInfo" data-con="contact" class="btn btn-info info-edit"><i class="fa fa-fw fa-user-plus "></i> 新增联系人</button>
                    </div>
                    <div class="box-body search-body" id="contact-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <label class="control-label">公司名称：</label>
                                <div class="form-group">
                                    <select class="form-control search-info input-sm companySelect with142" title="公司名称" name="companyId">
                                        <option value="">全部</option>
                                        {$companyList|default=''}
                                    </select>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="control-label">联系人：</label>
                                <div class="form-group">
                                    <input class="form-control search-info input-sm" name="contact" placeholder="联系人" type="text">
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" data-url="{$url}" id="contact-search" data-reqtype="contactList" data-con="contact" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                <button type="button" class="btn bg-teal search-refresh" data-con="contact"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:1em;overflow-x: auto;">
                <div class="count-div" id="contactCount" style="margin:10px;font-weight: 800;">
                </div>
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>公司名称</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>邮箱</th>
                            <th>地址</th>
                            <th>备注</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="contactTable">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div id="contactPage" class="row page-div" data-url="{$url}" data-reqtype="contactList" data-con="contact">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-contactInfo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="box-body">
                        <input class="modal-info" id="info-status" value="1" name="contactId" type="hidden">
                        <div class="form-group">
                            <label>公司名称：</label>
                            <select class="form-control modal-info input-sm companySelect" title="公司名称" name="companyId">
                                <option value="">个人</option>
                                {$companyList|default=''}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="info-title">联系人：</label>
                            <input class="form-control modal-info" required="required" name="contact" title="联系人" placeholder="联系人" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-title">联系通讯：</label>
                            <input class="form-control modal-info datetime" required="required" name="phone" title="联系通讯" placeholder="联系通讯" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-title">E-mail：</label>
                            <input class="form-control modal-info" name="email" title="E-mail" placeholder="E-mail" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-title">联系地址：</label>
                            <input class="form-control modal-info" name="address" title="联系地址" placeholder="联系地址" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-title">备注：</label>
                            <input class="form-control modal-info" name="remarks" title="备注" placeholder="备注" type="text">
                        </div>
                        <div class="form-group">
                            <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                                <input class="modal-info" id="info-status" value="0" name="status" type="hidden">
                                <button type="button" name="0" class="btn btn-default btn-sm active status-btn"><i class="fa fa-square text-default"></i> 未启用 </button>
                                <button type="button" name="1" class="btn btn-default btn-sm  status-btn"><i class="fa fa-square text-green"> 启用 </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save-info" data-con="contact" data-reqtype="Add" data-url="{$url}" data-modal="true">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <script src="__ADMINT__/bower_components/selectator/fm.selectator.jquery.js"></script>
    <script>
        // var E = window.wangEditor
        // var editor = new E(tabId+' .art-editor')
        //获取分类数据
        // var prefix ="{$contact['prefix']}";

        $(function(){
            $(tabId+' .companySelect').selectator({
                valueField: 'companyId', 
                textField: 'company', 
                delay: 10, 
                labels: {
                    search: '搜索客户公司名称'            // Placeholder text in search box in single select box
                },
                load: function (search, callback) {
                    if (search.length < this.minSearchLength) return callback();
                    datas={reqType:"findCompanyList",companykey:encodeURIComponent(search)};
                    get("{$url}",datas,function(result){
                        if(result.errCode==0){
                            result.data
                            callback(result.data);
                        }
                    })
                },
            });
            //新增联系人
            $(tabId+" .box-header button").on("click",function(){
                $(tabId+" .modal-info").val("");
                $(tabId+" .status-btn").removeClass("active");
                $(tabId+" .status-btn[name='0']").addClass("active");
                var companyList ="{$companyList}";
                $(tabId+" .modal-info[name='companyId']").html(companyList);
                $(tabId+" .modal-info[name='companyId']").selectator('refresh');
            })
        })
        // //function contactResetFuns(){}
        function contactReFuns(){

        }
        function contactSearchFuns(){
            datas['data']={}
            $(tabId+" .search-info").each(function(){
                var name=$(this).attr("name");
                var val=$(this).val();
                if(val!=""){
                    datas['data'][name]=val
                }
            })
        }
        function contactInfoFuns(){
            datas["data"]={}
            $(tabId+" .modal-info").each(function(){
                var name =$(this).attr("name");
                var val =$(this).val();
                var required=$(this).attr("required");
                var title=$(this).attr("title");
                if(required=="required" && val==""){
                    alert(title+"不能为空");
                    throw title+"不能为空";
                }else{
                    datas["data"][name]=val;
                }
            })
        }
        // /*设置编辑用户信息*/
        function contactShowFuns(info){

            $(tabId+" .modal-info[name='contactId']").val(info['contactId']);

            $(tabId+" .modal-info[name='companyId']").html('<option value="'+info['companyId']+'">'+info['company']+'</option>');
            $(tabId+" .modal-info[name='companyId']").selectator('refresh');

            $(tabId+" .modal-info[name='contact']").val(info['contact']);
            $(tabId+" .modal-info[name='phone']").val(info['phone']);
            $(tabId+" .modal-info[name='email']").val(info['email']);
            $(tabId+" .modal-info[name='address']").val(info['address']);
            $(tabId+" .modal-info[name='remarks']").val(info['remarks']);
            
        }
        // //初始分类的select数据
        // function intPClsSelect(data){
        //     var option='<option value="0">根Root</option>';
        //     data.forEach(ele => {
        //         option+=getArtClsNode(ele,0);
        //     });
        //     // $(tabId+" .artclass").html(option);
        // }
    </script>
</body>
</html>
