<div class="panel box box-info">
    <div class="box-header with-border">
        <h4 class="box-title">
            <span class="cost-class-alpha"></span>
            <a class="cost-class-title" data-toggle="collapse" data-parent="#{$vtabId}-accordion" href="#{$vtabId}-panel"></a>
            <i class="fa fa-wrench cost_chosen"></i>
            <i class="fa fa-times cost_chosen_del"></i>
            <div class="cost_class_div">
                
                <select class="form-control modal-info chosen-select" title="请选择成本分类" data-value="basicId"  data-text="name" name="cost_class">
                    <option value="">请先选择分类</option>
                    <volist name="costClassArr" id="item">
                        <option value="{$item['basicId']}">{$item['name']}</option>
                    </volist>
                </select>
            </div>
            <input class="modal-info" name="class_sort" type="hidden"/>
            <input class="modal-info" name="read_type" type="hidden"/>
            <button type="button" class="btn bg-olive btn-xs add-costItem none"><i class="fa fa-plus-square"></i> <span> 添加子项 </span> </button>
        </h4>
        <div style="text-align: right;font-size: 1.2em;font-weight: bold;display: inline-block;position: absolute;right: 10px;">
            报价合计：<span class="class-count">0</span>
            <if condition="$listType eq 'cost' or $listType eq 'contrast'">
                |    成本合计：<span class="cost-class-count">0</span>
                |    利润：<span class="profit-class-count">0</span>
                |    利润百分比：<span class="profitrat-class-count">0</span>%
            </if>
        </div>
    </div>
    <div id="{$vtabId}-panel" class="panel-collapse collapse">
        <div class="box-body">
            <div class="col-sm-12 table-outbox" style="z-index: 1;">
                <div class="table-test" style="font-size:0.95em;overflow: auto;">
                    <div class="count-div {$controlName}-count" >
                        
                        
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="serial_num frozen">排序</th>
                                <th class="frozen">分类说明</th>
                                <th class="frozen">分类</th>
                                <th class="frozen">项目内容</th>
                                <th class="" style="width: 50px;min-width:50px;">数量</th>
                                <th class="" style="width: 50px;min-width:50px;">单位1</th>
                                <th class="" style="width: 50px;min-width:50px;">数量</th>
                                <th class="" style="width: 50px;min-width:50px;">单位2</th>
                                <th class="">单价</th>
                                <th class="">合计</th>
                                <if condition="$listType eq 'cost' or $listType eq 'contrast'">
                                    <th style="background: #D2D6DE;">成本单价</th>
                                    <th style="background: #D2D6DE;">成本合计</th>
                                </if>
                                <if condition="$listType eq 'cost' or $listType eq 'contrast'">
                                    <th>供应商名称</th>
                                    <th>供应商联系人</th>
                                    <th>现金操作者</th>
                                    <th>利润</th>
                                    <th>利润率%</th>
                                </if>
                            </tr>
                        </thead>
                        <tbody class="table-items">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>