<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">清算审批</h4>
                        <if condition="$readNodeId gt 0">
                            <label>* 此页面的数据取自员工已提交清算申请的数据表中，需查询未申请的请移步<a class="nodeOn" data-nodeid="{$readNodeId}" href="{:U('Finance/readClearControl')}"> <span>【清算查阅】</span></a></label>
                        </if>
                        
                        <!-- {:add_btn(get_defined_vars(),"清算审核，临时显示")} -->
                    </div>
                    <div class="box-body search-body company-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label >统计模式：</label>
                                    <select class="form-control search-info input-sm" title="统计模式" name="countype">
                                        <option value="">审核模式</option>
                                        <option value="1">用户模式</option>
                                        <option value="2">项目模式</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目名称：</label>
                                    <input class="form-control search-info input-sm" name="name" placeholder="项目名称" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">员工姓名：</label>
                                    <input class="form-control search-info input-sm" name="user_name" placeholder="员工姓名" type="text">
                                </div>
                                <div class="form-group">
                                    <label >清算状态：</label>
                                    <select class="form-control search-info input-sm" title="清算状态" name="status">
                                        <option value="">所有状态</option>
                                        <option value="0">未清算</option>
                                        <option value="1">已清算</option>
                                        <option value="2">清算中</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-outbox" style="z-index: 1;">
                <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;"></div>
                <div style="font-size:0.95em;overflow: auto;">
                    <table class="table table-bordered table-hover data-table">
                        <thead>
                            <tr class="count-model">
                                <th class="is-frozen">员工</th>
                                <th class="is-frozen">项目名称</th>
                                <th>项目编号</th>
                                <th>提交时间</th>
                                <th>借支数量</th>
                                <th>借支总额</th>
                                <th>报销数量</th>
                                <th>报销报销总额</th>
                                <th>已交发票金额</th>
                                <th>清算总额</th>
                                <th>审核记录</th>
                                <th>清算状态</th>
                                <th>操作</th>
                            </tr>
                            <tr class="count-model1 none">
                                <th class="is-frozen">员工</th>
                                <th>项目数量</th>
                                <th>借支数量</th>
                                <th>借支总额</th>
                                <th>报销数量</th>
                                <th>报销报销总额</th>
                                <th>已交发票金额</th>
                                <th>清算总额</th>
                                <th>清算状态</th>
                            </tr>
                            <tr class="count-model2 none">
                                <th class="is-frozen">项目名称</th>
                                <th class="is-frozen">项目编号</th>
                                <th class="is-frozen">员工</th>
                                <th>借支数量</th>
                                <th>借支总额</th>
                                <th>报销数量</th>
                                <th>报销报销总额</th>
                                <th>已交发票金额</th>
                                <th>清算总额</th>
                                <th>清算状态</th>
                            </tr>
                        </thead>
                        <tbody class="{$controlName}-table">
                            {$tables}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12"><div class="dataTables_length" ><label>显示 <select name="pageSize"  class="form-control input-sm search-info">
                    <volist name="entries" id="item"><option value="{$item}">{$item}</option></volist>
                </select> 条</label></div></div>
                <div  class="{$controlName}-page row page-div col-md-10 col-sm-9 col-xs-12" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                    {$pages}
                </div>
            </div>
        </div>
        <div style="margin-top:10px;"> <label> * 除了审核模式之外其他模式不具备审核功能，仅属于统计范畴。</label></div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        var financeClear_setInfo = function(info){
            $(tabId+" .global-modal").find(".approve-group").data("id",info['id']);
            $(tabId+" .global-modal").find(".approve-group .approve-con").remove();
            var gettype = $(tabId+" .global-modal .modal-footer").find(".save-info").data("gettype");
            if(gettype=="Edit"){
                $(tabId+" .global-modal .modal-footer").find(".save-info").hide();
            }
        }
        $(function(){
            $(tabId+" .search-list").trigger("click");
            $(tabId+" .search-info[name='countype']").offon("change",function(){
                $(tabId+" .data-table thead tr").removeClass("none");
                $(tabId+" .data-table thead .count-model"+$(this).val()).siblings().addClass("none");
                $(tabId+" .search-list").trigger("click");
            })
        })
    </script>
</body>
</html>
