<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="__ADMINT__/plugins/iCheck/all.css">
    <style>
        .bank-remove{
            position: absolute;
            right: 25px;
            margin-top: -31px;
            color: red;
            font-size: 30px;
        };
    </style>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">公司银行账户余额（银行库存）<i class="fa fa-fw fa-plus-square text-aqua add-subcompany" title="新增子公司" data-target=".bankstock-tab" style="cursor: pointer;"></i></h3>
                    </div>
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>子公司名称</th>
                                            <th>余额</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bankstock-tab">
                                        <volist name="bankstockList" id="item">
                                            <tr><td><input class='form-control input-info bank-info' name="{$item.basicId}" placeholder='子公司名称' value="{$item.name}" type='text' /></td><td><input class='form-control input-info' placeholder='库存金额' value="{$item.alias}" type='text' /><button type="button" class="close bank-remove"><span>×</span></button></td></tr>
                                        </volist>
                                        <tr class="bank-info-count"><td>总金额：</td><td>{$bankstockCount}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>更新时间</th>
                                            <th>操作人</th>
                                            <th>操作描述</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bankstock-log">
                                        <volist name="banksLogList" id="item">
                                            <tr>
                                                <td>{$item.addTime|date='Y-m-d H:i:s',###}</td>
                                                <td>{$item.userName}</td>
                                                <td>{$item.describe}</td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer form-horizontal">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">填写更新原因</label>
                                <div class="col-sm-8">
                                    <input class="form-control bank-info" name="remark"  placeholder="填写更新原因" type="text">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button"  class="btn btn-primary save-info" data-con="bankstock" data-gettype="Edit" data-url="{$url}">更新金额</button>
                                </div>
                            </div>                          
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">现金余额（现金库存）<i class="fa fa-fw fa-plus-square text-aqua add-subcompany" title="新增子公司" data-target=".cashstock-tab" style="cursor: pointer;"></i></h3>
                    </div>
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>子公司名称</th>
                                            <th>余额</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cashstock-tab">
                                        <volist name="cashstockList" id="item">
                                            <tr><td><input class='form-control input-info cash-info' name="{$item.basicId}" placeholder='子公司名称' value="{$item.name}" type='text' /></td><td><input class='form-control input-info' placeholder='库存金额' value="{$item.alias}" type='text' /><button type="button" class="close bank-remove"><span>×</span></button></td></tr>
                                        </volist>
                                        <tr class="cash-info-count"><td>总金额：</td><td>{$cashstockCount}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>更新时间</th>
                                            <th>操作人</th>
                                            <th>操作描述</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cashstock-log">
                                        <volist name="cashsLogList" id="item">
                                            <tr>
                                                <td>{$item.addTime|date='Y-m-d H:i:s',###}</td>
                                                <td>{$item.userName}</td>
                                                <td>{$item.describe}</td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer form-horizontal">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">填写更新原因</label>
                                <div class="col-sm-8">
                                    <input class="form-control cash-info" name="remark"  placeholder="填写更新原因" type="text">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button"  class="btn btn-primary save-info" data-con="cashstock" data-gettype="Edit" data-url="{$url}">更新金额</button>
                                </div>
                            </div>                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- iCheck 1.0.1 -->
    <script src="__ADMINT__/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function(){
            $(tabId+" .add-subcompany").on("click",function(){
                var target = $(this).data("target");
                if(target==".bankstock-tab"){
                    var dataClass="bank-info";
                }else{
                    var dataClass="cash-info";
                }
                var tr="<tr><td><input class='form-control input-info "+dataClass+"' name='new"+Number($("."+dataClass).length+1)+"' placeholder='子公司名称' type='text' /></td><td><input class='form-control input-info' placeholder='库存金额' type='text' /><button type='button' class='close bank-remove'><span>×</span></button></td></tr>";
                $(tabId+" ."+dataClass+"-count").before(tr);
            })
            $(tabId+" .content").on("click"," .bank-remove",function(){
                
                // console.log("a")
                var thisTr = $(this).parents("tr");
                var id = thisTr.find(".input-info").eq(0).attr("name");
                var val = thisTr.find(".input-info").eq(0).val();
                if(Number(id)>0){
                    var confirmRes = confirm(val+"已经写入数据库，是否还执行删除")
                    if(confirmRes){
                        post("{$url}",{reqType:"stockDelete",basicId:id},function(result){
                            if(result.errCode==0){
                                $(".nodeOn[href='/Admin/Finance/stockControl.html']").trigger("click")
                            }
                        })
                    }
                }else{
                    thisTr.remove()
                }
            })
        })
        function bankstock_getInfo(){
            stockInfo(".bank-info")
        }
        function cashstock_getInfo(){
            stockInfo(".cash-info")
        }
        function stockInfo(stockName){
            datas["data"]={}
            $(tabId+" "+stockName).each(function(){
                var name = $(this).attr("name");
                var company = $(this).val();
                var val = $(this).parent().next().children("input").val();
                if(name=="remark"){
                    datas["remark"]=company
                }else{
                    if(company!="" && val != ""){
                        datas["data"][name]={company:company,val:val};
                    }
                }
                
            })
        }

        function bankstock_searchInfo(result){
            stockSearch(result,".bank-info");
        }
        function cashstock_searchInfo(result){
            stockSearch(result,".cash-info");
        }
        function stockSearch(result,stockName){
            // $(tabId+" ."+result.stock+"-log").html(result.html);
            $(".nodeOn[href='/Admin/Finance/stockControl.html']").trigger("click")
        }
    </script>
</body>
</html>