<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{$title}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label >工单类型：</label>
                <select class="form-control modal-info" required="required" title="请选择工单类型" name="type" >
                    <volist name="orderType" id="item">
                        <option value="{$key}">{$item}</option>
                    </volist>
                </select>
            </div>
            <div class="form-group none">
                <label >选择项目：</label>
                <select class="form-control modal-info chosen-select" title="选择项目" data-value="projectId"  data-text="name" name="relation_project">
                    <volist name="projectArr" id="item">
                        <option value="{$item['projectId']}">{$item['name']}</option>
                    </volist>
                </select>
            </div>
            <div class="form-group">
                <label >标题：</label>
                <input class="form-control modal-info" required="required" name="title" title="请输入标题" placeholder="标题" type="text">
            </div>
            <div class="form-group">
                <label>工单内容</label>
                <textarea class="form-control modal-info" required="required" name="content" rows="3" title="请输入工单内容" placeholder="请输入工单内容"></textarea>
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
    {:save_btn(get_defined_vars())}
</div>