<div class="modal-header">
        <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{$title}</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label >选择项目：</label>
                            <select class="form-control project-info modal-info common-info chosen-select" title="选择项目" data-value="projectId"  data-text="name" name="project_id">
                                <option value="0">非项目报销</option>
                                <volist name="projectArr" id="item">
                                    <option value="{$item['projectId']}">{$item['name']}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label >成本标识：</label>
                            <select class="form-control modal-info chosen-select common-info" title="成本标识" required="required" name="section">
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="info-title">项目编号：</label>
                            <input class="form-control project-info" readonly="readonly" name="code" title="项目编号"  value="" placeholder="项目编号" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="info-title">项目名称：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_name" title="项目名称"  value="" placeholder="项目名称" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">项目日期：</label>
                            <input class="form-control project-info" readonly="readonly" name="project_date" title="项目日期"  value="" placeholder="项目日期" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">营业主担：</label>
                            <input class="form-control project-info" readonly="readonly" name="business_name" title="营业主担"  value="" placeholder="营业主担" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">项目主担：</label>
                            <input class="form-control project-info" readonly="readonly" name="leader_name" title="项目主担"  value="" placeholder="项目主担" type="text">
                            <input class="project-info modal-info common-info" value="0" name="leader" type="hidden">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">未报销借支金额：</label>
                            <input class="form-control project-info" readonly="readonly" name="no_debit" title="未报销借支金额"  value="0.00" placeholder="未报销借支金额" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="info-title">报销金额合计：</label>
                            <input class="form-control project-info common-info" readonly="readonly" name="money" title="报销金额合计"  value="0.00" placeholder="报销金额合计" type="text">
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="form-group">
                            <label >收款账户类型：</label>
                            <select class="form-control modal-info chosen-select" required="required" title="收款账户类型"  name="account_type">
                                <option value="0">收款账户</option>
                                <volist name="accountType" id="item">
                                    <option value="{$key}">{$item}</option>
                                </volist>
                            </select>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <!-- <div class="col-md-3">
                        <div class="form-group">
                            <label for="info-title">收款账户详细：</label>
                            <input class="form-control modal-info" name="account" required="required" title="收款账户详细"  value="" placeholder="收款账户详细" type="text">
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12"> <h5 class="box-title"><i class="fa fa-plus-square text-aqua add-expense" title="添加报销信息" data-target=".bankstock-tab" style="cursor: pointer;"> 添加报销信息</i></h5></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 table-outbox" style="z-index: 1;">
                        <div style="font-size:0.95em;overflow: auto;">
                            <table class="table table-bordered table-hover expense-list">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>发生日期</th>
                                        <th>报销类别</th>
                                        <th>目标城市[住宿，交通]</th>
                                        <th>费用类别</th>
                                        <th>费用说明</th>
                                        <th>报销凭证类型</th>
                                        <th>发生金额</th>
                                        <th>备注</th>
                                        <th>发票或凭证</th>
                                        <th>发票金额</th>
                                        <!-- <th>报销状态</th>
                                        <th>审批备注</th>
                                        <th>审批记录</th> -->
                                    </tr>
                                </thead>
                                <tbody class="modal-{$controlName}-table">
                                    {$tables}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control modal-info chosen-select common-info" required="required" title="收款账户类型"  name="account_type">
                                <option value="0">收款账户</option>
                                <volist name="accountType" id="item">
                                    <option value="{$key}">{$item}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input class="form-control modal-info project-info input-sm common-info" name="account"  title="收款账户详细"  value="" placeholder="收款账户详细" type="text" style="width: 150px;"">
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                        <input class="modal-info" value="0" name="status" type="hidden">
                        {:modal_btn(get_defined_vars())}
                    </div>
                </div> -->
            </div>
        </form>            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <input class="modal-info expense-id common-info" value="0" name="id" type="hidden">
        {:save_btn(get_defined_vars())}
    </div>