<volist name="list" id="item">
    <tr>
        <td>{$item['user_name']|default="非项目"}</td>
        <td>{$item['code']|default="非项目"}</td>
        <td>{$item[' _name']|default="非项目"}</td>
        <td>{$item['project_date']|default="非项目"}</td>
        <td>{$item['business_name']|default="非项目"}</td>
        <td>{$item['leader_name']|default="非项目"}</td>
        <td>{$item['add_date']}</td>
        <td>{$item['all_item']}</td>
        <td>{$item['all_money']}</td>
        <td>{$item['remark']}</td>
        <td>
            <div class="approve-group" data-table="{$tableName}" data-id="{$item['id']}" >
                <button type="button" data-url="{:U('Tools/getApproveList')}" class="btn btn-sm bg-purple approve-log">记录</button>
                <button type="button" data-url="{:U('Tools/approveEdit')}" class="btn btn-sm bg-orange approve-con">操作</button>
            </div>
        </td>
        {:list_btn(get_defined_vars(),"id")}
    </tr>
</volist>