<volist name="list" id="item">
    <tr>
        <td class="hidden-xs">{$item['user_name']|default="非项目"}</td>
        <td class="hidden-xs">
            <if condition="$item.code neq false">
                {$item['code']|pcode_format}
            <else/>
                非项目
            </if>
        </td>
        <td>{$item['project_name']|default="非项目"}</td>
        <td>{$item['project_date']|default="非项目"}</td>
        <td>{$item['business_name']|default="非项目"}</td>
        <td>{$item['leader_name']|default="非项目"}</td>
        <td>{$item['add_date']}</td>
        <td>{$item['all_item']}</td>
        <td>{$item['all_money']}</td>
        <td>{$item['remark']}</td>
        <td>
            {:approve_btn($tableName,$item['id'],$item['place'],$item['process_level'],$item['status'],['examine'=>$item['examine']])}
        </td>
        <if condition="$item['project_id'] GT 0">
            {:list_btn(get_defined_vars(),"id",[],false,false,true,'查看')}
        <else/>
            {:list_btn(get_defined_vars(),"id")}
        </if>
    </tr>
</volist>