<volist name="list" id="item">
    <tr>
        <td class="hidden-xs">{$item['user_name']}</td>
        <td class="hidden-xs" style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;" title="{$item['code']}">{$item['code']}</td>
        <td>{$item['project_name']}</td>
        <td>{$item['project_date']}</td>
        <td>{$item['business_name']}</td>
        <td>{$item['leader_name']}</td>
        <td>{$item['debit_date']}</td>
        <td>{$item['require_date']}</td>
        <td>{$item['free_name']}</td>
        <td style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;" title="{$item['debit_cause']}">{$item['debit_cause']}</td>
        <td>{$item['debit_money']}</td>
        <td>{$accountType[$item['account_type']]}</td>
        <td>{$item['loan_date']}</td>
        <td>
            <if condition="$item['voucher_file'] neq ''">
                <input class="upload-file" value="{$item['voucher_file']}" type="hidden">
                <span class="show-media-btn show-media"><i class="fa fa-eye"></i></span>
            </if>
        </td>
        <td>{$item['remark']}</td>
        <td>
            {:approve_btn($tableName,$item['id'],$item['place'],$item['process_level'],$item['status'])}
        </td>
        {:list_btn(get_defined_vars(),"id")}
    </tr>
</volist>