<volist name="list" id="item">
    <tr>
        <td style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;" title="{$item['code']}">{$item['code']}</td>
        <td>{$item['project_name']}</td>
        <td>{$item['project_date']}</td>
        <td>{$item['business_name']}</td>
        <td>{$item['leader_name']}</td>
        <td>{$item['debit_date']}</td>
        <td>{$item['require_date']}</td>
        <td>{$item['free_name']}</td>
        <td style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;" title="{$item['debit_cause']}">{$item['debit_cause']}</td>
        <td>{$item['debit_money']}</td>
        <td>{$accountType[$item['account_type']]}</td>
        <td>{$item['loan_date']}</td>
        <td>审批记录</td>
        <td>
            <div class="input-group" style="max-width: 100px;">
                <if condition="$item['status'] eq 0 && $item['voucher_file'] eq ''">
                    <input class="form-control upload-file input-sm" value="{$item['voucher_file']}" type="text" readonly="readonly">
                <else/>
                    <input class="form-control upload-file input-sm" value="{$item['voucher_file']}" type="text" readonly="readonly">
                </if>
                <span class="input-group-addon show-media"><i class="fa fa-eye"></i></span>
            </div>
        </td>
        <td>{$item['remark']}</td>
        <td>
            {:approve_btn($tableName,$item['id'],$place,$item['process_level'],$item['status'])}
        </td>
        {:list_btn(get_defined_vars(),"id")}
    </tr>
</volist>