<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">文章列表</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {:add_btn(get_defined_vars(),"添加文章")}
                    </div>
                    <div class="box-body search-body">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <label  class="control-label">标题：</label>
                                <div class="form-group">
                                    <input class="form-control search-info" name="title" placeholder="标题" type="text">
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <label  class="control-label">作者：</label>
                                <div class="form-group">
                                    <input class="form-control search-info"  name="author" placeholder="作者" type="text">
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <label >上级分类：</label>
                                    <select class="form-control search-info" title="上级文章分类" name="class">
                                        {$classOption}
                                    </select>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <label >状态：</label>
                                    <select class="form-control search-info input-sm" title="状态" name="status">
                                        <option value="">全部</option>
                                        <volist name="statusType" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>文章Id</th>
                            <th>标题</th>
                            <th>封面</th>
                            <th>作者</th>
                            <th>分类</th>
                            <th>内容概要</th>
                            <th>添加时间</th>
                            <th>更新时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div  class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script src="__ADMINT__/bower_components/wangeditor/wangEditor.js?a=3"></script>
    <script>
        function article_initInfo(){
            $(".art-editor").find('div[id^="text"]').blur(function(){
                // var editorContent=editor.txt.html()
                console.log("editorContent");
            })
            var E = window.wangEditor
            var editor = new E(tabId+' .art-editor')
            editor.customConfig.uploadImgShowBase64 = true
            editor.create()
            $(tabId).on("blur",".art-editor div[id^='text']",function(){
                var editorContent=editor.txt.html()
                $(tabId+" .modal-info[name='content']").val(editorContent)
                console.log(editorContent);
            })
        }
        
        //获取分类数据
        // function getArtClsTree() {
        //     var tree=[]
        //     datas["reqType"]="artclassList";
        //     get("{$url}",datas,function(result){
        //         tree=result.tree
        //     },false)
        //     intPClsSelect(tree);
        //     return tree;
        // }
        $(function(){
            // getArtClsTree();
            //新增文章
            // $(tabId+" .box-header button").on("click",function(){
            //     $(tabId+" .modal-info").val("");
            //     $(tabId+" #modal-artclass h4").text("新增文章");
            //     $(tabId+" #modal-artclass .save-info").data("reqtype","Add");
            //     $(tabId+" #modal-artclass .save-info").text("新增文章");
            //     $(tabId+" .modal-dialog .artclass").find("option[value='0']").prop("selected",true);
            //     $(tabId+" .modal-dialog .artclass").trigger('chosen:updated');
            //     $(tabId+" .status-btn").removeClass("active");
            //     $(tabId+" .status-btn[name='1']").addClass("active");
            //     editor.txt.html("")
            // })
            // editor.customConfig.uploadImgShowBase64 = true
            // editor.create()
        })
        function articleReFuns(){

        }
        // function articleSearchFuns(){
        //     datas['data']={}
        //     $(tabId+" .search-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(val!=""){
        //             datas['data'][name]=val
        //         }
        //     })
        // // }
        // function article_getInfo(){
        //     datas["data"]={}
        //     $(tabId+" .modal-info").each(function(){
        //         var name =$(this).attr("name");
        //         var val =$(this).val();
        //         if(name=="title" && val==""){
        //             alert("标题不能为空");
        //             throw "标题不能为空";
        //         }else if(name=="class" && val<=0){
        //             alert("必须选择分类");
        //             throw "必须选择分类";
        //         }else if(val!=""){
        //             datas["data"][name]=val;
        //         }
                
        //     })
        //     var editorContent=editor.txt.html()
        //     if(editorContent!=""){
        //         datas["data"]["content"]=editorContent
        //     }
        // }
        /*设置编辑用户信息*/
        function article_setInfo(info){

            $(tabId+" .modal-info[name='articleId']").val(info['articleId']);
            $(tabId+" .modal-info[name='title']").val(info['title']);
            $(tabId+" .modal-info[name='tags']").val(info['tags']);
            $(tabId+" .modal-info[name='cover']").val(info['cover']);
            $(tabId+" .status-btn[name='"+info['status']+"']").addClass("active");
            $(tabId+" .modal-info[name='class']").find("option[value='"+info['class']+"']").prop("selected",true);
            editor.txt.html(info['content'])
        }
        //初始分类的select数据
        // function intPClsSelect(data){
        //     var option='<option value="0">根Root</option>';
        //     data.forEach(ele => {
        //         option+=getArtClsNode(ele,0);
        //     });
        //     $(tabId+" .artclass").html(option);
        // }
    </script>
</body>
</html>