<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__ADMINT__/bower_components/chosen/css/chosen.min.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-plus-square"></i>
                    <h4 class="box-title">分类列表</h4>
                    <button type="button" class="btn btn-info margin pull-right" data-toggle="modal" data-title="新建分类" data-target="#modal-artclass">新建分类</button>
                </div>
                <div class='box-body'>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input class="form-control input-expand-artclass" placeholder="搜索分类" value="" type="input">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="tree-plus handle" data-id="#artclasstree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#artclasstree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="artclasstree"></div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-artclass">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label >分类名称：</label>
                            <input class="modal-info" title="分类Id" name="classId" type="hidden">
                            <input class="form-control modal-info"  name="className" title="分类名称" placeholder="分类名称" type="text">
                        </div>
                        <div class="form-group">
                            <label >分类别名：</label>
                            <input class="form-control modal-info" name="alias" title="分类别名" placeholder="分类别名" type="text">
                        </div>
                        <div class="form-group">
                            <label >上级分类：</label>
                            <select class="form-control modal-info" id="classPid" title="上级分类" name="classPid">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>分类备注：</label>
                            <textarea class="form-control modal-info" name="remark" rows="3" placeholder="分类备注"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="btn-group user-status status-group" data-toggle="btn-toggle">
                                <button type="button" name="0" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-default"></i> 未激活 </button>
                                <button type="button" name="1" class="btn btn-default btn-sm active status-btn"><i class="fa fa-square text-green"> 激活 </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save-info" data-con="artclass" data-reqtype="Add" data-url="{$url}" data-modal="true">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <script>
        //获取分类数据
        function getArtClsTree() {
            var tree=[]
            datas["reqType"]="artclassList";
            get("{$url}",datas,function(result){
                // console.log(result);
                tree=result.tree
            },false)
            intPClsSelect(tree);
            return tree;
        }
         //生成分类树和分类树选中的事件
         function createArtClsTree(){
            $(tabId+' #artclasstree').treeview({showButton: true,highlightSelected:false,data: getArtClsTree(),levels:1,color: "#428bca",});
            //分类编辑
            $(tabId+' #artclasstree').on("click",'li button',function(){
                $(tabId+" #modal-artclass h4").text("分类编辑");
                $(tabId+" #modal-artclass .save-info").data("reqtype","Edit");
                $(tabId+" #modal-artclass .save-info").text("分类编辑");
                var nodeData= $(tabId+' #artclasstree').treeview('getNode', $(this).parent(".node-artclasstree").data("nodeid"));
                datas["classId"]=nodeData.id;
                datas["reqType"]='artClsOne';
                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        $(tabId+" .modal-info[name='className']").val(result.info['className']);
                        $(tabId+" .modal-info[name='classId']").val(result.info['classId']);
                        $(tabId+" .modal-info[name='alias']").val(result.info['alias']);
                        $(tabId+" .modal-info[name='classPid']").val(result.info['classPid']);
                        $(tabId+" .modal-info[name='remark']").val(result.info['remark']);
                        $(tabId+" .status-btn").removeClass("active");
                        $(tabId+" .status-btn[name='"+result.info['status']+"']").addClass("active");
                        $(tabId+" #classPid").find("option[value='"+result.info['classPid']+"']").prop("selected",true);
                        $(tabId+" #classPid").trigger('chosen:updated');
                    }
                })
                $(tabId+" #modal-artclass").modal('show')
                
            })
        }
        $(function(){
            createArtClsTree()
            //搜索分类
            $(tabId+' .input-expand-artclass').on("input",function(){
                $(tabId+' #artclasstree').treeview('collapseAll', { silent: true });
                var prveNode=$('#artclasstree').treeview('search', [$(tabId+' .input-expand-artclass').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching nodes
                }]);
            })
            //上级分类chosen
            $(tabId+" #classPid").chosen({search_contains:true,width: '100%'});
            //新增分类
            $(tabId+" .box-header button").on("click",function(){
                $(tabId+" .modal-info").val("");
                $(tabId+" #modal-artclass h4").text("新增分类");
                $(tabId+" #modal-artclass .save-info").data("reqtype","Add");
                $(tabId+" #modal-artclass .save-info").text("新增分类");
                $(tabId+" #classPid").find("option[value='0']").prop("selected",true);
                $(tabId+" #classPid").trigger('chosen:updated');
                $(tabId+" .status-btn").removeClass("active");
                $(tabId+" .status-btn[name='1']").addClass("active");
            })
        })
        //初始化父分类的select数据
        function intPClsSelect(data){
            var option='<option value="0">根Root</option>';
            data.forEach(ele => {
                option+=getArtClsNode(ele,0);
            });
            $(tabId+" #classPid").html(option);
        }
        //分类信息
        function artclassInfoFuns(){
            datas["data"]={}
            $(tabId+" .modal-info").each(function(){
                var name =$(this).attr("name");
                var val =$(this).val();
                if(name=="className" && val==""){
                    alert("分类名称不能为空");
                    throw "分类名称不能为空";
                }else if(val!=""){
                    datas["data"][name]=val;
                }
                
            })
            datas["data"].status=$(tabId+" .status-group .active").attr("name")
        }
        /** 
         * @Author: vition 
         * @Date: 2018-02-23 10:08:52 
         * @Desc: 刷新分类 
         */        
        function artclassSearchFuns(){
            createArtClsTree()
        }
    </script>
</body>
</html>