<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/chosen/css/chosen.min.css">
    <style>
        #modal-icon .modal-dialog {position: absolute;top: 0;bottom: 0;left: 0;right: 0;} 
        #modal-icon .modal-content {position: absolute;top: 0;bottom: 0;width: 100%;} 
        #modal-icon .modal-body {overflow-y: scroll;position: absolute;top: 55px;bottom: 65px;width: 100%;} 
    </style>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-plus-square"></i>
                    <h4 class="box-title">文章分类列表</h4>
                    <if condition="$processAuth['level'] gt 0 or $nodeAuth egt 2">
                        <button type="button" data-gettype="Add" data-toggle="modal" data-url="{$url}"  data-vtarget=".global-modal" data-con="{$controlName}" class="btn margin pull-right btn-info v-showmodal"><i class="fa fa-fw fa-user-plus"></i> 新建文章分类</button>
                    </if>
                </div>
                <div class='box-body'>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input class="form-control input-expand-feeType" placeholder="搜索文章分类" value="" type="input">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="tree-plus handle" data-id="#artClasstree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#artClasstree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="artClasstree"></div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        function artclass_initInfo(){
            $(tabId+" .modal-info[name='classPid']").chosen({search_contains:true,width: '100%'});
        }
        //获取文章分类数据
        function getArtClassTree() {
            var tree=[]
            datas["reqType"]="{$controlName}List";
            get("{$url}",datas,function(result){
                // console.log(result);
                tree=result.tree
            },false)
            // intPfeeTypeSelect(tree);
            return tree;
        }
         //生成文章分类树和文章分类树选中的事件
         function createArtClassTree(){
            $(tabId+' #artClasstree').treeview({showButton: true,highlightSelected:false,data: getArtClassTree(),levels:1,color: "#428bca",});
            //文章分类编辑
            $(tabId+' #artClasstree').offon("click",'li button',function(){
                datas={}
                var artClassData= $(tabId+' #artClasstree').treeview('getNode', $(this).parent(".node-artClasstree").data("nodeid"));
                datas.id = artClassData.id;
                var gettype = "Edit"
                datas.gettype = gettype
                var con = "{$controlName}"
                datas.con = con
                datas.reqType = datas.con+"_modalOne"
                get("{$url}",datas,function(result){
                    // console.log(result)
                    if(result.errCode==0){
                        $(tabId+" .global-modal .modal-content").html(result.html);
                        $(tabId+" .global-modal").modal('toggle')
                        $(tabId+" .modal-info[name='className']").val(result.data['className']);
                        $(tabId+" .modal-info[name='alias']").val(result.data['alias']);
                        $(tabId+" .modal-info[name='classId']").val(result.data['classId']);
                        $(tabId+" .modal-info[name='remark']").val(result.data['remark']);
                        $(tabId+" .modal-info[name='classPid']").find("option[value='"+result.data['classPid']+"']").prop("selected",true);
                        $(tabId+" .modal-info[name='classPid']").trigger('chosen:updated');
                        set_status_btn($(tabId+" .modal-status .status-btn[name='"+result.data['status']+"']"))
                    }
                })
                
            })
        }
        $(function(){
            createArtClassTree()
            //搜索文章分类
            $(tabId+' .input-expand-feeType').offon("input",function(){
                $(tabId+' #artClasstree').treeview('collapseAll', { silent: true });
                var prvefeeType=$('#artClasstree').treeview('search', [$(tabId+' .input-expand-feeType').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching feeTypes
                }]);
            })
        })
        /** 
         * @Author: vition 
         * @Date: 2018-02-23 10:08:52 
         * @Desc: 刷新文章分类 
         */        
        function artclass_searchInfo(){
            createArtClassTree()
        }
    </script>
</body>
</html>