<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/chosen/css/chosen.min.css">
    <style>
        #modal-icon .modal-dialog {position: absolute;top: 0;bottom: 0;left: 0;right: 0;} 
        #modal-icon .modal-content {position: absolute;top: 0;bottom: 0;width: 100%;} 
        #modal-icon .modal-body {overflow-y: scroll;position: absolute;top: 55px;bottom: 65px;width: 100%;} 
    </style>
    <link rel="stylesheet" href="__ADMINT__/dist/css/nodeAuth.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-sm-4">
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">节点列表</h4>
                        <button type="button" class="btn btn-info margin" data-toggle="modal" data-title="新建节点" data-target="#modal-nodeInfo">新建节点</button>
                    </div>
                    <div class='box-body'>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control input-expand-node" placeholder="搜索节点" value="" type="input">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="tree-plus handle" data-id="#nodetree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                                <span class="tree-minus handle" data-id="#nodetree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="nodetree"></div>
                            </div>
                        </div>
                        <!-- <div class="box-footer">
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box box-info role-info-edit"  data-url="{$url}" data-reqtype="roleList" data-con="role">
                    <div class="box-header">
                        <i class="fa fa-cog"></i>
        
                        <h4 class="box-title">节点对应角色权限</h4>
            
                        <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                            <span class="tree-plus handle" data-id="#node2roletree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#node2roletree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                        </div>
                    </div>
                    <form class="form-horizontal" >
                        <div class="box-body">
                            <div class="rnaccordion" id="node2roletree" data-nodeid="0"></div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-info pull-right save-nodeauth" data-con="role" data-gettype="Edit" data-url="{$url}" data-modal="false">修改</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                    <div>
                    </div>
                        <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-nodeInfo">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label >节点名称：</label>
                            <input class="modal-info" title="节点Id" name="nodeId" type="hidden">
                            <input class="form-control modal-info"  name="nodeNames" title="节点名称" placeholder="节点名称" type="text">
                        </div>
                        <div class="form-group">
                            <label >节点标题：</label>
                            <input class="form-control modal-info" name="nodeTitle" title="节点标题" placeholder="节点标题" type="text">
                        </div>
                        <div class="form-group">
                            <label >节点控制：</label>
                            <input class="form-control modal-info" name="controller" title="节点控制" placeholder="控制器/方法" type="text">
                        </div>

                        <div class="form-group">
                            <label style="cursor:pointer;" data-toggle="modal" class="showIcons" data-target="#modal-icon">节点图标：<i class="fa fa-puzzle-piece text-red"></i></label>
                            <input class="form-control modal-info" title="节点图标" name="nodeIcon" placeholder="fa fa-dashboard" type="text">
                        </div>
                        <div class="form-group">
                            <label >节点排序：</label>
                            <input class="form-control modal-info" title="节点排序" name="sort" placeholder="节点排序" type="text">
                        </div>
                        <div class="form-group">
                            <label >上级节点：</label>
                            <select class="form-control modal-info" id="nodePid" title="上级节点" name="nodePid">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                                <input class="modal-info"  value="1" name="status" type="hidden">
                                <if condition="$nodeAuth egt 3">
                                    <button  type="button" name="0" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-default"></i> 未启用 </button>
                                    <button type="button" name="1" class="btn btn-success btn-sm active status-btn"><i class="fa fa-check-square text-default"> 启用 </i></button>
                                </if>
                                <if condition="$nodeAuth egt 4 ">
                                    <button type="button" name="4" class="btn btn-danger btn-sm status-btn"><i class="fa fa-square text-default"> 删除 </i></button>
                                </if>
                            </div>
                        </div>
                    </div>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save-info" data-con="node" data-gettype="Add" data-url="{$url}" data-modal="true">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-icon">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
            </div>
        </div>
    </div>
    <table class="auth-con-btns none">
        <tr>
            <td class="setauth-btn" title="只读" data-val="1" >读</td>
            <td class="setauth-btn" title="读、增" data-val="2" >增</td>
            <td class="setauth-btn" title="读、增、改" data-val="3" >改</td>
        </tr>
        <tr>
            <td class="setauth-btn" title="无权限" data-val="0" >空</td>
            <th class="auth-edit"></th>
            <td class="setauth-btn" title="最大权限" data-val="7" >全</td>
        </tr>
        <tr>
            <td class="setauth-btn" title="增删改查" data-val="4" >删</td>
            <td class="setauth-btn" title="增删改查导出" data-val="5" >出</td>
            <td class="setauth-btn" title="增删改查导出导入" data-val="6" >入</td>
        </tr>
    </table>
    <script src="__ADMINT__/dist/js/nodeAuth.js?={:time()}"></script>
    <script>
        //获取节点数据
        function getNodeTree() {
            var tree=[]
            datas["reqType"]="nodeList";
            get("{$url}",datas,function(result){
                // console.log(result);
                tree=result.tree
            },false)
            intPnodeSelect(tree);
            return tree;
        }
        //获取角色树数据
        var  getRoleTreeData = function(node_id) {
            var tree=[]
            datas["reqType"]="nodeAuthRoleList";
            if(node_id>0){
                datas["nodeId"] = node_id
            }
            get("{$url}",datas,function(result){
                tree=result.tree
            },false)
            return tree;
        }
        //生成默认角色树
        var initRoleTree = function(){
            $(tabId+' #node2roletree').treeview({showButton: false,highlightSelected:false,input:true,data: getRoleTreeData(),levels:1,color: "#428bca",});
            //权限编辑按钮事件
        }
         //生成节点树和节点树选中的事件
         function createNodeTree(){
            $(tabId+' #nodetree').treeview({showButton: true,highlightSelected:false,data: getNodeTree(),levels:1,color: "#428bca",
                onNodeSelected:function(event, node){
                    $(tabId+' #node2roletree').data("nodeid",node.id)
                    var gg = $(tabId+' #node2roletree').treeview({showButton: false,highlightSelected:false,input:true,data: getRoleTreeData(node.id),levels:1,color: "#428bca",});
                }
            });
            //节点编辑
            $(tabId+' #nodetree').offon("click",'li button',function(){
                $(tabId+" #modal-nodeInfo h4").text("节点编辑");
                $(tabId+" #modal-nodeInfo .save-info").data("gettype","Edit");
                $(tabId+" #modal-nodeInfo .save-info").text("节点编辑");
                var nodeData= $(tabId+' #nodetree').treeview('getNode', $(this).parent(".node-nodetree").data("nodeid"));

                datas["nodeId"]=nodeData.id;
                datas["reqType"]='nodeOne';
                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        // console.log(result.info);
                        $(tabId+" .modal-info[name='nodeNames']").val(result.info['nodeNames']);
                        $(tabId+" .modal-info[name='nodeTitle']").val(result.info['nodeTitle']);
                        $(tabId+" .modal-info[name='nodeId']").val(result.info['nodeId']);
                        $(tabId+" .modal-info[name='controller']").val(result.info['controller']);
                        $(tabId+" .modal-info[name='nodeIcon']").val(result.info['nodeIcon']);
                        $(tabId+" .modal-info[name='sort']").val(result.info['sort']);
                        $(tabId+" .modal-info[name='nodePid']").val(result.info['nodePid']);
                        set_status_btn($(tabId+" .modal-status .status-btn[name='"+result.info['status']+"']"))
                        $(tabId+" #nodePid").find("option[value='"+result.info['nodePid']+"']").prop("selected",true);
                        $(tabId+" #nodePid").trigger('chosen:updated');
                    }
                })
                $(tabId+" #modal-nodeInfo").modal('show')
                
            })
            var node_sort = 0;
            $(tabId+' #nodetree').offon("focus",'li .node-input',function(){
                node_sort = $(this).val()
            })
            $(tabId+' #nodetree').offon("blur",'li .node-input',function(){
                var new_sort = $(this).val()
                if(node_sort !== new_sort){
                    var nodeData= $(tabId+' #nodetree').treeview('getNode', $(this).parents(".node-nodetree").data("nodeid"));
                    datas={}
                    datas["reqType"] = 'nodeEdit';
                    datas["data"] = {nodeId:nodeData.id,sort:new_sort};
                    post("{$url}",datas,function(result){
                        if(result.errCode==0){
                            createNodeTree()
                        }
                    })
                }
            })
        }
        $(function(){
            createNodeTree()
            initRoleTree()
            //搜索节点
            $(tabId+' .input-expand-node').on("input",function(){
                $(tabId+' #nodetree').treeview('collapseAll', { silent: true });
                var prveNode=$('#nodetree').treeview('search', [$(tabId+' .input-expand-node').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching nodes
                }]);
            })
            //上级节点chosen
            $(tabId+" #nodePid").chosen({search_contains:true,width: '100%'});
            //新增节点
            $(tabId+" .box-header button").on("click",function(){
                $(tabId+" .modal-info").val("");
                $(tabId+" #modal-nodeInfo h4").text("新增节点");
                $(tabId+" #modal-nodeInfo .save-info").data("gettype","Add");
                $(tabId+" #modal-nodeInfo .save-info").text("新增节点");
                $(tabId+" #nodePid").find("option[value='0']").prop("selected",true);
                $(tabId+" #nodePid").trigger('chosen:updated');
                $(tabId+" .status-btn").removeClass("active");
                $(tabId+" .status-btn[name='1']").addClass("active");
            })
            //获取iconlist
            $(tabId+" .showIcons").on("click",function(){
                datas={}
                datas["reqType"]='iconList';
                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        $(tabId+" #modal-icon .modal-body").html(result.info);
                    }
                })
            })
            $(tabId+" #modal-icon .modal-body").on("click",".icon-select",function(){
                var icon=$(this).text().replace(/(^\s*)|(\s*$)/g, "")
                $(tabId+" #modal-nodeInfo .modal-info[name='nodeIcon']").val(icon);
                var ic=$(tabId+" #modal-nodeInfo .modal-info[name='nodeIcon']").prev().children("i");
                $(tabId+" #modal-nodeInfo .modal-info[name='nodeIcon']").prev().children("i").attr("class",icon+" text-red")
                $(tabId+" #modal-icon").modal('hide')
            })
            $(tabId).on("click",".save-nodeauth",function(){
                datas["reqType"] = "nodeAuthRoleEdit";
                datas["nodeId"] =  $(tabId+' #node2roletree').data("nodeid");
                var treeData = $(tabId+' #node2roletree').treeview('treeData')
                var auth_data = {}
                treeData.forEach(function(ele,key) {
                    auth_data[ele['id']] = ele['inputVal']
                    if(ele['inputVal']>0){

                    }
                    if(ele['nodes']){
                        ele['nodes'].forEach(function(subele,subkey) {
                            auth_data[subele['id']] = subele['inputVal']
                        })
                    }
                })
                datas["authData"] = auth_data;
                // console.log(datas)
                post("{$url}",datas,function(result){
                    if(result.errCode === 0){
                        notice(result.errCode,result.error);
                    }
                });
            })
            // $(tabId).on("change",".rnaccordion .node-input",function(){
            //     var nodeAuth = {}
            //     $(tabId).find(".rnaccordion .node-input").each(function(){
            //         var key = $(this).data("id")
            //         var val = $(this).val()
            //         nodeAuth[key] = val
            //     })                
            // })
        })
        //初始化父节点的select数据
        function intPnodeSelect(data){
            var option='<option value="0">根Root</option>';
            data.forEach(ele => {
                option+=getNode(ele,0);
            });
            $(tabId+" #nodePid").html(option);
        }
        //递归获取节点
        function getNode(element,level){
            var option=""
            var strs="";
            for (let index = 0; index < level; index++) {
                strs+="——";
            }
            if(typeof(element.nodes)=='object'){
                level++
                element.nodes.forEach(elementSub => {
                    option+=getNode(elementSub,level);
                });
            }
            return '<option value="'+element.id+'">'+strs+element.text+'</option>'+option;
        }
        //节点信息
        // function node_setInfo(){
        //     datas["data"]={}
        //     $(tabId+" .modal-info").each(function(){
        //         var name =$(this).attr("name");
        //         var val =$(this).val();
        //         if(name=="nodeTitle" && val==""){
        //             alert("节点标题不能为空");
        //             throw "节点标题不能为空";
        //         }else if(val!=""){
        //             datas["data"][name]=val;
        //         }
                
        //     })
        //     datas["data"].status=$(tabId+" .status-group .active").attr("name")
        // }
        /** 
         * @Author: vition 
         * @Date: 2018-02-23 10:08:52 
         * @Desc: 刷新节点 
         */        
        function node_searchInfo(){
            createNodeTree()
            $("#modal-nodeInfo").modal('toggle')
        }
    </script>
</body>
</html>