<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__ADMINT__/bower_components/chosen/css/chosen.min.css">
    <style>
        #modal-icon .modal-dialog {position: absolute;top: 0;bottom: 0;left: 0;right: 0;} 
        #modal-icon .modal-content {position: absolute;top: 0;bottom: 0;width: 100%;} 
        #modal-icon .modal-body {overflow-y: scroll;position: absolute;top: 55px;bottom: 65px;width: 100%;} 
    </style>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">节点列表</h4>
                    </div>
                    <div class='box-body'>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control input-expand-node" placeholder="搜索节点" value="" type="input">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="tree-plus handle" data-id=".nodetree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                                <span class="tree-minus handle" data-id=".nodetree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="nodetree"></div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">流程授权</h4>
                    </div>
                    <div class='box-body'>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
				    <input type="hidden" class="modal-info" name="nodeId" value="0" />
				    <select class="form-control input-sm chosen-process chosen-select modal-info" multiple="multiple" title="审核流程" name="processIds"><option value=""></option></select>                                    
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
				<button type="button" class="btn btn-primary save-info" data-con="processAuth" data-reqtype="Edit" data-url="{$url}">更新节点审核流程</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
	var processOption = '{$processData}'
        //获取节点数据
        function getNodeTree() {
            var tree=[]
            datas["reqType"]="nodeList";
            get("{$url}",datas,function(result){
                // console.log(result);
                tree=result.tree
            },false)
            return tree;
        }
         //生成节点树和节点树选中的事件
         function createNodeTree(){
            $(tabId+' .nodetree').treeview({showButton: true,highlightSelected:false,data: getNodeTree(),levels:1,color: "#428bca",});
            //节点编辑
            $(tabId+' .nodetree').on("click",'li button',function(){
               
                var nodeData= $(tabId+' .nodetree').treeview('getNode', $(this).parent(".list-group-item").data("nodeid"));
                datas["nodeId"]=nodeData.id;
                datas["reqType"]='nodeOne';
                $(tabId+" .modal-info[name='nodeId']").val(nodeData.id)
                $(tabId+" .save-info").text($(this).parent(".list-group-item").text());
                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        $(tabId+" .chosen-process").find("option").prop("selected",false);
                        result.info.processIds.split(",").forEach(function(val){
                            $(tabId+" .chosen-process").find("option[value='"+val+"']").prop("selected",true);
                        })
                        $(tabId+" .chosen-process").trigger("chosen:updated");
                    }
                })
            })
        }
        $(function(){
	        $(tabId+" .chosen-process").html(processOption).chosen({inherit_select_classes:true,search_contains:true,allow_single_deselect:true})

            createNodeTree()
            //搜索节点
            $(tabId+' .input-expand-node').on("input",function(){
                $(tabId+' .nodetree').treeview('collapseAll', { silent: true });
                var prveNode=$('.nodetree').treeview('search', [$(tabId+' .input-expand-node').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching nodes
                }]);
            })
        })
        //递归获取节点
        function getNode(element,level){
            var option=""
            var strs="";
            for (let index = 0; index < level; index++) {
                strs+="——";
            }
            if(typeof(element.nodes)=='object'){
                level++
                element.nodes.forEach(elementSub => {
                    option+=getNode(elementSub,level);
                });
            }
            return '<option value="'+element.id+'">'+strs+element.text+'</option>'+option;
        }
        //节点信息
        function processAuthInfoFuns(){
            datas["data"]={}
            $(tabId+" .modal-info").each(function(){
                var name =$(this).attr("name");
                var val =$(this).val();
                if(val<=0 && name != undefined){
		    notice(100,"没有要修改的数据")
                    throw "没有要修改的数据";
                }else if(name != undefined){
                    datas["data"][name]=val;
                }
                
            })
        }
        /** 
         * @Author: vition 
         * @Date: 2018-02-23 10:08:52 
         * @Desc: 刷新节点 
         */        
        function nodeSearchFuns(){
            createNodeTree()
        }
    </script>
</body>
</html>
