<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">审核流程列表</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <if condition="$processAuth['level'] gt 0 or $nodeAuth egt 7">
                            <button type="button" data-gettype="Add" data-toggle="modal"  data-url="{$url}" data-vtarget=".global-modal" data-con="{$controlName}" class="btn btn-info info-edit v-showmodal"><i class="fa fa-fw fa-user-plus "></i> 新增审核流程 </button>
                        </if>
                    </div>
                    <div class="box-body search-body">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group"> 
                                    <label class="control-label">审核流程名称：</label>
                                    <input class="form-control search-info input-sm" name="processName" placeholder="审核流程名称" type="text">
                                </div>
                                <div class="form-group"> 
                                    <label class="control-label">审核流程配置数据：</label>
                                    <input class="form-control search-info input-sm" name="processDepict" placeholder="审核流程描述" type="text">
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:1em;overflow-x: auto;">
                <div class="count-div" id="processCount" style="margin:10px;font-weight: 800;">
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>审核流程名称</th>
                            <th>配置数据概况</th>
                            <th>添加时间</th>
                            <th>修改时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
	    var groupOption='{$groupData}';
        var roleOption='{$roleData}';

        //获取分类数据
        $(function(){
            //新增审核流程
            $(tabId).on("click",".box-header button",function(){
                $(tabId+" .modal-info").val("");
                $(tabId+" .process-tab").children("tr").remove()
		        $(tabId+" .modal-info[name='status']").val(0);
                $(tabId+" .status-btn").removeClass("active");
                $(tabId+" .status-btn[name='0']").addClass("active");
            })
            //新增审核流程输入框
            $(tabId).on("click",".add-processnode",function(){
                createProcess()
            })
            //切换角色类型            
            $(tabId).on("change",".role-type",function(){
                var chosen_roles=$(this).parent("td").next("td").find(".chosen-roles");
                var roleType = $(this).val()
                chosen_roles.eq(0).find("option").remove()
                if(roleType==1){
                    chosen_roles.eq(0).append(groupOption)
                    if(chosen_roles.eq(0).prop("multiple")==false){
                        chosen_roles.eq(0).prop("multiple",true)
                    }
                }else{
                    chosen_roles.eq(0).append(roleOption);
                    if(chosen_roles.eq(0).prop("multiple")==true){
                        chosen_roles.eq(0).prop("multiple",false)
                    }
                }
                if(chosen_roles.length>1){
                    chosen_roles.eq(0).chosen("destroy");
                }
                chosen_roles.eq(0).chosen({inherit_select_classes:true,search_contains:true,allow_single_deselect:true})
                
            })
            //删除审批流程
            $(tabId).on("click",".minus-processnode",function(){
                $(this).parents("tr").remove()	
            })
        })
        //搜索字段新增
        // function user_process_searchInfo(){
        //     datas['data']={}
        //     $(tabId+" .search-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(val!=""){
        //             datas['data'][name]=val
        //         }
        //     })
        // }
        //新增保存表单数据
        function user_process_getInfo(){
            datas["data"]={}
            $(tabId+" .modal-info").each(function(){
                var name = $(this).attr("name")
                var val = $(this).val()
                if(name=="processName" && val==""){
                    notice(100,"流程名不能为空");
                    throw "流程名不能为空";
                }	
                datas["data"][name]=val
	        })
            datas["data"]["Option"]=[]
            datas["data"]["Depict"]=[]
            $(tabId+" .role-type").each(function(){
                var typeData = $(this).val()
                var roleData = $(this).parent("td").next("td").find(".chosen-roles").val();
                datas["data"]["Option"].push({type:typeData,role:roleData})
                var typeStr = $(this).find("option[value='"+typeData+"']").text()
                var roleStr = []
                if(typeData==1){
                    $(roleData).each(function(index,val){
                        roleStr.push($("<select>"+groupOption+"</select>").find("option[value='"+val+"']").text())
                    })
                }else{
                    roleStr.push($("<select>"+roleOption+"</select>").find("option[value='"+roleData+"']").text())
                }
                datas["data"]["Depict"].push({type:typeStr,role:roleStr});
            })
         }
        // /*设置编辑审核流程信息*/
        function user_process_setInfo(info){
            $(tabId+" .process-tab").children("tr").remove()
            $(tabId+" .modal-info[name='processId']").val(info['processId']);
            $(tabId+" .modal-info[name='processName']").val(info['processName']);
            set_status_btn($(tabId+" .modal-status .status-btn[name='"+info['status']+"']"))
            JSON.parse(info['processOption']).forEach(function(process,index){
                createProcess()
                $(tabId+" .role-type").eq(index).find("option[value='"+process["type"]+"']").prop("selected",true);
                var tempChosen = $(tabId+" .role-type").eq(index).parent("td").next("td").find(".chosen-roles")
                if(process["type"]==1){
                    tempChosen.prop("multiple",true)
                    tempChosen.html(groupOption);
                    process["role"].forEach(function(roleId){
                        tempChosen.find("option[value='"+roleId+"']").prop("selected",true);
                    })
                }else{
                    tempChosen.html(roleOption);
                    tempChosen.find("option[value='"+process["role"]+"']").prop("selected",true);
                }
                
                
                tempChosen.chosen({inherit_select_classes:true,search_contains:true,allow_single_deselect:true});

            })
            
            // $(tabId+" .modal-info[name='type']").html('<option value="'+info['basicId']+'">'+info['typeName']+'</option>');
            // $(tabId+" .modal-info[name='type']").trigger("chosen:updated");

            // $(tabId+" .modal-status .status-btn").removeClass("active");
            // $(tabId+" .modal-status .status-btn[name='"+info['status']+"']").addClass("active");
            // $(tabId+" .modal-info[name='status']").val(info['status']);

            // $(tabId+" .modal-info[name='provinceId']").find("option[value='"+info['provinceId']+"']").prop("selected",true);
            // // setCityOption(info['provinceId'],"modal-info")
            // $(tabId+" .modal-info[name='cityId']").find("option[value='"+info['cityId']+"']").prop("selected",true);
        }
        function createProcess(){
            var tr=$('<tr><td style="width:30%;padding: 3px;vertical-align: middle;"><select class="form-control input-sm role-type" title="角色类型" name="roleType"><option value="">选择角色类型</option><option value="1">分组</option><option value="2">角色</option></select></td><td style="width:65%;padding: 3px;vertical-align: middle;"><select class="form-control input-sm chosen-roles chosen-select" title="角色" name="roles"><option value=""></option></select></td><td sytle="width:5%;padding: 3px;vertical-align: middle;"><i class="fa fa-minus minus-processnode" style="padding: 10px;cursor:pointer;"></i></td></tr>');
            $(tabId+" .process-tab").append(tr)
        }
    </script>
</body>
</html>
