<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <style>
        #modal-role-node .modal-dialog {position: absolute;top: 0;bottom: 0;left: 0;right: 0;} 
        #modal-role-node .modal-content {position: absolute;top: 0;bottom: 0;width: 100%;} 
        #modal-role-node .modal-body {overflow-y: scroll;position: absolute;top: 55px;bottom: 65px;width: 100%;} 
    </style>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-user-secret"></i>
        
                        <h4 class="box-title">角色列表</h4>
        
                        <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                            <span class="tree-plus handle" data-id="#roletree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#roletree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                        </div>
                    </div>
                        <div class="form-group">
                            <input class="form-control" id="input-expand-node"  placeholder="搜索角色" value="" type="input">
                        </div>
                    <div>
                        <div id="roletree"></div>
                    </div>
                        <div class="box-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-info role-info-edit"  data-url="{$url}" data-reqtype="roleList" data-con="role">
                    <div class="box-header">
                        <i class="fa fa-cog"></i>
        
                        <h4 class="box-title">角色管理</h4>
<!--             
                        <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                            <span class="tree-plus handle" data-id="#roletree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#roletree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                        </div> -->
                    </div>
                    <form class="form-horizontal" >
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">上级</label>
                
                                <div class="col-sm-9">
                                    <input class="form-control superior" name="superior"  readonly placeholder="上级名称" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">原名称</label>
                                <div class="col-sm-9">
                                    <input class="form-control rolename" name="oldrolename" readonly  placeholder="角色名称" type="text">
                                    <input class=" modal-info" name="roleId"  title="角色id" type="hidden">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新名称</label>
                                <div class="col-sm-9">
                                    <input class="form-control nrolename modal-info" name="roleName" title="角色名称" type="text">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">目标上级</label>
                                <div class="col-sm-9">
                                    <select class="form-control modal-info" title="目标上级" id="nsuperior" name="rolePid">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">备注</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control  modal-info" rows="2" title="备注"  name="remark"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">角色状态</label>
                                <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                                    <input class="modal-info"  value="0" name="status" type="hidden">
                                    <button type="button" name="0" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-default"></i> 未激活 </button>
                                    <button type="button" name="1" class="btn btn-default btn-sm active status-btn"><i class="fa fa-square text-green"> 激活 </i>
                                    </button>
                                    <button type="button" name="2" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-info"></i> 冻结 </button>
                                    <button type="button" name="3" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-red"></i> 删除 </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-success save-info" data-con="role" data-gettype="Add" data-url="{$url}" data-modal="false">新增</button>
                            <button type="button" class="btn btn-info pull-right save-info" data-con="role" data-gettype="Edit" data-url="{$url}" data-modal="false">修改</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                    <div>
                    </div>
                        <div class="box-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static"  id="modal-role-node">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save-info" data-con="{$controlName}" data-gettype="Edit" data-url="{$url}" data-modal="true" >修改</button>
            </div>
            </div>
        </div>
    </div>
    <script>
        var prve=-1;
        var roleId=0;
        //获取角色数据
        function getRoleTree() {
            var tree=[]
            datas["reqType"]="roleList";
            get("{$url}",datas,function(result){
                tree=result.tree
            },false)
            var html='<option value="">无</option><option value="0">root</option>';
            for (const key in tree){
                html+='<option value="'+tree[key].id+'">'+tree[key].text+'</option>';
            }
            $(tabId+" #nsuperior").html(html);
            return tree;
        }
        $(function(){
            createRoleTree()
            //搜索角色
            $(tabId+' #input-expand-node').on("input",function(){
                $(tabId+' #roletree').treeview('collapseAll', { silent: true });
                var prveNode=$('#roletree').treeview('search', [$('#input-expand-node').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching nodes
                }]);
            })
            $("#nsuperior").on("change",function(){
                if($(this).val()==0){
                    $(tabId+' #role-info .superior').val('')
                    $(tabId+' #role-info .rolename').val('')
                }
            })
        })
        //新增修改信息处理
        function rolerNode_getInfo($this){
            datas.data={}
            datas.reqType = $($this).data("con")+$($this).data("gettype");
            // console.log($($this).data("gettype"))
            $(tabId+" #role-info .role-info").each(function(){
                var name=$(this).attr("name");
                var val=$(this).val();
                var title=$(this).attr("title");
                if(datas.reqType=="roleAdd" && (name=='roleName' || name=='rolePid') && val==""){
                    alert(title+"不能为空");
                    throw title+"不能为空"
                }else if(datas.reqType=="roleEdit"){
                    if(name=='roleId' && val==""){
                        alert("没有选中角色");
                        throw "没有选中角色"
                    }
                }
                if(val!==""){
                    datas.data[name]=val
                }
            })
            datas.data.status=$(tabId+" .status-group .active").attr("name")
            if(datas.reqType=="rolerNodeEdit"){
                datas.roleId=roleId;
                datas.data={}
                $(tabId+" .global-modal .modal-body .auth-val").each(function(){
                    datas.data[$(this).data("id")]=$(this).val()
                })
            }
        }
        function rolerNode_searchInfo(){
            createRoleTree()
            clearRoleInfo()
        }
        function role_searchInfo(){
            createRoleTree()
            clearRoleInfo()
        }
        //生成角色树和角色树选中的事件
        function createRoleTree(){
            $(tabId+' #roletree').treeview({showButton: true,butTitle:'权限',data: getRoleTree(),levels:1,color: "#428bca",onNodeSelected:function(event, node){
                if(node.parentId==undefined){
                    var superior=node.text
                    var pid = 0
                }else{
                    var parent= $(tabId+' #roletree').treeview('getNode', node.parentId);
                    var superior=parent.text
                    var pid = parent.id
                }
                $(tabId+" input[name='oldrolename']").val(node.text)
                $(tabId+" input[name='roleName']").val(node.text)
                $(tabId+" input[name='superior']").val(superior)
                var id=node.id
                var status=node.status
                var remark=node.remark
                $(tabId+" .modal-info[name='remark']").val(remark);
                $(tabId+" .modal-info[name='roleId']").val(id);
                $(tabId+" .modal-info[name='rolePid']").find("option[value='"+pid+"']").prop("selected",true);

                // $(tabId+" #role-info .role-status .status-btn").removeClass("active");
                // $(tabId+" #role-info .role-status .status-btn[name='"+status+"']").addClass("active");
                set_status_btn($(tabId+" .modal-status .status-btn[name='"+status+"']"))
            },onNodeUnselected:function(){
                clearRoleInfo()
            }});
            //权限编辑按钮事件
            $(tabId+' #roletree').on("click",'li button',function(){
                // console.log($(this))
                var roleData= $(tabId+' #roletree').treeview('getNode', $(this).parent(".node-roletree").data("nodeid"));
                datas["roleId"]=roleData.id;
                roleId=roleData.id;
                datas["reqType"]='rnodeOne';

                get("{$url}",datas,function(result){
                    if(result.errCode==0){
                        $(tabId+" .global-modal .modal-body").html(result.info);
                        $(tabId+" .global-modal").modal("show");
                    }
                    
                })
            })
        }
        //清空角色数据
        function clearRoleInfo(){
            $(tabId+" .role-info-edit .modal-info").val("")
        }
    </script>
</body>
</html>