<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-success">
                    <div class="box-header">
                      <i class="fa fa-user-secret"></i>
        
                      <h3 class="box-title">角色管理</h3>
        
                      <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                            <span class="tree-plus handle" data-id="#tree"><i class="fa fa-fw fa-plus-square"></i>收起</span>
                            <span class="tree-minus handle" data-id="#tree"><i class="fa fa-fw fa-minus-square"></i>敞开</span>
                      </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input-expand-node" placeholder="搜索角色" value="" type="input">
                    </div>
                    <div>
                        <div id="tree"></div>
                    </div>
                    <div class="box-footer">
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-userInfo">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="info-loginName">登录名：</label>
                            <input id="info-userId" class="modal-info" title="userId" name="userId" type="hidden">
                            <input class="form-control modal-info" id="info-loginName" name="loginName" title="登录名" placeholder="登录名" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-userName">用户名：</label>
                            <input class="form-control modal-info" id="info-userName" name="userName" title="用户名" placeholder="用户名" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-avatar">头像：</label>
                            <input class="form-control modal-info" id="info-avatar" name="avatar" title="头像" placeholder="头像" type="text">
                            <input id="exampleInputFile" class="fileupdate" data-input="#info-avatar" type="file">
                        </div>

                        <div class="form-group">
                            <label for="info-password">密码：</label>
                            <input class="form-control modal-info" id="info-password" title="密码" name="password" placeholder="密码" type="password">
                        </div>
                        <div class="form-group">
                            <label for="info-phone">手机号码：</label>
                            <input class="form-control modal-info" id="info-phone" title="手机号码" name="phone" placeholder="手机号码" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-gender">性别：</label>
                            <select class="form-control modal-info" title="性别" name="gender" id="info-gender">
                                <option value="">全部</option>
                                <option value="1">男性</option>
                                <option value="2">女性</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="info-userType">用户类型：</label>
                            <select class="form-control modal-info" title="用户类型" id="info-userType" name="userType">
                                <option value="">全部</option>
                                <volist name="userType" id="item">
                                    <option value="{$key}">{$item}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="info-role">角色：</label>
                            <select class="form-control modal-info" title="角色" name="roleId" id="info-roleId">
                                <option value="">全部</option>
                                <volist name="roleList" id="item">
                                    <option value="{$item['roleId']}">{$item['roleName']}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="btn-group user-status status-group" data-toggle="btn-toggle">
                                <input class="modal-info" id="info-status" value="1" name="status" type="hidden">
                                <button type="button" name="0" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-default"></i> 未激活 </button>
                                <button type="button" name="1" class="btn btn-default btn-sm active status-btn"><i class="fa fa-square text-green"> 激活 </i>
                                </button>
                                <button type="button" name="2" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-info"></i> 冻结 </button>
                                <button type="button" name="3" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-red"></i> 删除 </button>
                            </div>
                        </div>
                    </div>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save-info" data-con="user" data-reqtype="Add" data-url="{$url}">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <script src="__ADMINT__/bower_components/bootstrap-treeview/js/bootstrap-treeview.min.js"></script>
    <script>
        var prve=-1;
        function getTree() {
            var tree=[]
            datas["reqType"]="roleList";
            get("{$url}",datas,function(result){
                tree=result.tree
            },false)
            // console.log(tree);
            return tree;
        }
        $(function(){
            
            $('#tree').treeview({data: getTree(),levels:1,color: "#428bca",onNodeSelected:function(event, node){
                
                console.log(event)
                console.log(node)
            }});
            $('#input-expand-node').on("input",function(){
                $('#tree').treeview('collapseAll', { silent: true });
                var prveNode=$('#tree').treeview('search', [$('#input-expand-node').val(), {
                    ignoreCase: false,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching nodes
                }]);
            })
            
        })
        
    </script>
</body>
</html>