<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body search-body" id="user-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <label for="loginName" class="control-label">登录名称：</label>
                                <div class="form-group">
                                    <input class="form-control search-info" id="loginName" name="loginName" placeholder="登录名" type="text">
                                </div>
                                <label for="userName" class="control-label">用户名：</label>
                                <div class="form-group">
                                    <input class="form-control search-info" id="userName" name="userName" placeholder="用户名" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="control-label">性别：</label>
                                    <select class="form-control search-info" name="gender" id="gender">
                                        <option value="">全部</option>
                                        <option value="1">男性</option>
                                        <option value="2">女性</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-reqtype="Add" data-toggle="modal" data-title="添加用户" data-target="#modal-userInfo" data-con="user" class="btn btn-info info-edit"><i class="fa fa-fw fa-user-plus"></i> 添加用户</button>
                                </div>
                                
                            </div>
                            <br>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="userType" class="control-label">用户类型：</label>
                                    <select class="form-control search-info" id="userType" name="userType">
                                        <option value="">全部</option>
                                        <volist name="userType" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="status" class="control-label">状态：</label>
                                    <select class="form-control search-info" name="status" id="status">
                                        <option value="">全部</option>
                                        <volist name="userStatus" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="regFrom" class="control-label">注册来源：</label>
                                    <select class="form-control search-info" name="regFrom" id="regFrom">
                                        <option value="">全部</option>
                                        <volist name="regFrom" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="info-roleId">角色：</label>
                                    <select class="form-control search-info" title="角色" name="roleId" id="roleId">
                                        <option value="">全部</option>
                                        <volist name="roleList" id="item">
                                            <option value="{$item['roleId']}">{$item['roleName']}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" id="user-search" data-reqtype="userList" data-con="user" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="user"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>用户Id</th>
                            <th>登录名</th>
                            <th>用户名</th>
                            <th>头像</th>
                            <th>电话号码</th>
                            <th>用户类型</th>
                            <th>注册来源</th>
                            <th>角色</th>
                            <th>注册时间</th>
                            <th>上次登录ip</th>
                            <th>最近登录时间</th>
                            <th>登录次数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="userTable">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div id="userPage" class="row page-div" data-url="{$url}" data-reqtype="userList" data-con="user">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-userInfo">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="info-loginName">登录名：</label>
                            <input id="info-userId" class="modal-info" title="userId" name="userId" type="hidden">
                            <input class="form-control modal-info" id="info-loginName" name="loginName" title="登录名" placeholder="登录名" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-userName">用户名：</label>
                            <input class="form-control modal-info" id="info-userName" name="userName" title="用户名" placeholder="用户名" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-avatar">头像：</label>
                            <input class="form-control modal-info" id="info-avatar" name="avatar" title="头像" placeholder="头像" type="text">
                            <input id="exampleInputFile" class="fileupdate" data-input="#info-avatar" type="file">
                        </div>

                        <div class="form-group">
                            <label for="info-password">密码：</label>
                            <input class="form-control modal-info" autocomplete="off" id="info-password" title="密码" name="password" placeholder="密码" type="password">
                        </div>
                        <div class="form-group">
                            <label for="info-phone">手机号码：</label>
                            <input class="form-control modal-info" id="info-phone" title="手机号码" name="phone" placeholder="手机号码" type="text">
                        </div>
                        <div class="form-group">
                            <label for="info-gender">性别：</label>
                            <select class="form-control modal-info" title="性别" name="gender" id="info-gender">
                                <option value="0">全部</option>
                                <option value="1">男性</option>
                                <option value="2">女性</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="info-userType">用户类型：</label>
                            <select class="form-control modal-info" title="用户类型" id="info-userType" name="userType">
                                <option value="0">全部</option>
                                <volist name="userType" id="item">
                                    <option value="{$key}">{$item}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="info-role">角色：</label>
                            <select class="form-control modal-info" title="角色" name="roleId" id="info-roleId">
                                <option value="0">全部</option>
                                <volist name="roleList" id="item">
                                    <option value="{$item['roleId']}">{$item['roleName']}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="btn-group user-status status-group" data-toggle="btn-toggle">
                                <input class="modal-info" id="info-status" value="1" name="status" type="hidden">
                                <button type="button" name="0" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-default"></i> 未激活 </button>
                                <button type="button" name="1" class="btn btn-default btn-sm active status-btn"><i class="fa fa-square text-green"> 激活 </i>
                                </button>
                                <button type="button" name="2" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-info"></i> 冻结 </button>
                                <button type="button" name="3" class="btn btn-default btn-sm status-btn"><i class="fa fa-square text-red"></i> 删除 </button>
                            </div>
                        </div>
                    </div>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save-info" data-con="user" data-reqtype="Add" data-url="{$url}" data-modal="true">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <script>
        /*查询列表函数*/
        function userSearchFuns(){
            datas['data']={}
            $(tabId+" .search-info").each(function(){
                var name=$(this).attr("name");
                var val=$(this).val();
                if(val!=""){
                    datas['data'][name]=val
                }
            })
        }
        function userReFuns(){
            $(tabId+" .user-status .status-btn").removeClass("active");
            $(tabId+" .user-status .status-btn[name='1']").addClass("active");
            $(tabId+" #info-status").val("1");
        }
        /*设置编辑用户信息*/
        function userShowFuns(info){
            $(tabId+" #info-userId").val(info['userId']);
            $(tabId+" #info-loginName").val(info['loginName']);
            $(tabId+" #info-userName").val(info['userName']);
            $(tabId+" #info-avatar").val(info['avatar']);
            $(tabId+" #info-phone").val(info['phone']);
            $(tabId+" #info-status").val(info['status']);
            $(tabId+" #info-password").val('');
            $(tabId+" #info-gender").find("option[value='"+info['gender']+"']").prop("selected",true);
            $(tabId+" #info-userType").find("option[value='"+info['userType']+"']").prop("selected",true);
            $(tabId+" #info-roleId").find("option[value='"+info['roleId']+"']").prop("selected",true);
            $(tabId+" .user-status .status-btn").removeClass("active");
            $(tabId+" .user-status .status-btn[name='"+info['status']+"']").addClass("active");
        }
        /*用户信息*/
        function userInfoFuns(){
            datas.data={}
            $(tabId+" .modal-info").each(function(){
                var name=$(this).attr("name");
                var val=$(this).val();
                if(name=="avatar" || name=="phone" || name=='password' || name=="userId"){                    
                }else{
                    if(val==""){
                        alert($(this).attr("title")+"不能为空")
                        throw "字段不能为空"
                    }
                }
                datas.data[name]=val
            })
            datas.data.status=$(tabId+" .status-group .active").attr("name")
        }
    </script>
</body>
</html>
