<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body search-body">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <label  class="control-label">登录名称：</label>
                                <div class="form-group">
                                    <input class="form-control search-info"  name="loginName" placeholder="登录名" type="text">
                                </div>
                                <label class="control-label">用户名：</label>
                                <div class="form-group">
                                    <input class="form-control search-info"  name="userName" placeholder="用户名" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="control-label">性别：</label>
                                    <select class="form-control search-info" name="gender" id="gender">
                                        <option value="">全部</option>
                                        <option value="1">男性</option>
                                        <option value="2">女性</option>
                                    </select>
                                </div>
                                <if condition="$nodeAuth egt 2">
                                    <div class="form-group">
                                        <button type="button" data-gettype="Add" data-toggle="modal"  data-vtarget=".global-modal" data-con="{$controlName}" data-url="{$url}" class="btn btn-info v-showmodal"><i class="fa fa-fw fa-user-plus"></i> 添加用户</button>
                                    </div> 
                                </if>
                            </div>
                            <br>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="userType" class="control-label">用户类型：</label>
                                    <select class="form-control search-info" id="userType" name="userType">
                                        <option value="">全部</option>
                                        <volist name="userType" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="status" class="control-label">状态：</label>
                                    <select class="form-control search-info" name="status" id="status">
                                        <option value="">全部</option>
                                        <volist name="userStatus" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="regFrom" class="control-label">注册来源：</label>
                                    <select class="form-control search-info" name="regFrom" id="regFrom">
                                        <option value="">全部</option>
                                        <volist name="regFrom" id="item">
                                            <option value="{$key}">{$item}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="info-roleId">角色：</label>
                                    <select class="form-control search-info" title="角色" name="roleId" id="roleId">
                                        <option value="">全部</option>
                                        <volist name="roleList" id="item">
                                            <option value="{$item['roleId']}">{$item['roleName']}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>用户Id</th>
                            <th>登录名</th>
                            <th>用户名</th>
                            <th>头像</th>
                            <th>电话号码</th>
                            <th>用户类型</th>
                            <th>注册来源</th>
                            <th>角色</th>
                            <th>注册时间</th>
                            <th>上次登录ip</th>
                            <th>最近登录时间</th>
                            <th>登录次数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div  class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        var user_initInfo =function(){
            upload({url:"{:U('Project/upload_filesAdd')}"})
            init_date();
        }
        $(function(){
            $(tabId+" .search-list").trigger("click");
        })
        /*查询列表函数*/
        // function userSearchFuns(){
        //     datas['data']={}
        //     $(tabId+" .search-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(val!=""){
        //             datas['data'][name]=val
        //         }
        //     })
        // }
        // function userReFuns(){
        //     $(tabId+" .user-status .status-btn").removeClass("active");
        //     $(tabId+" .user-status .status-btn[name='1']").addClass("active");
        //     $(tabId+" #info-status").val("1");
        // }
        /*设置编辑用户信息*/
        function user_setInfo(info){
            ['userId','loginName','userName','avatar','phone','birthday','id_card','email','bank_name','bank_card','wechat','alipay'].forEach(element => {
                $(tabId+" .modal-info[name='"+element+"']").val(info[element]);
            });
   
            $(tabId+" .modal-info[name='phone']").val(info['phone']);
            $(tabId+" .modal-info[name='password']").val('');
            $(tabId+" .modal-info[name='password']").removeAttr("required")
            $(tabId+" .modal-info[name='gender']").find("option[value='"+info['gender']+"']").prop("selected",true);
            $(tabId+" .modal-info[name='userType']").find("option[value='"+info['userType']+"']").prop("selected",true);

            $(tabId+" .modal-info[name='roleId']").find("option[value='"+info['roleId']+"']").prop("selected",true);
            set_status_btn($(tabId+" .modal-status .status-btn[name='"+info['status']+"']"))
        }
        /*用户信息*/
        // function userInfoFuns(){
        //     datas.data={}
        //     $(tabId+" .modal-info").each(function(){
        //         var name=$(this).attr("name");
        //         var val=$(this).val();
        //         if(name=="avatar" || name=="phone" || name=='password' || name=="userId"){                    
        //         }else{
        //             if(val==""){
        //                 alert($(this).attr("title")+"不能为空")
        //                 throw "字段不能为空"
        //             }
        //         }
        //         datas.data[name]=val
        //     })
        //     datas.data.status=$(tabId+" .status-group .active").attr("name")
        // }
    </script>
</body>
</html>
