<div class="modal-header">
    <span class="full-screen pull-right"><i class="fa fa-arrows-alt"></i></span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{$title}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="info-title">供应商名称：</label>
                <input  class="modal-info" title="companyId" name="companyId" type="hidden">
                <input class="form-control modal-info"  name="company" title="供应商名称"  placeholder="供应商名称" type="text">
            </div>
            <div class="form-group"> 
                <label class="control-label">供应商类型：</label>
                <select class="form-control modal-info chosen-suptype chosen-select" title="供应商类型" name="type">
                    <option value="">全部</option>
                    <volist name="supTypeList" id="item">
                        <option value="{$item.basicId}">{$item.name}</option>
                    </volist>
                </select>
            </div>
            <div class="form-group">
                <label for="info-title">供应商别名：</label>
                <input class="form-control modal-info" required="required" name="alias" title="供应商别名" placeholder="供应商别名" type="text">
            </div>
            <div class="form-group">
                <label >省份：</label>
                <select class="form-control modal-info input-sm" data-city="modal-info" title="省份" name="provinceId">
                    <option value="">省份</option>
                    <volist name="province" id="item">
                        <option value="{$item.pid}">{$item.province}</option>
                    </volist>
                </select>
            </div>
            <div class="form-group">
                <label >城市：</label>
                <select class="form-control modal-info input-sm" title="省份" name="cityId">
                </select>
            </div>
            <div class="form-group">
                <label for="info-title">联系地址：</label>
                <input class="form-control modal-info" name="address" title="联系地址" placeholder="联系地址" type="text">
            </div>
            <div class="form-group">
                <label for="info-title">备注：</label>
                <input class="form-control modal-info" name="remarks" title="备注" placeholder="备注" type="text">
            </div>
            <div class="form-group">
                <div class="btn-group modal-status status-group" data-toggle="btn-toggle">
                    <input class="modal-info"  value="0" name="status" type="hidden">
                    {:modal_btn(get_defined_vars())}
                </div>
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
    {:save_btn(get_defined_vars())}
</div>