<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <style>
        
    </style>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">成本列表</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {:add_btn(get_defined_vars(),"成本录入")}
                        
                    </div>
                    <div class="box-body search-body company-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                
                                <div class="form-group">
                                    <label class="control-label">项目名称：</label>
                                    <input class="form-control search-info input-sm" name="company" placeholder="项目名称" type="text">
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label">项目编号：</label>
                                    <input class="form-control search-info input-sm" name="alias" placeholder="公司别名" type="text">
                                </div>
                                <div class="form-group">
                                    <label >项目主担：</label>
                                    <select class="form-control search-info input-sm" data-city="search-info" title="项目主担" name="provinceId">
                                        <option value="">项目主担</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:0.95em;overflow-x: auto;">
                <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;">
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>项目编号</th>
                            <th>项目主担</th>
                            <th>营业主担</th>
                            <th>供应商数量</th>
                            <th>合同总额</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div  class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-lg modal-full">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        function cost_insert_initInfo(gettype){
            if(gettype=="Add"){
                init_chosen("{$url}","getProjectOne",".create-rece");
                init_chosen("{$url}","getProjectOne",$(tabId).find(".supr-list tbody tr"));
                init_date();
            }
            // init_chosen("{$url}","getProjectOne",".global-modal");
            // init_date();
            upload({url:"{:U('Project/upload_filesAdd')}"})
        }
        function cost_insert_setInfo(info){
            if(info["list"] == undefined){
                ["code","leader_name","business_name","leader"].forEach(element => {
                    $(tabId+" .global-modal .project-info[name='"+element+"']").val(info[element]);
                });
            }else{
                $(tabId+" .global-modal .supr-list tbody").html("");
                ["project_id","code","leader_name","business_name","leader"].forEach(element => {
                    $(tabId+" .global-modal .project-info[name='"+element+"']").val(info.list[0][element]);
                });
                ["project_id"].forEach(element => {
                    $(tabId+" .global-modal .modal-info[name='"+element+"']").val(info.list[0][element]);
                    init_chosen("{$url}","getProjectOne",".global-modal");
                });
                var status = 0
                var user_id = 0
                var gettype = $(tabId+" .global-modal .modal-footer").find(".save-info").data("gettype");
                info.list.forEach(function(supritem,rows){
                    
                    if( supritem["status"] > status){
                        status = supritem["status"]
                    }
                    
                    user_id = supritem["user_id"]
                    $(tabId+" .global-modal .supr-list tbody").append(info.template);
                    var $current = $(tabId+" .global-modal .supr-list tbody tr").eq(rows);
                    $current.find(".serial").text(Number(rows+1));

                    ["id","type","supplier_com","supplier_cont","module","contract_amount","sign_date","advance_date","offer_file","contract_file","remark","region"].forEach(element => {
                        if(!$current.find(".modal-info[name='"+element+"']").hasClass("chosen-select")){
                            if(element=="region"){
                                if(supritem["province_name"] && supritem["city_name"]){
                                    $current.find(".modal-info[name='"+element+"']").val(supritem["province_name"]+"-"+supritem["city_name"]);
                                }
                                
                            }else{
                                $current.find(".modal-info[name='"+element+"']").val(supritem[element]);
                            }
                            
                        }else{
                            
                            if(element == 'supplier_cont'){
                                console.log(element)
                                console.log(supritem[element])
                            }
                            if(supritem[element]>0){
                                if($current.find(".modal-info[name='"+element+"']").find("option[value='"+supritem[element]+"']").length==0 && supritem[element] && supritem[element+"_name"] ){
                                    $current.find(".modal-info[name='"+element+"']").append("<option value='"+supritem[element]+"'>"+supritem[element+"_name"]+"</option>")
                                }
                                $current.find(".modal-info[name='"+element+"']").find("option[value='"+supritem[element]+"']").prop("selected",true);
                            }
                        }

                        // $(tabId+" .global-modal .modal-info[name='"+element+"']").val(supritem[element]);
                    });

                    
                    
                    if(( status > 0 || user_id != "{$Think.session.userId}") && "{$nodeAuth}"<7 && status !=3 && gettype !="Add"){
                        // $current.find(".modal-info").prop("disabled",true)
                        $current.find("input").prop("disabled",true)
                        $current.find(".chosen-select").prop("disabled",true)
                    }
                    init_chosen("{$url}","getProjectOne",$current);
                    init_date(false,$current);
                });
            }
            if(( status > 0 || user_id != "{$Think.session.userId}") && "{$nodeAuth}"<7 && status !=3 && gettype !="Add"){
                $(tabId+" .chosen-select").prop("disabled",true)
                $(tabId+" .global-modal").find(".add-suprcompany").parent().remove();
            }
            // console.log(status)
            // console.log(user_id)
            // console.log("{$nodeAuth}")
            // console.log("{$Think.session.userId}")
            
        }
        function cost_insert_getInfo(){
            var project_id = $(tabId+" .modal-info[name='project_id']").val()
            var leader = $(tabId+" .modal-info[name='leader']").val()
            var status = $(tabId+" .modal-info[name='status']").val()
            datas["data"] = []
            $(tabId+" .global-modal .supr-list tbody tr").each(function(){
                var tempSupr = {project_id:project_id,status:status,leader:leader}
                $(this).find(".modal-info").each(function(){
                    var name = $(this).attr("name")
                    var val = $(this).val()
                    var required=$(this).attr("required");
                    var title=$(this).attr("title");
                    if(required=="required" && val==""){
                        notice(110,title,"输入异常");
                        throw title
                    }else{
                        tempSupr[name]=val;
                    }

                })
                datas["data"].push(tempSupr);
            })
        }
        $(function(){
            $(tabId+" .search-list").trigger("click");
            $(tabId).offon("change"," .modal-info[name='project_id']",function(){
                var project_id = $(this).val()
                if(Number(project_id)>0){
                    datas["reqType"]='getProjectOne';
                    datas["onlydata"]='true';
                    datas["gettype"]='Edit';
                    datas["id"]=project_id;
                    get("{$url}",datas,function(result){
                        if(result.data){
                            result.data['project_id'] = result.data['projectId'];
                            cost_insert_setInfo(result.data)
                        }
                    })
                }
            });
            $(tabId).offon("change"," .modal-info[name='supplier_com']",function(){
                var province_name = $(this).find("option:selected").data("province_name");
                var city_name = $(this).find("option:selected").data("city_name");
                if(province_name && city_name){
                    $(this).parents("tr").find(".modal-info[name='region']").val(province_name+"-"+city_name);
                }
                
                
            });
            $(tabId).offon("click",".add-suprcompany",function(){
                datas["reqType"]='getSuprLiOne';
                datas["rows"]=$(tabId+" .global-modal .supr-list tr").length;
                var rows = datas["rows"];
                get("{$url}",datas,function(result){
                    $(tabId+" .global-modal .supr-list").append(result.html);
                    init_chosen("{$url}","getProjectOne",$(tabId+" .global-modal .supr-list tr").eq(rows));
                    init_date(false,$(tabId+" .global-modal .supr-list tr").eq(rows));
                })
            })
            $(tabId).offon("click",".supr-remove",function(){
                $(this).parents("tr").remove();
            })
            // $(tabId).off("change"," .modal-info[name='project_id']").on("change"," .modal-info[name='project_id']",function(){
            //     console.log(this)
            // })
        })
        
    </script>
</body>
</html>
