<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('admintitle')}</title>
    <eq name="load" value="true">
        <include file="Index/Heads" /> 
    </eq>
    <link rel="stylesheet" href="__ADMINT__/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-plus-square"></i>
                        <h4 class="box-title">项目采购成本审批</h4>
                        
                    </div>
                    <div class="box-body search-body company-search-box">
                        <div class="col-md-12">
                            <div class="form-inline">
                                
                                <div class="form-group">
                                    <label class="control-label">项目名称：</label>
                                    <input class="form-control search-info input-sm" name="company" placeholder="项目名称" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">项目编号：</label>
                                    <input class="form-control search-info input-sm" name="alias" placeholder="项目编号" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">供应商名称：</label>
                                    <input class="form-control search-info input-sm" name="alias" placeholder="供应商名称" type="text">
                                </div>
                                <div class="form-group">
                                    <label >供应商类型：</label>
                                    <select class="form-control search-info input-sm" data-city="search-info" title="供应商类型" name="provinceId">
                                        <option value="">供应商类型</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >项目主担：</label>
                                    <select class="form-control search-info input-sm" data-city="search-info" title="项目主担" name="provinceId">
                                        <option value="">项目主担</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}" class="btn search-list btn-primary"><i class="fa fa-fw fa-search"></i> 搜索 </button>
                                    <button type="button" class="btn bg-teal search-refresh" data-con="{$controlName}"><i class="fa fa-fw fa-refresh"></i> 重置 </button>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="font-size:0.95em;overflow-x: auto;">
                <div class="count-div {$controlName}-count" style="margin:10px;font-weight: 800;">
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>项目编号</th>
                            <th>项目主担</th>
                            <th>营业主担</th>
                            <th>供应商名称</th>
                            <th>供应商类型</th>
                            <th>供应商联系人</th>
                            <th>合同总额</th>
                            <th>最迟签署日期</th>
                            <th>预付款日期</th>
                            <th>备注</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="{$controlName}-table">
                        {$tables}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dataTables_wrapper">
            <div  class="{$controlName}-page row page-div" data-url="{$url}" data-reqtype="{$controlName}List" data-con="{$controlName}">
                {$pages}
            </div>
        </div>
    </section>
    <div class="modal fade global-modal" aria-hidden="true" data-backdrop="static"  >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <script>
        function purcha_apply_initInfo(gettype){
            // init_date();
            // init_chosen("{$url}","getProjectOne",".global-modal");
            // init_chosen("{$url}","getProjectOne",".global-modal");
            // init_date();
            upload({url:"{:U('Project/upload_filesAdd')}"})
        }
        function purcha_apply_setInfo(info){
            ["brand_name","code","project_date","project_name","end_date","leader_name","supplier_com_name","type_name","supplier_cont_name","supplier_cont_phone","supplier_cont_email","module_name","province_name","contract_amount","sign_date","remark","contract_file"].forEach(element => {
                
                if(element=="province_name"){
                    $(tabId+" .project-info[name='supplier_com_region']").val(info["province_name"]+"-"+info["city_name"]);
                }else{
                    $(tabId+" .project-info[name='"+element+"']").val(info[element]);
                }
            });
            ["id","contract_file"].forEach(element => {
                // console.log(info[element])
                $(tabId+" .modal-info[name='"+element+"']").val(info[element]);
            });
            ["suprpay-list","suprfina-list","invoice-list"].forEach(element => {
                if(info["tableData"][element]["list"]){
                    var list = info["tableData"][element]["list"];
                    var template = info["tableData"][element]["template"];
                    
                    var allMoney = 0;
                    list.forEach(function(listData,rows){
                        $(tabId+" .global-modal ."+element+" tbody").append(template);
                        var $current = $(tabId+" .global-modal ."+element+" tbody tr").eq(rows);
                        $current.find(".serial").text(Number(rows+1));
                        for (var key in listData) {
                            if(key == "pay_money" || key == "invoice_money"){
                                allMoney += float(listData[key],2);
                            }
                            $current.find(".modal-info[name='"+key+"']").val(listData[key]);
                        }
                        init_date(false,$current);
                    });
                    if(element == "suprfina-list"){
                        $(tabId+" .project-info[name='paid']").val(allMoney);
                        $(tabId+" .project-info[name='surplus']").val(float(info["contract_amount"])-float(allMoney));
                    }else if(element == "invoice-list"){
                        $(tabId+" .project-info[name='all_invoice']").val(info["contract_amount"]);
                        $(tabId+" .project-info[name='invoiced']").val(allMoney);
                        $(tabId+" .project-info[name='invoice_supr']").val(float(info["contract_amount"])-float(allMoney));
                    }
                }
            });
        }
        function purcha_apply_getInfo(){
            var purcha_id = $(tabId+" .purcha-id[name='id']").val()
            var status = $(tabId+" .modal-info[name='status']").val()
            var contract_file = $(tabId+" .modal-info[name='contract_file']").val()
            datas["contract_file"] = contract_file
            datas["purcha_id"] = purcha_id
            datas["data"] = {};
            ["suprpay-list","suprfina-list","invoice-list"].forEach(element => {
                datas["data"][element] = [];
                $(tabId+" .global-modal ."+element+" tbody tr").each(function(){
                if(element=="invoice-list"){
                    var tempSupr = {relation_type:"1",relation_id:purcha_id};
                }else{
                    var tempSupr = {purcha_id:purcha_id};
                    tempSupr["insert_type"] = element=="suprpay-list" ? 1 : 2; 
                }
                
                $(this).find(".modal-info").each(function(){
                    var name = $(this).attr("name");
                    var val = $(this).val();
                    var required=$(this).attr("required");
                    var title=$(this).attr("title");
                    if(required=="required" && val==""){
                        notice(110,title,"输入异常");
                        throw title;
                    }else{
                        tempSupr[name]=val;
                    }

                })
                datas["data"][element].push(tempSupr);
            })
            });
        }
        $(function(){
            $(tabId+" .search-list").trigger("click");

            $(tabId).offon("click",".add-purpay",function(){
                datas["reqType"]='getSuprpayLiOne';
                datas["rows"]=$(tabId+" .global-modal .suprpay-list tr").length;
                var rows = datas["rows"];
                get("{$url}",datas,function(result){
                    $(tabId+" .global-modal .suprpay-list").append(result.html);
                    init_chosen("{$url}","getProjectOne",$(tabId+" .global-modal .suprpay-list tr").eq(rows));
                    init_date(false,$(tabId+" .global-modal .suprpay-list tr").eq(rows));
                })
            })
            $(tabId).offon("click",".global-modal .suprpay-list .supr-remove",function(){
                $(this).parents("tr").remove();
            })

            $(tabId).offon("click",".add-suprfinapay",function(){
                datas["reqType"]='suprFinapayLiOne';
                datas["rows"]=$(tabId+" .global-modal .suprfina-list tr").length;
                var rows = datas["rows"];
                get("{$url}",datas,function(result){
                    $(tabId+" .global-modal .suprfina-list").append(result.html);
                    init_chosen("{$url}","getProjectOne",$(tabId+" .global-modal .suprfina-list tr").eq(rows));
                    init_date(false,$(tabId+" .global-modal .suprfina-list tr").eq(rows));
                })
            })
            $(tabId).offon("click",".global-modal .invoice-list .supr-remove",function(){
                $(this).parents("tr").remove();
            })
            $(tabId).offon("click",".add-invoice",function(){
                datas["reqType"]='suprInvoiceLiOne';
                datas["rows"]=$(tabId+" .global-modal .invoice-list tr").length;
                var rows = datas["rows"];
                get("{$url}",datas,function(result){
                    $(tabId+" .global-modal .invoice-list").append(result.html);
                    init_chosen("{$url}","getProjectOne",$(tabId+" .global-modal .invoice-list tr").eq(rows));
                    init_date(false,$(tabId+" .global-modal .invoice-list tr").eq(rows));
                })
            })
            $(tabId).offon("click",".global-modal .invoice-list .supr-remove",function(){
                $(this).parents("tr").remove();
            })
        })
    </script>
</body>
</html>
